@charset "utf-8";

@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }

/* ************** 레이아웃 ************* */
#navi{ 
    position: fixed; left: 0; top: 0; 
    z-index: 50; width: 100%;
}
#contents{}
#main{}
#about{ padding-bottom: 20vh; background-color: #5e62d1;}
#skill{ padding: 20vh 0; background-color:#5fecc8; }
#portfolio{ padding: 20vh 0; background-color: #e0e2ee; }
#video{ padding: 20vh 0; background-color: #5e62d1; }
#contact{ padding: 20vh 0; background-color: #e0e2ee;  }

/* ************ #NAVI ************ */
#navi .button{
    width: 60px; height: 60px;
    background:#fff;
    border-radius: 50%;
    margin: 2vh 1vw 2vh auto;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
}

/* ************ #MAIN ************ */
#main .m-box{ position: relative; height: 170vh; }
#main .m-box>div{ width: 50%; }
#main .m-box .m-left{
  position: relative; z-index: 10;
  background: #5e62d1; height: 100%;
}
#main .m-box .m-left h1{
  
}
#main .m-box .m-left h2{
  width: 38vw; 
  box-sizing: border-box;
  margin-left: 5vw ; 
  margin-top: 11vw ; 
}

#main .m-box .m-left .m-imgbox{
    position: absolute; left: 0; top: 75vh; 
    z-index: 20;
    width: 25vw; height: 75vh;
    overflow: hidden;
}
#main .m-box .m-left .m-img{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    background: url(../img/photo2.jpg) no-repeat;
    background-size: contain;
}

#main .m-box .m-left .deco{
    position: absolute; left: 19vw; top: 122vh; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff; font-size: 1vw;
    transform: rotate(-90deg);
    letter-spacing: 2px;
}

#main .m-box .m-left .ani_title{
    position: absolute; left: 34vw; top: 80vh;
    color: #fff; 
}
#main .m-box .m-left .ani_title li{ margin-bottom: 2.8vh; }
#main .m-box .m-left .ani_title li:nth-child(2){ display: none; }
#main .m-box .m-left .ani_title li:nth-child(3){ display: none; }
#main .m-box .m-left .ani_title li span{
    display: block; margin-bottom: 2.5vh;
    font-size: 0.9vw;
    color:#5fecc8; 
    letter-spacing: 0.2vw; font-weight: 300;
}
#main .m-box .m-left .ani_title li strong{
    display: block; color: #fff; 
    font-size: 1vw; 
    letter-spacing: 0.07vw;
    font-weight: 400;
    line-height: 1.4vw;
}

#main .m-box .m-right{
    position: absolute; top: 0; right: 0;
    z-index: 5; height: 100%;
    background: #DFE2EE;
}


/* ************ #ABOUT ************ */
.about{ display: flex; }
.about .about-title{
    width: 23%; 
}
.about .about-title h2{
    font-size: 5vw; line-height: 5vw;
    color: #5fecc8;  
    padding: 6vh 3vw;
    letter-spacing: 0.1vw;
    font-weight: 600;
}

.about .about-pages{
    width: 77%; 
    padding: 19vh 6vw 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.about-pages .a-box{
  width: 24%; 
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
}
.about-pages .a-box:nth-child(2){margin-top: 19vh;}
.about-pages .a-box:nth-child(3){margin-top: 9vh;}
.about-pages .a-box .a-tit{
  position: relative;
}
.about-pages .a-box figure{
  width: 10vw; height: 15vh;
  position: absolute; left: -3vw; top: 0;
}
.about-pages .a-box figure svg{ width: 100%; height: 100%;}
.about-pages .a-box .a-tit h3{
  position: relative; z-index: 5;
  color: #fff; font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 6.5vh;
  margin-bottom: 4.5vh;
}
.about-pages .a-box p{
  font-size: 1.1vw; line-height: 1.4;
  color: #fff;
  font-family: 'S-CoreDream-3Light';
  margin-bottom: 6vh;
}
.about-pages .a-box .a-imgbox{
  position: relative;
  width: 100%; height: 50vh;
  overflow: hidden;
  margin-bottom: 3vh;
  background-color: #fff;
}
.about-pages .a-box .a-imgbox .a-img{
  width: 100%; height: 100%;
  position: absolute; left: 0; top: 0;
}
.about-pages .a-box:nth-child(1) .a-imgbox .a-img{ 
  background: url(../img/photo6.jpg) no-repeat; 
  background-size: cover; 
}
.about-pages .a-box:nth-child(2) .a-imgbox .a-img{ 
  background: url(../img/photo6.jpg) no-repeat; 
  background-size: cover;
}
.about-pages .a-box:nth-child(3) .a-imgbox .a-img{ 
  background: url(../img/photo6.jpg) no-repeat; 
  background-size: cover;
}




/**************** skill ************************/
#skill .s-title{ text-align: center; margin-bottom: 12vh;}
#skill .s-title h2{
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 0.2vw;
    color: #5e62d1;
    text-transform: uppercase;
    line-height: 6vw;
}
#skill .s-title span{
  display: block; margin-bottom: 4vh;
  font-size: 1.3vw; font-weight: 400;
  color: #5e62d1;
}
#skill .s-banner{
  margin: 0 auto;
  width: 98vw;
  height: 16vh;
  box-sizing: border-box;
  color: #676acc;
  overflow: hidden;
  margin-bottom: 8vh;
}
#skill .s-banner .s-ban{
  margin: 0 auto;
  width: 95vw; height: 16vh;
  border-top: 1px solid rgba(94, 98, 209,0.5);
  border-bottom: 1px solid rgba(94, 98, 209,0.5);
  box-sizing: border-box;
}
#skill .b-content{
  width: 95vw;
  margin: 0 auto;
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 6s linear infinite;
}
@keyframes scrolling{
  0%    { transform: translateX(-70vw); }
  100% { transform: translateX(0vw); }
}

#skill .b-content li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  flex-shrink: 0;
  font-size: 3vw;
  white-space: nowrap;
  margin-left: 5vw;
  font-weight: 700;
  /* background-color: #fff; */
}
#skill .b-content li:nth-child(odd){
  -webkit-text-stroke: 1px #5e62d1;
  color: transparent;
}
#skill .s-img{  width: 40vw; margin: 0 auto 12vh; }

#skill .skill-bar{ width: 40vw; margin: 0 auto; }
 #skill .skill-bar>div{
  width: 40vw; height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1vh 1vw;
  border-top: 1px solid #5e62d1;
  position: relative;
}
#skill .skill-bar>div:last-child{  border-bottom: 1px solid #5e62d1; }

#skill .skill-bar .name{
  flex-basis: 1;
  color: #5e62d1;
  font-size: 1.3vw; font-weight: 500;
}
#skill .skill-bar .loader{
  flex-basis: 3;
  height: 2.5vh;
  background-color: #5e62d1;
  /* transition: all ease 1.2s; */
}
#skill .skill-bar>div:nth-child(1) .loader{ width: 90%; }
#skill .skill-bar>div:nth-child(2) .loader{ width: 85%; }
#skill .skill-bar>div:nth-child(3) .loader{ width: 65%; }
#skill .skill-bar>div:nth-child(4) .loader{ width: 70%; }
#skill .skill-bar>div:nth-child(5) .loader{ width: 80%; }
#skill .skill-bar>div:nth-child(6) .loader{ width: 70%; }

#skill .skill-bar .percent{
  flex-basis: 1;
  color: #5e62d1;
  font-size: 1.3vw;
  font-weight: 700;
  margin-left: auto;
}
#skill .skill-bar>div:hover .percent{ color: #fff;} 



/* ************** portfolio Area ************* */
#portfolio .p-title{ margin-bottom: 15vh; }
#portfolio .p-title h2{
  position: relative; padding-left: 5vw;
}
#portfolio .p-title h2 span{
  display: block;
  font-size: 7vw;
  font-weight: 700;
  -webkit-text-stroke: 1px #5e62d1;
  color: transparent;
  letter-spacing: 0.2vw;
}
#portfolio .p-title h2 span svg{ width: 100%; height: 100%; }
#portfolio .p-title h2 strong{
  position: absolute; top: 7vh; left: 8vw;
  font-size: 7vw;
  font-weight: 700; color: #5e62d1;
}

.p-content{
  display: flex; width: 98vw;
}
.p-content .p-menu{
  width: 20vw;
  display: flex; 
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 15vh;
}
.p-content .p-menu li{ margin-bottom: 3vh; }
.p-content .p-menu li a{
  display: block; width: 100%; height: 100%;
  padding: 1vw; box-sizing: border-box;
  font-size: 1.3vw; color: #5e62d1;
  font-weight: 700;
}
.p-content .p-menu li a:hover{
  background-color: #5e62d1;
  color: #fff;
}

.p-content .p-con{
  width: 75vw; 
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
.p-content .p-con>div{
  box-sizing: border-box;
  border-top: 1px solid rgba(94, 98, 209,0.5);
  padding: 4vw;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* .p-content .p-con>div::after{
  display: block; content: '';
  position: absolute; left: 0; top: -100%;
  width: 100%; height: 100%;
  background-color: rgba(160, 163, 253, 0.1);
  transition: all 0.3s linear;
} */
/* .p-content .p-con>div:hover::after{ top: 0; } */
.p-content .p-con>div:last-child{ border-bottom: 1px solid rgba(94, 98, 209,0.5); }
.p-content .p-con>div .p-img{
  width: 45vw; height: 50vh;
  background: url(../img/responsive.jpg) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin-right: 4vw;
}
.p-content .p-con>div .p-text{
  width: 40vw; position: relative;
}
.p-content .p-con>div .p-text h3{
  margin-top: 5vh;
  font-weight: 700;
  font-size: 2.3vw;
  color: #5e62d1;
  position: relative;
}
.p-content .p-con>div .p-text p{
  margin: 5vh 0 7vh;
  font-size: 1.2vw; color: #5e62d1;
  font-family: 'S-CoreDream-3Light';
  box-sizing: border-box;
}
.p-content .p-con>div .p-text .p-button{
  box-sizing: border-box;
  width: 9vw; height: 7vh;
  background: url(../img/logobg.png) no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: 3vw;
  position: relative;
}
.p-content .p-con>div .p-text .p-button a{
  position: absolute; left: 1.1vw; top: -2.3vh;
  display: block;
  width: 8.5vw; height: 5.8vh;
  background-color: #5fecc8;
  border: 3px solid #5e62d1;
  text-align: center; line-height: 5.8vh;
  font-size: 1.1vw; letter-spacing: 0.1vw;
  font-weight: 700; color: #5e62d1;
}
.p-content .p-con>div .p-text .p-button a:hover{
  left: 0; top: 0.1vh;
  background-color: #5e62d1;
  border: 3px solid #5fecc8;
  color: #5fecc8;
}

/* ************** video Area ************* */
#video{ display: flex; }
#video .video-title{  
  width: 50%;
  margin: 0 !important;
  position: relative;
}
#video .video-title h2{ 
    font-size: 7.5vw; font-weight: 700;
    line-height: 7vw;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0 4vw;
    -webkit-text-stroke: 1px #5fecc8;
    color: transparent;
    margin-bottom: 13vh;
}
#video .video-title h2 span{ color:#5fecc8; -webkit-text-stroke: 0; }
#video .video-title .v-deco1{
  padding: 0 4vw;
  font-weight: 400;
  color: #fff; font-size: 1.3vw;
  letter-spacing: 0.05vw;
}
#video .video-title .v-deco1 li:nth-child(odd){ color:#5fecc8; }
#video .video-title .v-deco1 ul{ display: flex; flex-wrap: wrap; }
#video .video-title .v-deco1 li{ margin-right: 2vw; margin-bottom: 1.5vh; }

#video .video-pages{ width: 50%; padding-top: 13vh; }
#video .video-pages .video{ margin-bottom: 7vh; }
#video .video-pages .video iframe{ width: 45vw; height: 55vh; }

#video .v-banner{
  width: 15vw;
  height: 10vh;
  background: #fff;
  color: #676acc;
  overflow: hidden;
  position: relative;
}
#video .v-banner::after{
  content: ' '; display: block;
  width: 15vw; height: 10vh;
  position: absolute; left: 0; bottom: -10vh;
  transition: all ease 0.8s;
  background: #5fecc8; 
}
#video .v-banner:hover::after{  
  transition: all ease 0.8s;
  position: absolute; left: 0; bottom: 0;
}
#video .v-bancon{
  list-style: none;
  height: 100%;
  display: flex;
  animation: vban 3s linear infinite;
  position: relative; z-index: 20;
}
@keyframes vban{
  0%    { transform: translateX(0vw); }
  100% { transform: translateX(-7vw); }
}

#video .v-bancon li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  flex-shrink: 0;
  margin-left: 2vw;
  font-size: 1vw;
  white-space: nowrap;
  font-weight: 600;
  color: #676acc;
}


/* ************** contact Area ************* */
#contact{ display: flex; }
#contact .con-left{ width: 70%; }
#contact .con-right{ width: 30%; }
#contact .con-left h2{
  font-size: 5vw; font-weight: 500;
  color:#676acc;
  /* letter-spacing: 40px; */
  padding: 0 6vw;
  line-height: 5.5vw;
  margin-bottom: 10vh;
}
#contact .con-left .contact{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 6vw;
}
#contact .contact input{
  width: 40%;
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(103, 106, 204, 0.5);
  box-sizing: border-box;
  padding: 1vw;
  margin-right: 4%;
  margin-bottom: 8vh;
}
#contact .contact input:nth-child(even){ margin-right: 0; }
#contact .contact input::placeholder{
  color:#676acc; font-weight: 700;
  font-size: 0.8vw; 
}
#contact .contact .c-but{
  width: 80%; margin-top: 5vh;
}
#contact .contact .c-button{
  box-sizing: border-box;
  width: 10vw; height: 7vh;
  background: url(../img/logobg.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
}
#contact .contact .c-button a{
  position: absolute; left: 1.1vw; top: -2.3vh;
  display: block;
  width: 9.5vw; height: 5.8vh;
  background-color: #5fecc8;
  border: 3px solid #5e62d1;
  text-align: center; line-height: 5.8vh;
  font-size: 1.1vw; letter-spacing: 0.1vw;
  font-weight: 700; color: #5e62d1;
}
#contact .contact .c-button a:hover{
  left: 0; top: 0.1vh;
  background-color: #5e62d1;
  border: 3px solid #5fecc8;
  color: #5fecc8;
}


#contact .contact button::before,
#contact .contact button::after{
  content: ''; display: block;
  width: 15px; height: 100%;
  position: absolute; 
  box-sizing: border-box;
  border-top: 2px solid #676acc;
  border-bottom: 2px solid #676acc;
}
#contact .contact button::before{ left: 0; top: 0; }
#contact .contact button::after{ right: 0; top: 0; }

#contact .con-right ul{
  display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 15vh;
  position: relative;
}
#contact .con-right ul::before{
  display: block; content: '';
  position: absolute; left: 2.5vw; top: -5vh;
  width: 220px; height: 220px;
  border: 1px solid #5fecc8;
  transform: rotate(45deg);
}
#contact .con-right li a{
  display: block; font-size: 3.2vw;
  font-weight: 700;
  -webkit-text-stroke: 1.5px #676acc;
  color: transparent;
  line-height: 4vw;
  letter-spacing: 0.2vw;
  position: relative; z-index: 5;
}
#contact .con-right li a:hover{
  -webkit-text-stroke: 0;
  color: #676acc;
}


