@charset"utf-8";
/* layout */
body {overflow-x: hidden;}
#contents {}
#section1 {margin-bottom: 10vh;}
#section2 {margin-bottom: 40vh;}
#section3 {margin-bottom: 40vh;}
#section4 {margin-bottom: 30vh;}
#section5 {}
/* container */
.container {padding: 60px;}
/* grid_wrap */
.grid_wrap {position: fixed; pointer-events: none; z-index: 9000; top: 0; left: 60px; bottom: 0; right: 60px;}
.grid_wrap .grid > div {position: absolute; top: 0; left: 0; width: 1px; height: 0vh; background-color: rgba(255, 255, 255, .1);}
.grid_wrap .grid > div:nth-of-type(1) {margin-left: 23%; transition: height 0.4s 0.1s ease-in;}
.grid_wrap .grid > div:nth-of-type(2) {margin-left: 38%; transition: height 0.4s 0.2s ease-in;}
.grid_wrap .grid > div:nth-of-type(3) {margin-left: 85%; transition: height 0.4s 0.3s ease-in;}
.grid_wrap .grid.show div:nth-of-type(1) {height: 100vh;}
.grid_wrap .grid.show div:nth-of-type(2) {height: 100vh;}
.grid_wrap .grid.show div:nth-of-type(3) {height: 100vh;}
/*afterintro*/
.afterintro{position: fixed; top: 25px; left: 25px; font-size: 1.3vw; transition: 0.8s; transform: translate(0,0);}
/*섹션별 타이틀*/
.con-tit {font-size:20px; font-weight: 400; line-height: 1em; margin: 0vh 0 15vh 0; display: block; color: #fff; font-family: 'Montserrat', sans-serif; transform: translateX(-10vw);}
.con-tit.view {transform: translateX(0); transition:1s;}
/*섹션별 페이지넘버*/
.con-num {width: 15%; float: left; position: relative; overflow: hidden;}
.con-num span{color: #fff; display: inline-block; font-size: 1em; z-index: 9955; transform: translateX(-5vw); margin-top: 22vh;}
.con-num span.view{transform: translateX(0); transition:1s; transition-delay: 0.6s;}
/*픽스드 메뉴*/
.fixed-nav {display: none;}
.fixed-nav .nav{z-index: 7000; text-align: center; position: fixed; display: flex; align-items: flex-end;/*flex end:항목의 첫 열이 교차축 방향의 끝선에 정렬*/ top: 60px; left: 100%; height: 80px; transform: rotateZ(90deg); transform-origin: 0% 0%;} 
.fixed-nav .nav li{font-size: 0.9em; margin-right: 5vh; font-weight: 400;}
.fixed-nav .nav li a{color: #FFF; position: relative; display: inline-block; font-family: 'Montserrat', sans-serif;}
.fixed-nav .nav li a:before {content: ""; display: block; background-color: #fff; width: 6px; border-radius: 50%; height: 6px; position: absolute; top: 0; left: 50%; transition: all 400ms cubic-bezier(0.3, 0, 0, 1); transform: scale(0) translate(-50%, -1.2em);
transform-origin: 0% 100%; backface-visibility: hidden; transform-style: preserve-3d;}	
.fixed-nav .nav li a.active:before {transform: scale(1) translate(-50%, -1.2em);}

/*--------섹션 : 컨텐츠-----------*/
/* sec1 */
.sec1 {width: 100%; height: 100vh;}
/*sec1 인트로 효과*/
.reload {width: 16vw; height:15vh;  display: block; position: fixed; top: 25px; left: 25px;
z-index: 99999999; cursor: pointer;}
.sec1 .ltext {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff; font-family: 'Montserrat'; font-size: 4vw; text-transform: uppercase; white-space: nowrap;}
.sec1 .ltext.afterintro {position: fixed; top: 25px; left: 25px; transform: translate(0,0); font-size: 1.3vw; transition: 0.8s;}
.sec1 .ltext .t1 {font-size: 1.3em; line-height: .9em; letter-spacing: .05em; font-weight: 700; }
.sec1 .ltext .t2 {font-size: 2.3em; line-height: 1em; letter-spacing: .03em; font-weight: 900; clear: both;}
.sec1 .ltext .t3 {font-size: 1.02em; line-height: 1.1em; font-weight: 300; clear: both;}
.sec1 .ltext em {display: block; }
.sec1 .ltext .text-ani {display: inline-block; overflow: hidden; float: left;}
.sec1 .ltext .tani1 > em  {transform: translateX(-120px); transition: transform 1.7s 1.7s ease;}
.sec1 .ltext .tani2 > em  {transform: translateY(-100px); transition: transform 0.8s 0.8s ease;}
.sec1 .ltext .tani3 > em  {transform: translateY(100px); transition: transform 1.6s 1.6s ease;}
.sec1 .ltext .tani4 > em  {transform: translateY(-100px); transition: transform 0.9s 0.9s ease;}
.sec1 .ltext .tani5 > em  {transform: translateX(180px); transition: transform 1.5s 1.5s ease;}
.sec1 .ltext .tani6 > em  {transform: translateY(-100px); transition: transform 1.0s 1.0s ease;}
.sec1 .ltext .tani7 > em  {transform: translateY(100px); transition: transform 1.4s 1.4s ease;}
.sec1 .ltext .tani8 > em  {transform: translateY(160px); transition: transform 1.1s 1.1s ease;}
.sec1 .ltext .tani9 > em  {transform: translateX(-160px); transition: transform 1.2s 1.2s ease;}
.sec1 .ltext .tani10 > em {transform: translateY(-160px); transition: transform 1.9s 1.9s ease;}
.sec1 .ltext .tani11 > em {transform: translateX(-160px); transition: transform 0.85s 0.85s ease;}
.sec1 .ltext .tani12 > em {transform: translateX(160px); transition: transform 1.85s 1.85s ease;}
.sec1 .ltext .tani13 > em {transform: translateY(160px); transition: transform 1.3s 1.3s ease;}
.sec1 .ltext .tani14 > em {transform: translateY(-160px); transition: transform 0.65s 0.65s ease;}
.sec1 .ltext .tani15 > em {transform: translateX(-160px); transition: transform 1.75s 1.75s ease;}
.sec1 .ltext .tani16 > em {transform: translateX(160px); transition: transform 1.05s 1.05s ease;}
.sec1 .ltext .tani17 > em {transform: translateY(160px); transition: transform 1.65s 1.65s ease;}
.sec1 .ltext .tani18 > em {transform: translateX(-160px); transition: transform 1.15s 1.15s ease;}
.sec1 .ltext .tani19 > em {transform: translateY(160px); transition: transform 1.55s 1.55s ease;}
.sec1 .ltext .tani20 > em {transform: translateY(-160px); transition: transform 1.25s 1.25s ease;}
.sec1 .ltext .tani21 > em {transform: translateX(160px); transition: transform 1.45s 1.45s ease;}
.sec1 .ltext .tani22 > em {transform: translateY(160px); transition: transform 1.35s 1.35s ease;}
.sec1 .ltext .tani23 > em {transform: translateY(-160px); transition: transform 0.9s 0.9s ease;}
.sec1 .ltext .tani24 > em {transform: translateX(160px); transition: transform 0.6s 0.6s ease;}
.sec1 .ltext .tani25 > em {transform: translateY(160px); transition: transform 1.1s 1.1s ease;}
.sec1 .ltext .tani26 > em {transform: translateX(-160px); transition: transform 0.95s 0.95s ease;}
.sec1 .ltext .tani27 > em {transform: translateX(160px); transition: transform 0.75s 0.75s ease;}
.sec1 .ltext .tani28 > em {transform: translateY(160px); transition: transform 1.8s 1.8s ease;}
.sec1 .ltext .tani29 > em {transform: translateY(-160px); transition: transform 1.06s 1.06s ease;}
.sec1 .ltext .tani30 > em {transform: translateX(-160px); transition: transform 1.9s 1.9s ease;}
.sec1 .ltext .tani31 > em {transform: translateX(160px); transition: transform 1.6s 1.6s ease;}
.sec1 .ltext .tani9 > em, .sec1 .ltext .tani10 > em {letter-spacing: 0.27em;}
/*.ltext 동작*/
#section1.show .sec1 .ltext span em {transform: translateX(0px);}
/* mainEffect */
.mainEffect {font-family:'Montserrat', sans-serif;position: absolute; top: 50%;
left: 51.5%; transform: translate(-50%, -50%); width: 100%;}
.text-m {margin-top: -3vh;}
.text-m .tm-wrap{position: relative;}
.text-m .tm-wrap:after {content: ''; clear: both; display: block;}
.text-m .tm-wrap .tm1{width: 14vw; display: block; text-indent: -1vw; float: left; height: 15vw; overflow: hidden; font-family: 'Montserrat'; }
.text-m .tm-wrap .tm1:nth-of-type(2) {text-indent: 0.2vw; width: 14.3vw;}
.text-m .tm-wrap .tm1:nth-of-type(3) {text-indent: 1.5vw;}
.text-m .tm-wrap .tm1 em{color: #fff; font-size: 17.5vw; font-weight: bold; line-height: 15vw; transform: translateX(-18vw); display: block;}
.text-m.show .tm-wrap .tm1 em {transform: translateX(0); transition: all 1400ms cubic-bezier(0.115, 0.905, 0.32, 1);}
.text-m .tm-wrap .tm2{width: 14vw; display: block; text-indent:1.5vw; float: left; height: 15vw; overflow: hidden;}
.text-m .tm-wrap .tm2:nth-of-type(2) {text-indent:0.6vw;}
.text-m .tm-wrap .tm2:nth-of-type(3) {text-indent:0.8vw; width: 16vw;}
.text-m .tm-wrap .tm2 em{color: #fff; font-size: 17.5vw; font-weight: bold; line-height: 15vw; transform: translateX(-18vw); display: block;}
.text-m.show .tm-wrap .tm2 em {transform: translateX(0); transition: all 1400ms cubic-bezier(0.115, 0.905, 0.32, 1); transition-delay: 1s;}
.text-m .tm-wrap .tm3{width: 14vw; display: block; text-indent:-1vw; float: left; height: 15vw; overflow: hidden;}
.text-m .tm-wrap .tm3:nth-of-type(2) {text-indent:4.8vw;}
.text-m .tm-wrap .tm3:nth-of-type(3) {text-indent:1vw; width: 16vw;}
.text-m .tm-wrap .tm3 em{color: #fff; font-size: 17.5vw; font-weight: bold; line-height: 15vw; transform: translateX(-18vw); display: block;}
.text-m.show .tm-wrap .tm3 em {transform: translateX(0); transition: all 1400ms cubic-bezier(0.115, 0.905, 0.32, 1); transition-delay: 2s;}
/* sec2 */
.sec2 {padding: 10% 0;}
.sec2:after {content: ''; clear: both;display: block;}
.sec2 .about {color: #fff; width: 47%; font-size: 4.5vw; line-height: 1em; font-family: 'Montserrat', sans-serif; overflow: hidden;}
.awrap {overflow: hidden; display: block; height: 12vh; font-family: 'S-CoreDream-3Light'; margin-bottom: 1.3vh;}
/*about:텍스트 효과*/
.atext-e {transform: translateY(14vh); display: block; }
.at {transform: translateY(14vh); display: block; }
.at.show {transition:transform 0.8s; transform: translateY(0px); }
/* sec3 */
.sec3 {margin-top: 5vw;}
.sec3 .port1 {width: 47%; overflow: hidden;}
.sec3 .port1 .portext-top {width: 100%; font-family: 'Montserrat', sans-serif;}
.sec3 .port1 .portext-top .port-tbox .text-left{font-size: 17vw; display: inline-block; line-height: .8em; color: #fff; font-weight: bold;}
.sec3 .port2 {width: 62%;}
.sec3 .port2 .portext-top {width: 100%; font-family: 'Montserrat', sans-serif;}
.sec3 .port2 .portext-top .port-tbox .text-left{font-size: 17vw; display: inline-block; line-height: .8em; color: #fff; font-weight: bold;}
.sec3 .port2 .portext-top .port-tbox .mdash {}
.sec3 .port2 .portext-top .port-tbox .mdash span {width: 12vw; height: 3vw; background-color: #fff; line-height: 1em; display: inline-block; margin-bottom: 40%; box-sizing: border-box;}
.sec3 .port3 {width: 47%;}
.sec3 .port3 .portext-top {width: 100%; font-family: 'Montserrat', sans-serif;}
.sec3 .port3 .portext-top .port-tbox .text-left{font-size: 17vw; display: inline-block; line-height: .8em; color: #fff; font-weight: bold;}
.sec3 .port3 .portext-top .port-tbox .mdash {}
.sec3 .port3 .portext-top .port-tbox .mdash span {width: 12vw; height: 3vw; background-color: #fff; line-height: 1em; display: inline-block; margin-bottom: 40%; box-sizing: border-box;}
/*result:텍스트효과*/
.text-left {overflow: hidden;}
.text-left span {display: block; }
.text-left .me-t1,.text-left .me-t2,.text-left .me-t3,
.text-left .me-t4,.text-left .me-t5,.text-left .me-t6,.text-left .me-t7,.text-left .me-t8,
.text-left .me-t9,.text-left .me-t10,.text-left .me-t11 {transform:translateX(-16vw);}

.text-left.show .me-t1,.text-left.show .me-t2, .text-left.show .me-t3,.text-left.show .me-t4, 
.text-left.show .me-t5,.text-left.show .me-t6,.text-left.show .me-t7,.text-left.show .me-t8,
.text-left.show .me-t9,.text-left.show .me-t10,.text-left.show .me-t11 {transition:all 0.9s;}

.text-left.show .me-t1,.text-left.show .me-t2,.text-left.show .me-t3,
.text-left.show .me-t4,.text-left.show .me-t5,.text-left.show .me-t6,
.text-left.show .me-t7,.text-left.show .me-t8,.text-left.show .me-t9,
.text-left.show .me-t10,.text-left.show .me-t11{transform:translateX(0); transition-delay:0.2s;}

/*프로젝트결과물*/
.project-wrap {position: relative;}
.p-images {margin-top: 0; width: 100%; position: relative;}
.p-img-list {position: absolute; top: 0; left: 0;}
.p-img-list.p-mobile {top: 10vh; width: 23%;}
.p-img-items {position: relative;}
.p-img-list .p-img-items li {position: absolute; overflow: hidden;}
.p-img-list img {width: 100%; display: inline-block; height: auto; opacity: 0;transform:  scale(1.2, 1.2) rotate(10deg);}
.p-img-list img.show {opacity: .75; transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1); transform:  scale(1, 1) rotate(0deg);}
.p-img-list.p-mobile.view {top: 0; transition:top 1400ms cubic-bezier(0.215, 0.61, 0.355, 1);}
.p-img-list.p-mobile {top: 45vh;}
.p-img-list.p-desktop {left: 38%; top: 120vh; width: 47%;}
.p-img-list.p-desktop.view {top:50vh; transition:top 1400ms cubic-bezier(0.215, 0.61, 0.355, 1);}
.p-img-list.p-mood.view {top:10vh; transition:top 1400ms cubic-bezier(0.215, 0.61, 0.355, 1);}
.p-img-list.p-mood {left: 85%; top: 40vh; width: 15%;}
.project-img>img{width: 100%; height: 100%;}
.re {box-sizing: border-box; display: flex;  flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; position: relative;}
.re-r-big {width: 47%;}
.re-os-2 {margin-left: 38%;}
.no-list {font-size: 2.7vw; margin-top: 20vh;}
.no-list li {line-height: 1.2em; padding-left: 2em; margin-bottom: .5em; position: relative; overflow: hidden; display: block;}
.no-list li:before {transition: transform 1200ms cubic-bezier(0.115, 0.905, 0.32, 1); transform: translateX(-200%); display: block; position: absolute; top: 0; left: 0; font-size: 1.2vw; color: #fff;}
.no-list.in-view li:before {transform: translateX(0%);}
.no-list li:first-of-type:before {content: "I.";}
.no-list li:nth-of-type(2):before {content: "II.";}
.no-list li:nth-of-type(3):before {content: "III."}
.no-list li:nth-of-type(4):before {content: "IV.";}
.no-list li:nth-of-type(5):before {content: "V.";}
.no-list li a {transition: transform 1200ms cubic-bezier(0.115, 0.905, 0.32, 1);}
.no-list a {color: #fff; display: inline-block;  font-family: 'Montserrat', sans-serif; font-weight: 500;}
.no-list.in-view li a {transform: translateY(0%);}
.no-list a:before {display: block; content: ""; position: absolute; width: 100%; height: 4px; bottom: 0; background-color: #fff; transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
 transform: scale(0, 1); transform-origin: 0 0;}
.no-list.in-view a.active:before, .no-list.in-view a:hover:before {transform: scale(1, 1);}
/*dream 텍스트 이펙트:섹션2의 바텀부분*/
.dream {width: 62%; margin-top: 25vh;}
.dream .ab-text{font-weight: 800; overflow: hidden; text-transform: uppercase; font-size: 8vw; line-height: 0.9em;  position: relative; margin-left: 2%;}    
.dream .ab-text .abt{overflow: hidden;}
.dream.show .ab-text .abt em{transform: translateY(0);}
.dream .ab-text .abt em {display: block; transform: translateY(45vh) scale(1, 1); color: #FFF; transition: all 1400ms cubic-bezier(0.115, 0.905, 0.32, 1);}
.dream .ab-text .abt:nth-of-type(1) em {}
.dream .ab-text .abt:nth-of-type(2) em {transition-delay: 0.6s;}
.dream .ab-text .abt:nth-of-type(3) em {color: #000;  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; transition-delay: 1.2s;}
.dream-b {width: 47%; margin-top: 10vh; overflow: hidden;}
.dream-b .arrow{width: 8%; margin-right: 15%; transition: transform 600ms cubic-bezier(0.85, 0, 0.115, 0.995);
position: relative; overflow: hidden; float: left;}
.dream-b .arrow svg {transition: transform 1200ms cubic-bezier(0.55, 0, 0.115, 0.995); transform:translateX(-101%);
width: 100%; height: auto;}
.dream-b.show .arrow svg {transform: translateX(0); transition-delay: 1.6s;}
.dream-b .address {float: left; transform: translateX(50vw);
transition: transform 1800ms cubic-bezier(0.55, 0, 0.115, 0.995); transition-delay: 1.6s;}
.dream-b.show .address {transform: translateX(0);}
.dream-b .address h2{margin: 0; font-size: 1.1vw; font-weight: bold; text-transform: uppercase; letter-spacing: .1em; color: #fff;}
.dream-b .address .email{}
.dream-b .address .email address{}
.dream-b .address .email address a{margin-top: .2em; position: relative; display: block; line-height: 1.2em; font-weight: 300; font-size: 1.5vw; color: #fff;}
/*결과물보여주기*/
.frw {margin-top: 70vh ; }
.result-wrap {transform: translate3d(0px, 0px, 0px); font-family: 'Montserrat'; margin-top: 50vh;}
.result-wrap .rw-t {position: relative; height: 100vh; padding-top: 22vh; box-sizing: border-box;}
.result-wrap .rw-t .rwt-num {position: absolute; overflow: hidden; right: 15%; top: 0;}
.result-wrap .rw-t .rwt-num span {color: #fff; font-size: 1vw; display: inline-block;  transform: translateX(16vw);}
.result-wrap.show .rw-t .rwt-num span {transform: translateX(0); transition: all 1200ms cubic-bezier(1, 0, 0, 1);}
.result-wrap .rw-t .rwt-tit {width: 100%;}
.result-wrap .rw-t .rwt-tit h3 {font-size: 0; text-transform: uppercase; font-weight: 700; overflow: hidden; margin-left: 7%;}
.result-wrap .rw-t .rwt-tit h3 span{position: relative; line-height: .9em; font-size: 12vw; display: inline-block; color: #fff; transform: translateY(20vh);}
.result-wrap.show .rw-t .rwt-tit h3 span {transform: translateY(0);transition: all 1100ms cubic-bezier(1, 0.3, 0.6, 1); transition-delay: 1s; }
.result-wrap.show .rw-t .rwt-tit .rt-d2 { transition-delay: 1.4s;}
.result-wrap.show .rw-t .rwt-tit .rt-d3 { transition-delay: 1.8s;}
.result-wrap .rw-t .rwt-tit-img {position: relative; margin-left: 23%; width: 62%;}
.result-wrap .rw-t .rwt-tit-img .imgwrap {background-color: #000; position: absolute; overflow: hidden; top: -2em;}
.result-wrap .rw-t .rwt-tit-img .imgwrap img {width: 100%; opacity: .9; height: 100%; display: block; transform: translateY(70vh)}
.result-wrap.show .rw-t .rwt-tit-img .imgwrap img {transform: translateY(0); transition: all 1600ms cubic-bezier(1, 0.3, 0.6, 1); transition-delay: 0.4s; }
.result-wrap .rw-t .rwt-tit .h3secound {z-index: 5000;}
.frw2 .rw-t .rwt-tit h3 span {font-size: 9vw;}
.frw2 .rw-t .rwt-tit {margin-left: 13%;}
.frw4 .rw-t .rwt-tit h3 span {font-size: 9vw;}
.frw4 .rw-t .rwt-tit {margin-left: 13%;}
.frw4 .ip1 {margin-left: 20% !important;}
.result-wrap .rw-about {margin-top: 25vh; position: relative;}
.result-wrap .rw-about .about-thema{margin-left: 23%; width: 47%; overflow: hidden;}
.result-wrap .rw-about .about-thema ul{width: 100%; transform: translateY(50vh);}
.result-wrap .rw-about.show .about-thema ul{transform: translateY(0); transition: 0.9s;}
.result-wrap .rw-about .about-thema ul li {font-size: 1.7em; font-weight: 500; color: #fff;}
.result-wrap .rw-about .about-thema ul li:first-child {font-size: 3em; font-weight: 700;}
.result-wrap .rw-about .about-thema ul li span {display: block;}
.result-wrap .rw-about .about-detail {overflow: hidden; margin-left: 38%; width: 47%; margin-top: 12vh; color: #fff; }
.result-wrap .rw-about .about-detail p {font-size: 2.2vw; line-height: 1.5em; font-family: 'S-CoreDream-3Light'; transform: translateY(50vh);}
.result-wrap .rw-about.show .about-detail p {transform:translateY(0); transition: 0.9s; transition-delay: 1s;}
.result-wrap .rw-about .about-detail p:nth-child(2) {text-align: center; margin-top: 10vh;}
/*visit 버튼*/
.goweb-box {overflow: hidden; height: 60px;position: relative; margin-top: 5vh;}
.goweb{position: absolute; top: 0; display: block; left: 38.3%; width: 200px;transform:translateY(20vw);
height: 60px; font-size: 24px; color: #fff; letter-spacing: 4px; text-align: center; line-height: 60px; font-weight: 500;}
.rw-about.show .goweb{transform:translateY(0); transition: 0.9s;  transition-delay: 1.2s;}
.goweb svg,.goweb svg rect {position: absolute; top: 0; left: 0; width: 100%; height: 100%; fill:transparent;}
.goweb svg rect {stroke:#fff; stroke-width:5; transition: 2s; stroke-dasharray:60 200;/*점선 or 도트선등 간격으로 띄울수있다*/stroke-dashoffset:320;/*간격60+60+200*/}
.goweb:hover svg rect  {stroke: #fff; stroke-dasharray:200 60; stroke-dashoffset:0;}
/*sec4*/
.sec4 {position: relative;}
/*abilityEffect:텍스트효과*/
.abilityEffect {width: 100%; position: relative;}
.abilityEffect .abA {position: absolute; left: 50%; top: 50%; transform: translate(-63%, -50%);  margin-top: 70vh;}
.abilityEffect .abA > div {position: relative; font-size: 17vw; line-height: 14vw; color: #fff; font-family: 'Montserrat'; font-weight:bold; white-space: nowrap;}
.abilityEffect .abA  > div:nth-child(1) {}
.abilityEffect .abA  > div:nth-child(2) {margin-left: 28%;}
.abilityEffect .abA  > div:nth-child(3) {}
.abilityEffect .abA  > div > span {overflow: hidden; display: inline-block; margin-right: -2.5vw;}
.abilityEffect .abA  > div > .ae-t7{margin-right: -0.5vw;}
.abilityEffect .abA  > div > span > em {display: block; transform: translateX(0px)}
.abilityEffect .abA  > div > .ae-t1> em,
.abilityEffect .abA  > div > .ae-t2> em,
.abilityEffect .abA  > div > .ae-t3> em,
.abilityEffect .abA  > div > .ae-t4> em,
.abilityEffect .abA  > div > .ae-t5> em,
.abilityEffect .abA  > div > .ae-t6> em,
.abilityEffect .abA  > div > .ae-t7> em,
.abilityEffect .abA  > div > .ae-t8> em,
.abilityEffect .abA  > div > .ae-t9> em {transform:translateX(-16vw);}

.abilityEffect .abA  > div > .ae-t1.show > em, 
.abilityEffect .abA  > div > .ae-t2.show > em, 
.abilityEffect .abA  > div > .ae-t3.show > em, 
.abilityEffect .abA  > div > .ae-t4.show > em, 
.abilityEffect .abA  > div > .ae-t5.show > em, 
.abilityEffect .abA  > div > .ae-t6.show > em, 
.abilityEffect .abA  > div > .ae-t7.show > em {transition:all 1.2s;}
.abilityEffect .abA  > div > .ae-t8.show > em {transition:all 1.2s; text-indent:1vw;}
.abilityEffect .abA  > div > .ae-t9.show > em {transition:all 1.2s; text-indent:2vw;}
.abilityEffect .abA  > div > .ae-t1.show > em ,
.abilityEffect .abA  > div > .ae-t2.show > em {transform:translateX(0);}
.abilityEffect .abA  > div > .ae-t3.show > em ,
.abilityEffect .abA  > div > .ae-t4.show > em ,
.abilityEffect .abA  > div > .ae-t5.show > em ,
.abilityEffect .abA  > div > .ae-t6.show > em {transform:translateX(0);}
.abilityEffect .abA  > div > .ae-t7.show > em ,
.abilityEffect .abA  > div > .ae-t8.show > em ,
.abilityEffect .abA  > div > .ae-t9.show > em {transform:translateX(0); }
.ab-tit {margin-left: 38%; overflow: hidden;}
.ab-tit .con-tit{display: block; transform: translateX(-15vw); transition:all 0.8s; transition-delay: 0.6s;}
.ab-tit.show .con-tit{transform: translateX(0);}
.ab-bottom {position: relative; margin-top: 140vh;}
.ab-bottom .ab-count {width: 15%; height: 26vh; position: absolute; top: 0; left: 23%; overflow: hidden;}
.ab-bottom .ab-count .counter {position: relative; height: 100%; text-align: center;}
.ab-bottom .ab-count .counter ul {margin-top: -2vw; width: 900%; height: 100%;color: #000; overflow:visible; text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;  position: absolute; }
.ab-bottom .ab-count .counter ul li {width: 9%; font-size: 15vw; line-height: 15vw; font-weight: 800; text-indent: -0.2vw;
float: left; margin-right: 2%;}
.ab-bottom .ab-count.show .counter ul {transform: translateX(-87%); transition: all 2000ms cubic-bezier(0.85, 0, 0.115, 0.995);}
.ab-detail {font-size: 3vw;color: #fff; z-index: 999; position: absolute; left:24.5%; top: 26vh; letter-spacing: 7px;} 
/*ability chart*/
.chart-wrap {margin-left: 38%; width:47%; font-family: 'Montserrat'; position: relative;}
.skill-wrap { color: #fff; font-size: 1.2vw; font-family: 'Montserrat', sans-serif;  width: 95%; margin: 0 auto;}
.skill-wrap .pie {position: relative;}
.skill-wrap strong {display: block; margin: 0 auto; font-size: 1.5vw; text-align: center; position: absolute; top: 55%; left: 50%; transform: translate(-50%,-50%);}
.skill-wrap span {display: block; font-size: 1.6vw; width: 10vw; text-align: center; font-weight: bold; margin: 0 auto; }
.skill-wrap strong:after {content:'%'; }
.skill-wrap .skill ul {width: 540px; margin: 0 auto;}
.skill-wrap .skill ul:after {content: ''; display: block; clear: both;}
.skill-wrap .skill ul li {float: left; width: 220px; margin-right: 100px; margin-top: 5vh;}
.skill-wrap .skill ul li:nth-of-type(2n) {margin-right: 0;}
/*animationEffect:텍스트효과*/
.animation-effect {width: 100%; height: 100vh; margin-top: 20vh; position: relative;}
.animation-effect .ani-e {position: absolute; left: 50%; top: 50%; transform: translate(-63%, -50%);}
.animation-effect .ani-e > div {position: relative; font-size: 17vw; line-height: 14vw; color: #fff; font-family: 'Montserrat'; font-weight:bold; white-space: nowrap;}
.animation-effect .ani-e  > div:nth-child(1) {}
.animation-effect .ani-e  > div:nth-child(2) {margin-left: 28%;}
.animation-effect .ani-e  > div:nth-child(3) {}
.animation-effect .ani-e  > div > span {overflow: hidden; display: inline-block; margin-right: -2.5vw;}
.animation-effect .ani-e  > div > .ae-t7{margin-right: -0.5vw;}
.animation-effect .ani-e  > div > span > em {display: block; transform: translateX(0px)}
.animation-effect .ani-e  > div > .ae-t1> em {transform:translateX(-16vw);}
.animation-effect .ani-e  > div > .ae-t2> em {transform:translateX(-16vw);}
.animation-effect .ani-e  > div > .ae-t3> em {transform:translateX(-16vw);}
.animation-effect .ani-e  > div > .ae-t4> em {transform:translateX(-16vw);}
.animation-effect .ani-e  > div > .ae-t5> em {transform:translateX(-16vw);}
.animation-effect .ani-e  > div > .ae-t6> em {transform:translateX(-16vw);}
.animation-effect .ani-e  > div > .ae-t7> em {transform:translateX(-16vw); text-indent:-1.5vw;}
.animation-effect .ani-e  > div > .ae-t8> em {transform:translateX(-17vw); text-indent:2.5vw;}
.animation-effect .ani-e  > div > .ae-t9> em {transform:translateX(-17vw);  text-indent:0.5vw;}

.animation-effect .ani-e  > div > .ae-t1 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t2 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t3 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t4 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t5 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t6 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t7 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t8 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t9 > em.show  {transition:all 1.2s;}
.animation-effect .ani-e  > div > .ae-t1 > em.show  ,
.animation-effect .ani-e  > div > .ae-t2 > em.show  ,
.animation-effect .ani-e  > div > .ae-t3 > em.show  {transform:translateX(0);}
.animation-effect .ani-e  > div > .ae-t4 > em.show  ,
.animation-effect .ani-e  > div > .ae-t5 > em.show  ,
.animation-effect .ani-e  > div > .ae-t6 > em.show  {transform:translateX(0);}
.animation-effect .ani-e  > div > .ae-t7 > em.show  ,
.animation-effect .ani-e  > div > .ae-t8 > em.show  ,
.animation-effect .ani-e  > div > .ae-t9 > em.show  {transform:translateX(0);}
.an-tit {margin-left: 38%; overflow: hidden;}
.an-tit .con-tit{display: block; transform: translateX(-15vw); transition:all 0.8s; transition-delay: 0.6s;}
.an-tit.show .con-tit{transform: translateX(0);}
/*에니메이션 결과물*/
.anibox {position: relative; margin-top: 20vh;font-family: 'Montserrat'; overflow: hidden;}
.anibox .ani-t {position: relative;  width: 62%;}
.anibox .ani-t h3 {text-transform: uppercase; font-size: 7.5vw; line-height: .9em; font-weight: bold; color: #fff;}
.anibox .ani-t h3 span {display: block; overflow: hidden; transition: all 1200ms cubic-bezier(0.115, 0.905, 0.32, 1);}
.anibox .ani-t h3 span em{ transition: all 1200ms cubic-bezier(0.115, 0.905, 0.32, 1); display: block; transform: translateY(150%) scale(1, 1);}
.anibox .ani-t h3 span:nth-of-type(2) em {text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; color: #000; transition-delay:0.5s;}
.anibox.show .ani-t h3 span em{transform: translateX(0%);}
.anibox .ani-list {position: relative; margin-top: 30vh; width: 100%; transform:translateY(50vh); transition: all 1250ms cubic-bezier(0.85, 0, 0.115, 0.995); height: 40vh; }
.anibox .ani-list.show {transform:translateY(0); }
.anibox .ani-list .ani-shower{margin-top: 20vh; }
.anibox .ani-list .ani-shower li{position: absolute; transform: translate(-50%, -50%);
display: none; left: 10%; top: 50%; }
.anibox .ani-list .ani-mok {width: 47%; }
.anibox .ani-list .ani-mok .mok-list{width: 100%; font-size: 2.7vw; color: #fff;	}
.anibox .ani-list .ani-mok .mok-list li {line-height: 1.2em;  padding-left: 2em; margin-bottom: .5em;  position: relative; overflow: hidden; display: block; cursor:pointer; opacity: 0.3;}
.anibox .ani-list .ani-mok .mok-list li.cl {opacity: 1;}
.anibox .ani-list .ani-mok .mok-list li:before {content: "I."; display: block; position: absolute; top: 0; left: 0; font-size: 1.3vw; }
.anibox .ani-list .ani-mok .mok-list li.cl:after {opacity: 1; left: 90%;  transition: 1.5s; }
.anibox .ani-list .ani-mok .mok-list li:nth-of-type(2):before {content: "II.";}
.anibox .ani-list .ani-mok .mok-list li:nth-of-type(3):before {content: "III.";}
.anibox .ani-list .ani-mok .mok-list li:nth-of-type(4):before {content: "IV.";}
.anibox .ani-list .ani-mok .mok-list li span {cursor: pointer; display: inline-block; }
.ani-itduce {width:42vw; height: 15vh;  margin-left: 37.7%; color: #fff; font-size: 1.5vw;font-family: 'S-CoreDream-3Light'; margin-top: 7vh; position: relative; overflow: hidden; }
.ani-itduce li {position: absolute; opacity: 0; left: 1vh; transform: translateY(40vh); transition: 0.6s; padding-left: 6vh; transition-delay: transform 0.6s;}
.ani-itduce.show li {transform: translateY(0);}
.ani-itduce li:before {content: '1'; position: absolute; left: 0; top: 0; width: 2vw; height: 2vw; background: gold;  text-align: center;}
.ani-itduce li:nth-of-type(2):before {content: '2';  background-color: skyblue;}
.ani-itduce li:nth-of-type(3):before {content: '3';  background-color: lightcoral;}
.ani-itduce li:nth-of-type(4):before {content: '4';  background-color: darkslateblue;}
.ani-itduce li.show {opacity: 1;}
/*sec6*/
.sec6 {}
/*contactEffect:텍스트효과*/
.contact-effect{width: 100%; height: 100vh; margin-top: 5vh; position: relative;}
.contact-effect .cn-e {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.contact-effect .cn-e > div {position: relative; font-size: 17vw; line-height: 14vw; color: #fff; font-family: 'Montserrat'; font-weight:bold; white-space: nowrap;}
.contact-effect .cn-e  > div:nth-child(1) {}
.contact-effect .cn-e  > div:nth-child(2) {}
.contact-effect .cn-e  > div:nth-child(3) {}
.contact-effect .cn-e  > div > span {overflow: hidden; display: inline-block; margin-right: -2.5vw;}
.contact-effect .cn-e  > div > .ae-t7{margin-right: -0.5vw;}
.contact-effect .cn-e  > div > span > em {display: block; }
.contact-effect .cn-e  > div > .ae-t1> em {transform:translateX(-16vw);}
.contact-effect .cn-e  > div > .ae-t2> em {transform:translateX(-16vw);}
.contact-effect .cn-e  > div > .ae-t3> em {transform:translateX(-16vw);}
.contact-effect .cn-e  > div > .ae-t4> em {transform:translateX(-16vw);}
.contact-effect .cn-e  > div > .ae-t5> em {transform:translateX(-16vw); text-indent:1vw;}
.contact-effect .cn-e  > div > .ae-t6> em {transform:translateX(-16vw); text-indent:1vw;}
.contact-effect .cn-e  > div > .ae-t7> em {transform:translateX(-17vw);  text-indent:1vw;}
.contact-effect .cn-e  > div > .ae-t1> em.show {transition:all 1.2s; text-indent:0.5vw; }
.contact-effect .cn-e  > div > .ae-t2> em.show {transition:all 1.2s;}
.contact-effect .cn-e  > div > .ae-t3> em.show {transition:all 1.2s;}
.contact-effect .cn-e  > div > .ae-t4> em.show {transition:all 1.2s;}
.contact-effect .cn-e  > div > .ae-t5> em.show {transition:all 1.2s;}
.contact-effect .cn-e  > div > .ae-t6> em.show {transition:all 1.2s;}
.contact-effect .cn-e  > div > .ae-t7> em.show {transition:all 1.2s;}
.contact-effect .cn-e  > div > .ae-t1> em.show ,
.contact-effect .cn-e  > div > .ae-t2> em.show ,
.contact-effect .cn-e  > div > .ae-t3> em.show {transform:translateX(0);}
.contact-effect .cn-e  > div > .ae-t4> em.show ,
.contact-effect .cn-e  > div > .ae-t5> em.show ,
.contact-effect .cn-e  > div > .ae-t6> em.show ,
.contact-effect .cn-e  > div > .ae-t7> em.show {transform:translateX(0);}
.cn-tit {margin-left: 38%; overflow: hidden;}
.cn-tit  .con-tit{display: block; transform: translateX(-15vw); transition:all 0.8s; transition-delay: 0.6s;}
.cn-tit.show .con-tit{transform: translateX(0);}
/*컨텍트섹션 컨텐츠*/
.mycontact {width: 62%; z-index: 90;}
.mycontact .contact-text {position: relative; overflow: hidden; font-weight:700; font-size:7vw; text-transform: uppercase; font-family: 'Montserrat'; color: #fff; line-height: 0.9em; }
.mycontact .contact-text .cnt-t {display: inline-block; transition: all 1200ms cubic-bezier(0.115, 0.905, 0.32, 1); overflow: hidden;}
.mycontact .contact-text .cnt-t em {display: block; transform: translateY(150%) scale(1, 1); transition: all 1200ms cubic-bezier(0.115, 0.905, 0.32, 1);}
.mycontact .contact-text .cnt-t:nth-of-type(3) em {text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; color: #000;}
.mycontact .contact-text .cnt-t em.view {transform: translateX(0%);}
.mycontact .contact-text .cnt-t:nth-of-type(2) em.view {transition-delay: 0.6s;}
.mycontact .contact-text .cnt-t:nth-of-type(3) em.view {transition-delay: 1.2s;}
.mycontact .contact-text .cnt-t:nth-of-type(4) em.view {transition-delay: 1.8s;}
.pic-inner {width: 15vw; height: 18vw; margin-top: -18vw; overflow: hidden;}
.contact-pic .pic-inner img{height: 100%; width: 100%; display: block;  transform: translateX(40vw) scale(2.1); transition: transform 1800ms cubic-bezier(0.55, 0, 0.115, 0.995);}
.contact-pic .pic-inner.view img {transform: translateX(0) scale(1);}
.email-sns {width: 47%; margin-top: 7vh; overflow: hidden;}
.email-sns .arrow-icon{width: 10%; margin-right:15%; transition:transform 600ms cubic-bezier(0.85, 0, 0.115, 0.995); position: relative; overflow: hidden; display: inline-block;}
.email-sns .arrow-icon img {transition: transform 1200ms cubic-bezier(0.55, 0, 0.115, 0.995); width: 100%; height: auto; transform: translateX(-101%);}
.email-sns .arrow-icon img.view {transform: translateX(0); transition-delay: 0.3s;}
.email-sns .arrow-icon.impact {transform:translateX(4.4vw)scale(0.7) rotate(12deg); transition: transform 800ms cubic-bezier(0.55, 0, 0.115, 0.995);}
.email-address {color: #fff; font-family: "Montserrat", sans-serif; display: inline-block; overflow: hidden;}
.email-address h2 {margin: 0; font-size: 0.8vw; text-transform: uppercase; letter-spacing: 0.1em; font-weight: 400; line-height: 1em; display: inline-block; transform: translateY(201%); transition: all 800ms cubic-bezier(0.115, 0.905, 0.32, 1); transition-delay: 0.5s;}
.email-address h2 span { }
.email-address.view h2 {transform: translateY(0%);}
.email-address2 {width: 62%; margin-left:25%; overflow: hidden;}
.email-address2 a {margin-top: .5em; position: relative; display: block;  overflow: hidden; line-height: 1.5em; font-weight: 300; font-size: 2.09vw; color: #fff; background-color: transparent; width: 90%; transform: translateY(30vh); transition: transform 800ms cubic-bezier(0.115, 0.415,0.720 , 0.995);}
.email-address2.view a{transform: translateY(0);}
.email-address2 a:before {display: block; content: ""; position: absolute; width: 90%; height: 2px; bottom: 0; background-color: #fff; transition: transform 600ms cubic-bezier(0.115, 0.415,0.720 , 0.995); transform: scale(0, 0); transform-origin: 0 0;}
.email-address2 a:hover:before {transform: scale(1, 1);}
.social {margin-top: 15vh; color: #fff;  font-family: "Montserrat", sans-serif; overflow: hidden; margin-left: 25%; overflow: hidden; transform: translateY(60vh);transition: transform 600ms cubic-bezier(0.115, 0.415,0.720 , 0.995); }
.social.view {transform: translateY(0);}
.social h2 {margin-bottom: 10vh; font-size: 1vw; line-height: 1em; transform: translateY(-20vh); transition: transform 1000ms cubic-bezier(0.115, 0.415,0.720 , 0.995);}
.social.view h2 { transform: translateY(0);}
.social .social-icon {width: 60%; height: 8vh; overflow: hidden;}
.social .social-icon:after {content: ''; display: block; clear: both;}
.social .social-icon li {width: 20.5%; float: left; height: 100%; margin-right: 6%;  overflow: hidden; transition: transform 750ms cubic-bezier(0.85, 0, 0.115, 0.995); transform: translateY(-20vh); }
.social .social-icon li:last-child {margin-right: 0;}
.social .social-icon li a {display: block; width: 100%; height: 100%; }
.social .social-icon li a:before {display: block; content: ""; position: absolute; width: 100%; height: 2px; bottom: 0; background-color: #fff; transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1); transform-origin: 0 0; transform: scale(0, 1);}
.social .social-icon li a:hover:before {transform: scale(1, 1);}
.social .social-icon.view li  {transform: translateY(0);}
.social .social-icon li a img {width: 100%;height: 100%;}
.social strong {font-size: 0.7vw; font-weight: normal;}
.myform {width: 72%; margin-top: 4vh; transform: translateY(50vh); transition:1s;}
.myform.show {transform: translateY(0);}
.myform .myemail {background: none; border: none; border-bottom: 1px solid #fff !important; width: 100%; height: 5vh; font-size: 1.5vw; padding: 5px; display: block;}
.myform .myemail-post {display: block; width: 92%; padding: 20px; background: none; margin-top: 4vh; height: 15vh; border: 1px solid #fff !important; font-size: 0.85vw;}
.myform .myemail-send { display: block; width: 40%; height: 5vh; margin: 2vh auto; border: 1px solid #fff; background: none; color: #fff; font-size: 1.05vw; cursor: pointer;}

/*캔버스+커서이벤트*/
#canv {position: fixed; left: 0; top: 0; z-index: -1;}
.cursor {
	position: absolute;
	border: 2px solid #fff;
	width: 55px; height: 55px;
	border-radius: 50%;
	z-index: 1000;
	user-select: none;
	pointer-events: none;
	transition: transform 0.6s ease-in-out, border 0.2s ease-in-out;
	mix-blend-mode: difference;
}
.cursor.active {
	transform: scale(2);
	border: 0;
	background: #fff;
}