/* layout */
#contents {}
#section1 {height: 3000px; background: #000;}
#section2 {height: 3000px; background: #000;}
#section3 {height: 3000px; background: #000;}
#section4 {height: 100vh; background: red;}
#section5 {height: 100vh; background: yellow;}
#section6 {height: 100vh; background: green;}

/* container */
.container {padding: 60px;}

/* grid_wrap */
.grid_wrap {
    position: fixed;
    pointer-events: none;
    z-index: 9000;
    top: 0; left: 60px;bottom: 0; right: 60px;
}
.grid_wrap .grid > div {position: absolute; top: 0; left: 0; width: 1px; height: 100vh; background-color: rgba(255, 255, 255, .1);}
.grid_wrap .grid > div:nth-of-type(1) {margin-left: 23%;}
.grid_wrap .grid > div:nth-of-type(2) {margin-left: 38%;}
.grid_wrap .grid > div:nth-of-type(3) {margin-left: 85%;}

/* common */
.lp1 {margin-left: 23%;}
.lp2 {margin-left: 38%;}
.lp3 {margin-left: 85%;}

.con-tit {font-size:20px;
    font-weight: 400;
    line-height: 1em;
    margin: 5vh 0 15vh 0;
    display: block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;}
.con-num {width: 15%;
    float: left;
    position: relative;}
.con-num span{color: #fff;
    display: block;
    font-size: .95em;
    position: absolute;
    padding-top: 22vh;}

/*메뉴*/
.fixed-nav {}
.fixed-nav .nav{z-index: 7000;
    text-align: center;
    position: fixed;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
	/*flex end:항목의 첫 열이 교차축 방향의 끝선에 정렬*/
    top: 60px;
    left: 100%;
    height: 80px;
    transform: rotateZ(90deg);
    transform-origin: 0% 0%;
   }
.fixed-nav .nav li{font-size: 0.9em;
    margin-right: 5vh;
	font-weight: 400;}
.fixed-nav .nav li a{color: #FFF;
	position: relative;
    display: inline-block;
	font-family: 'Montserrat', sans-serif;}
.fixed-nav .nav li a:before {content: "";
    display: block;
    background-color: #fff;
    width: 6px;
    border-radius: 50%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 400ms cubic-bezier(0.3, 0, 0, 1);
    transform: scale(0) translate(-50%, -1.2em);
    transform-origin: 0% 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
	}

.fixed-nav .nav li a.active:before {
    transform: scale(1) translate(-50%, -1.2em);}





/* sec1 */
.sec1 {width: 100%;
    height: 100vh;}    

/*sec1 인트로 텍스트*/                     
.sec1 .ltext {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff; font-family: 'Montserrat'; font-size: 4vw; text-transform: uppercase;
white-space: nowrap;}
.sec1 .ltext .t1 {font-size: 1.3em; line-height: .9em; letter-spacing: .05em; font-weight: 700;}
.sec1 .ltext .t2 {font-size: 2.3em; line-height: 1em; letter-spacing: .03em; font-weight: 900;
clear: both;}
.sec1 .ltext .t3 {font-size: 1.02em; line-height: 1.1em; font-weight: 300;
clear: both;}


.sec1 .ltext .text-ani {display: inline-block; overflow: hidden; float: left;}
.sec1 .ltext .tani1>em {display: block; transform: translateX(-120px); transition: transform 1.7s 1.7s ease;}
.sec1 .ltext .tani2>em {display: block; transform: translateY(-100px); transition: transform 0.8s 0.8s ease;}
.sec1 .ltext .tani3>em {display: block; transform: translateY(100px); transition: transform 1.6s 1.6s ease;}
.sec1 .ltext .tani4>em {display: block; transform: translateY(-100px); transition: transform 0.9s 0.9s ease;}
.sec1 .ltext .tani5>em {display: block; transform: translateX(180px); transition: transform 1.5s 1.5s ease;}
.sec1 .ltext .tani6>em {display: block; transform: translateY(-100px); transition: transform 1.0s 1.0s ease;}
.sec1 .ltext .tani7>em {display: block; transform: translateY(100px); transition: transform 1.4s 1.4s ease;}

.sec1 .ltext .tani8>em {display: block; transform: translateY(160px); transition: transform 1.1s 1.1s ease;}
.sec1 .ltext .tani9>em {display: block; transform: translateX(-160px); transition: transform 1.2s 1.2s ease;
letter-spacing: 0.27em!important;}
.sec1 .ltext .tani10>em {display: block; transform: translateY(-160px); transition: transform 1.9s 1.9s ease;
letter-spacing: 0.27em!important;}
.sec1 .ltext .tani11>em {display: block; transform: translateX(-160px); transition: transform 0.85s 0.85s ease;}
.sec1 .ltext .tani12>em {display: block; transform: translateX(160px); transition: transform 1.85s 1.85s ease;}
.sec1 .ltext .tani13>em {display: block; transform: translateY(160px); transition: transform 1.3s 1.3s ease;}
.sec1 .ltext .tani14>em {display: block; transform: translateY(-160px); transition: transform 0.65s 0.65s ease;}
.sec1 .ltext .tani15>em {display: block; transform: translateX(-160px); transition: transform 1.75s 1.75s ease;}
.sec1 .ltext .tani16>em {display: block; transform: translateX(160px); transition: transform 1.05s 1.05s ease;}
.sec1 .ltext .tani17>em {display: block; transform: translateY(160px); transition: transform 1.65s 1.65s ease;}
.sec1 .ltext .tani18>em {display: block; transform: translateX(-160px); transition: transform 1.15s 1.15s ease;}
.sec1 .ltext .tani19>em {display: block; transform: translateY(160px); transition: transform 1.55s 1.55s ease;}
.sec1 .ltext .tani20>em {display: block; transform: translateY(-160px); transition: transform 1.25s 1.25s ease;}
.sec1 .ltext .tani21>em {display: block; transform: translateX(160px); transition: transform 1.45s 1.45s ease;}
.sec1 .ltext .tani22>em {display: block; transform: translateY(160px); transition: transform 1.35s 1.35s ease;}
.sec1 .ltext .tani23>em {display: block; transform: translateY(-160px); transition: transform 0.9s 0.9s ease;}
.sec1 .ltext .tani24>em {display: block; transform: translateX(160px); transition: transform 0.6s 0.6s ease;}
.sec1 .ltext .tani25>em {display: block; transform: translateY(160px); transition: transform 1.1s 1.1s ease;}
.sec1 .ltext .tani26>em {display: block; transform: translateX(-160px); transition: transform 0.95s 0.95s ease;}
.sec1 .ltext .tani27>em {display: block; transform: translateX(160px); transition: transform 0.75s 0.75s ease;}
.sec1 .ltext .tani28>em {display: block; transform: translateY(160px); transition: transform 1.8s 1.8s ease;}
.sec1 .ltext .tani29>em {display: block; transform: translateY(-160px); transition: transform 1.06s 1.06s ease;}
.sec1 .ltext .tani30>em {display: block; transform: translateX(-160px); transition: transform 1.9s 1.9s ease;}
.sec1 .ltext .tani31>em {display: block; transform: translateX(160px); transition: transform 1.6s 1.6s ease;}
/*인트로 텍스트 픽스드,쇼 */
.ltext.fixed {position: fixed; top: 10%; left: 10%; font-size: 1.5vw; transition:0.8s;}
#section1.show .sec1 .ltext  span em {transform: translateX(0px);}



/*메인인트로에니메이션*/
/*애니메이션 컨텐이너 50%*/
.w50 {width:50%; margin: 0 auto; padding: 0;}
/*메인: 첫 애니메이션*/
.ma-p1 {
    margin-top: 0px;
    position: relative
}

@keyframes ma-p1-circle-show-hide {
    0% {
        transform: scale(0)
    }
    30% {
        transform: scale(1)
    }
    70% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}
.ma-p1-circle {
    z-index: 6;
    position: absolute;
    right: 0;
    top: 0;
    width: 449px;
    height: 449px;
    background-color: #FFD100;
    border-radius: 50%;
    transform: scale(0)
}
.main-animation-start .ma-p1-circle {
    animation-name: ma-p1-circle-show-hide;
    animation-duration: 4.32s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards
}
@keyframes ma-p1-line-left-show {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(60vw, 0, 0)
    }
}
.ma-p1-line,
.ma-p1-line0,
.ma-p1-line1,
.ma-p1-line2,
.ma-p1-line3,
.ma-p1-line4,
.ma-p1-line-r,
.ma-p1-line0-r,
.ma-p1-line1-r,
.ma-p1-line2-r,
.ma-p1-line3-r,
.ma-p1-line4-r {
    position: absolute;
    top: 30%;
    left: 0;
    width: 402px;
    height: 60px;
    background-color: #dcddde;
    transform: translate3d(0, 0, 0)
}
.main-animation-start .ma-p1-line,
.main-animation-start .ma-p1-line0,
.main-animation-start .ma-p1-line1,
.main-animation-start .ma-p1-line2,
.main-animation-start .ma-p1-line3,
.main-animation-start .ma-p1-line4,
.main-animation-start .ma-p1-line-r,
.main-animation-start .ma-p1-line0-r,
.main-animation-start .ma-p1-line1-r,
.main-animation-start .ma-p1-line2-r,
.main-animation-start .ma-p1-line3-r,
.main-animation-start .ma-p1-line4-r {
    animation-name: ma-p1-line-left-show;
    animation-duration: 0.54s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards
}
.ma-p1-line1 {
    top: 80px
}
.main-animation-start .ma-p1-line1 {
    animation-delay: 0s
}
.ma-p1-line2 {
    top: 177px
}
.main-animation-start .ma-p1-line2 {
    animation-delay: 0.2s
}
.ma-p1-line3 {
    top: 274px
}
.main-animation-start .ma-p1-line3 {
    animation-delay: 0.4s
}
.ma-p1-line4 {
    top: 371px
}
.main-animation-start .ma-p1-line4 {
    animation-delay: 0.6s
}
.ma-p1-line5 {
    top: 468px
}
.main-animation-start .ma-p1-line5 {
    animation-delay: 0.8s
}
@keyframes ma-p1-line-left-hide {
    70% {
        transform: rotate(-12deg) translate3d(-50vw, 0, 0)
    }
    100% {
        transform: rotate(-12deg) translate3d(70vw, 0, 0)
    }
}
.ma-p1-line-lwrap {
    position: absolute;
    top: 0;
    right: 0;
    left: -25px;
    bottom: 0;
    z-index: 6;
    transform: rotate(-12deg) translate3d(-50vw, 0, 0)
}
.main-animation-start .ma-p1-line-lwrap {
    animation-name: ma-p1-line-left-hide;
    animation-duration: 4.59s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards
}
@keyframes ma-p1-line-right-show {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(-52vw, 80px, 0)
    }
}
.ma-p1-line-r,
.ma-p1-line0-r,
.ma-p1-line1-r,
.ma-p1-line2-r,
.ma-p1-line3-r,
.ma-p1-line4-r {
    left: 100%;
    z-index: 6;
    width: 83px;
}
.main-animation-start .ma-p1-line-r,
.main-animation-start .ma-p1-line0-r,
.main-animation-start .ma-p1-line1-r,
.main-animation-start .ma-p1-line2-r,
.main-animation-start .ma-p1-line3-r,
.main-animation-start .ma-p1-line4-r {
    animation-name: ma-p1-line-right-show;
    animation-duration: 0.54s
}
.ma-p1-line2-r {
    width: 166px
}
.ma-p1-line1-r {
    top: 0
}
.main-animation-start .ma-p1-line1-r {
    animation-delay: 0s
}
.ma-p1-line2-r {
    top: 97px
}
.main-animation-start .ma-p1-line2-r {
    animation-delay: 0.2s
}
.ma-p1-line3-r {
    top: 194px
}
.main-animation-start .ma-p1-line3-r {
    animation-delay: 0.4s
}
.ma-p1-line4-r {
    top: 291px
}
.main-animation-start .ma-p1-line4-r {
    animation-delay: 0.6s
}
.ma-p1-line5-r {
    top: 388px
}
.main-animation-start .ma-p1-line5-r {
    animation-delay: 0.8s
}
@keyframes ma-p1-line-right-hide {
    70% {
        transform: rotate(-12deg) translate3d(52vw, 0, 0)
    }
    100% {
        transform: rotate(-12deg) translate3d(-50vw, 0, 0)
    }
}
.ma-p1-line-rwrap {
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 100px;
    left: 0;
    bottom: 0;
    transform: rotate(-12deg) translate3d(52vw, 0, 0)
}
.main-animation-start .ma-p1-line-rwrap {
    animation-name: ma-p1-line-right-hide;
    animation-duration: 4.59s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards
}
.ma-p2 {
    width: 631px;
    height: 646px;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
}
.ma-p2-circle,
.ma-p2-circle3,
.ma-p2-circle2,
.ma-p2-circle1 {
    position: absolute;
    width: 306px;
    height: 306px;
    border-radius: 50%;
    background-color: #dcddde;
    -ms-transform: scale(0);
    transform: scale(0)
}
.ma-p2-circle3 {
    bottom: 0;
    left: 0
}
.main-animation-start .ma-p2-circle3 {
    animation: ma-p2-circle-show 0.81s 4.86s ease-out forwards, ma-p2-circle-3-rotate 1.89s 6.48s ease-out forwards
}
.ma-p2-circle2 {
    background-color: #ffd100;
    right: 0;
    top: 0
}
.main-animation-start .ma-p2-circle2 {
    animation: ma-p2-circle-show 0.81s 5.13s ease-out forwards, ma-p2-circle-2-rotate 1.89s 7.02s ease-out forwards
}
.ma-p2-circle1 {
    left: 0;
    top: 0
}
.main-animation-start .ma-p2-circle1 {
    animation: ma-p2-circle-show 0.81s 5.4s ease-out forwards, ma-p2-circle-1-rotate 1.89s 6.75s ease-out forwards
}
@keyframes ma-p2-circle-show {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}
@keyframes ma-p2-circle-1-rotate {
    0% {
        transform: translateY(0)
    }
    30% {
        transform: translateY(100%) translateY(34px)
    }
    80% {
        transform: translateY(100%) translateY(34px)
    }
    100% {
        transform: translateY(100%) translateY(34px) scale(0)
    }
}
@keyframes ma-p2-circle-2-rotate {
    0% {
        transform: translateX(0)
    }
    30% {
        transform: translateX(-100%) translateX(-20px)
    }
    70% {
        transform: translateX(-100%) translateX(-20px)
    }
    100% {
        transform: translateX(-100%) translateX(-20px) scale(0)
    }
}
@keyframes ma-p2-circle-3-rotate {
    0% {
        transform: translateX(0)
    }
    30% {
        transform: translateX(100%) translateX(20px)
    }
    85% {
        transform: translateX(100%) translateX(20px)
    }
    100% {
        transform: translateX(100%) translateX(20px) scale(0)
    }
}
.icon-curve-orig {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 5;
    -ms-transform: translateY(-50%) translateY(-34px) scaleY(1);
    transform: translateY(-50%) translateY(-34px) scaleY(1);
    left: 20px;
    fill: none;
    stroke: #dcddde;
    stroke-width: 75px;
    width: auto;
    height: 1452px;
    
}

body:not(.edge):not(.ie) .icon-curve-orig {
    stroke-dasharray: 1403px;
    stroke-dashoffset: -1403px
}
.main-animation-start .icon-curve-orig {
    animation: dash 2.7s 9.18s ease-out alternate
}
.icon-curve-orig2 {
    left: 240px;
    -ms-transform: translateY(-50%) translateY(-92px) scaleY(-1);
    transform: translateY(-50%) translateY(-92px) scaleY(-1);
    stroke: #ffd100
}

.main-animation-start .icon-curve-orig2 {
    animation: dash 2.7s 9.18s ease-out alternate
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1403px
    }
    40% {
        stroke-dashoffset: 0
    }
    60% {
        stroke-dashoffset: 0
    }
    100% {
        stroke-dashoffset: 1403px
    }
}
.hero-curves {
    position: absolute;
    left: 0
}

.is-loaded .hero-curves:before {
    -ms-transform: scaleY(1);
    transform: scaleY(1)
}
.hero-curves.animation-end {
    visibility: hidden;
    opacity: 0
}
.hero-curves--top {
    bottom: -60px;
    z-index: 1
}
.hero-curves--top .hero-curve--white {
    color: #dcddde
}
.hero-curves--top .hero-curve--white {
    animation-delay: 12.555s
}
.hero-curves--top .hero-curve--black {
    animation-delay: 13.8375s
}
.hero-curves--middle {
    bottom: -270px;
    z-index: 2
}
.hero-curves--middle .hero-curve--white {
    color: #ffd100
}
.hero-curves--middle .hero-curve--white {
    animation-delay: 12.3525s
}
.hero-curves--middle .hero-curve--black {
    animation-delay: 13.635s
}
.hero-curves--bottom {
    bottom: -530px;
    z-index: 3
}

/*애니 구조*/

.main-effect{
    position: relative;
    overflow: hidden
}
.main-ani {
    min-height: 100vh;
    padding-top: 80px
}

.main-ani-part {
    position: relative
}

.animation-hero__text {
    margin-top: auto;
    position: relative;
    z-index: 7;
}

/* sec2 */
.sec2 {padding: 10% 0;
    overflow: hidden;}
        
.sec2 .about {color: #fff; width: 47%;
    font-size: 5.3vw;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    float: left;}

/* sec3 */
.sec3 {}
.sec3 .port1 {width: 47%;}
.sec3 .port1 .portext-top {width: 100%;
     font-family: 'Montserrat', sans-serif;}
.sec3 .port1 .portext-top .port-tbox .text-left{font-size: 17vw;
    display: inline-block;
    line-height: .8em;
    color: #fff;
    font-weight: bold;}

.sec3 .port2 {width: 62%;}
.sec3 .port2 .portext-top {width: 100%;
     font-family: 'Montserrat', sans-serif;}
.sec3 .port2 .portext-top .port-tbox .text-left{font-size: 17vw;
    display: inline-block;
    line-height: .8em;
    color: #fff;
    font-weight: bold;}
.sec3 .port2 .portext-top .port-tbox .mdash {
    }
.sec3 .port2 .portext-top .port-tbox .mdash span {width: 12vw;
    height: 3vw;
    background-color: #fff;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 40%;
    box-sizing: border-box;}

.sec3 .port3 {width: 47%;}
.sec3 .port3 .portext-top {width: 100%;
     font-family: 'Montserrat', sans-serif;}
.sec3 .port3 .portext-top .port-tbox .text-left{font-size: 17vw;
    display: inline-block;
    line-height: .8em;
    color: #fff;
    font-weight: bold;}
.sec3 .port3 .portext-top .port-tbox .mdash {
    }
.sec3 .port3 .portext-top .port-tbox .mdash span {width: 12vw;
    height: 3vw;
    background-color: #fff;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 40%;
    box-sizing: border-box;}

/*포트폴리오작업물 부분*/
.project-wrap {padding-top: 20vh;}
.project-wrap .p-m-img {position: relative;
    width: 23%;}
.project-wrap .p-m-img li{width:100%;
    height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
    }
.project-wrap .p-m-img li img{width: 100&;
    height: 100%;
    opacity: 0;}


.project-wrap .portlist {width: 47%;
    float: left;
   }
.project-wrap .portlist li {width: 100%;
    text-align: center;
    height: 9vh;
    }
.project-wrap .portlist li a {width: 100%;
    height: 100%;
    line-height: 9vh;
    font-size: 2em;
    color: #fff;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    }
.project-wrap .portlist li a span {width: 20%;
    float: left;
    text-align: left;}
.project-wrap .portlist li a em {width: 80%;
    font-size: 1.2em;
    float: left;
    text-align: left;
    font-weight: 500;} 
.portlist .p-d-img {position: relative;
    width: 100%;
    
   }
.portlist .p-d-img li{width:100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    }
.portlist .p-d-img li img{width: 100&;
    height: 100%;
    opacity: 0;}

.project-wrap .p-t-img {position: relative;
    width: 15%;
    }
.project-wrap .p-t-img li{width:100%;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
     }
.project-wrap .p-t-img li img{width: 100&;
    height: 100%;
    opacity: 0;}

.project-wrap .view2 { opacity: 1!important;
    transition:1s;}

/*sec4*/







