@charset"utf-8";

@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }

/* layout */
body {overflow-x: hidden;}
#contents {}
#section1 {height: 2800px; background: #000;}
#section2 {height: 6200px; background: #000;}
#section3 {height: 2900px; background: #000;}
#section4 {height: 100vh; background: red;}
#section5 {height: 100vh; background: yellow;}
#section6 {height: 100vh; background: green;}


/* container */
.container {padding: 60px;}

/* grid_wrap */
.grid_wrap {position: fixed; pointer-events: none; z-index: 9000; top: 0; left: 60px; bottom: 0; right: 60px;}
.grid_wrap .grid > div {position: absolute; top: 0; left: 0; width: 1px; height: 0vh; background-color: rgba(255, 255, 255, .1);}
.grid_wrap .grid > div:nth-of-type(1) {margin-left: 23%; transition: height 0.4s 0.1s ease-in;}
.grid_wrap .grid > div:nth-of-type(2) {margin-left: 38%; transition: height 0.4s 0.2s ease-in;}
.grid_wrap .grid > div:nth-of-type(3) {margin-left: 85%; transition: height 0.4s 0.3s ease-in;}

.grid_wrap .grid.show div:nth-of-type(1) {height: 100vh;}
.grid_wrap .grid.show div:nth-of-type(2) {height: 100vh;}
.grid_wrap .grid.show div:nth-of-type(3) {height: 100vh;}

/* common */
.lp1 {margin-left: 23%;}
.lp2 {margin-left: 38%;}
.lp3 {margin-left: 85%;}

/*섹션별 타이틀*/
.con-tit {font-size:20px; font-weight: 400; line-height: 1em; margin: 0vh 0 15vh 0; display: block; color: #fff; font-family: 'Montserrat', sans-serif; transform: translateX(-10vw);}
.con-tit.view {transform: translateX(0); transition:1s;}

/*섹션별 페이지넘버*/
.con-num {width: 15%; float: left; position: relative; overflow: hidden;}
.con-num span{color: #fff; display: inline-block; font-size: 1em; z-index: 9955; transform: translateX(-5vw); margin-top: 22vh;}
.con-num span.view{transform: translateX(0); transition:1s; transition-delay: 0.6s;}
/*픽스드 메뉴*/
.fixed-nav {}
.fixed-nav .nav{z-index: 7000; text-align: center; position: fixed; display: flex; -webkit-box-align: end; align-items: flex-end;
	/*flex end:항목의 첫 열이 교차축 방향의 끝선에 정렬*/ top: 60px; left: 100%; height: 80px; transform: rotateZ(90deg); transform-origin: 0% 0%;} 
.fixed-nav .nav li{font-size: 0.9em; margin-right: 5vh; font-weight: 400;}
.fixed-nav .nav li a{color: #FFF; position: relative; display: inline-block; font-family: 'Montserrat', sans-serif;}
.fixed-nav .nav li a:before {content: ""; display: block; background-color: #fff; width: 6px; border-radius: 50%; height: 6px; position: absolute; top: 0; left: 50%; transition: all 400ms cubic-bezier(0.3, 0, 0, 1); transform: scale(0) translate(-50%, -1.2em);
transform-origin: 0% 100%; backface-visibility: hidden; transform-style: preserve-3d;}	
.fixed-nav .nav li a.active:before {transform: scale(1) translate(-50%, -1.2em);}

/*--------섹션 : 컨텐츠-----------*/

/* sec1 */
.sec1 {width: 100%; height: 100vh;}
/*sec1 인트로 효과*/
.sec1 .ltext {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff; font-family: 'Montserrat'; font-size: 4vw; text-transform: uppercase; white-space: nowrap;}
.sec1 .ltext .t1 {font-size: 1.3em; line-height: .9em; letter-spacing: .05em; font-weight: 700;}
.sec1 .ltext .t2 {font-size: 2.3em; line-height: 1em; letter-spacing: .03em; font-weight: 900; clear: both;}
.sec1 .ltext .t3 {font-size: 1.02em; line-height: 1.1em; font-weight: 300; clear: both;}
.sec1 .ltext em {display: block;}
.sec1 .ltext .text-ani {display: inline-block; overflow: hidden; float: left;}
.sec1 .ltext .tani1 > em  {transform: translateX(-120px); transition: transform 1.7s 1.7s ease;}
.sec1 .ltext .tani2 > em  {transform: translateY(-100px); transition: transform 0.8s 0.8s ease;}
.sec1 .ltext .tani3 > em  {transform: translateY(100px); transition: transform 1.6s 1.6s ease;}
.sec1 .ltext .tani4 > em  {transform: translateY(-100px); transition: transform 0.9s 0.9s ease;}
.sec1 .ltext .tani5 > em  {transform: translateX(180px); transition: transform 1.5s 1.5s ease;}
.sec1 .ltext .tani6 > em  {transform: translateY(-100px); transition: transform 1.0s 1.0s ease;}
.sec1 .ltext .tani7 > em  {transform: translateY(100px); transition: transform 1.4s 1.4s ease;}
.sec1 .ltext .tani8 > em  {transform: translateY(160px); transition: transform 1.1s 1.1s ease;}
.sec1 .ltext .tani9 > em  {transform: translateX(-160px); transition: transform 1.2s 1.2s ease;}
.sec1 .ltext .tani10 > em {transform: translateY(-160px); transition: transform 1.9s 1.9s ease;}
.sec1 .ltext .tani11 > em {transform: translateX(-160px); transition: transform 0.85s 0.85s ease;}
.sec1 .ltext .tani12 > em {transform: translateX(160px); transition: transform 1.85s 1.85s ease;}
.sec1 .ltext .tani13 > em {transform: translateY(160px); transition: transform 1.3s 1.3s ease;}
.sec1 .ltext .tani14 > em {transform: translateY(-160px); transition: transform 0.65s 0.65s ease;}
.sec1 .ltext .tani15 > em {transform: translateX(-160px); transition: transform 1.75s 1.75s ease;}
.sec1 .ltext .tani16 > em {transform: translateX(160px); transition: transform 1.05s 1.05s ease;}
.sec1 .ltext .tani17 > em {transform: translateY(160px); transition: transform 1.65s 1.65s ease;}
.sec1 .ltext .tani18 > em {transform: translateX(-160px); transition: transform 1.15s 1.15s ease;}
.sec1 .ltext .tani19 > em {transform: translateY(160px); transition: transform 1.55s 1.55s ease;}
.sec1 .ltext .tani20 > em {transform: translateY(-160px); transition: transform 1.25s 1.25s ease;}
.sec1 .ltext .tani21 > em {transform: translateX(160px); transition: transform 1.45s 1.45s ease;}
.sec1 .ltext .tani22 > em {transform: translateY(160px); transition: transform 1.35s 1.35s ease;}
.sec1 .ltext .tani23 > em {transform: translateY(-160px); transition: transform 0.9s 0.9s ease;}
.sec1 .ltext .tani24 > em {transform: translateX(160px); transition: transform 0.6s 0.6s ease;}
.sec1 .ltext .tani25 > em {transform: translateY(160px); transition: transform 1.1s 1.1s ease;}
.sec1 .ltext .tani26 > em {transform: translateX(-160px); transition: transform 0.95s 0.95s ease;}
.sec1 .ltext .tani27 > em {transform: translateX(160px); transition: transform 0.75s 0.75s ease;}
.sec1 .ltext .tani28 > em {transform: translateY(160px); transition: transform 1.8s 1.8s ease;}
.sec1 .ltext .tani29 > em {transform: translateY(-160px); transition: transform 1.06s 1.06s ease;}
.sec1 .ltext .tani30 > em {transform: translateX(-160px); transition: transform 1.9s 1.9s ease;}
.sec1 .ltext .tani31 > em {transform: translateX(160px); transition: transform 1.6s 1.6s ease;}
.sec1 .ltext .tani9 > em, .sec1 .ltext .tani10 > em {letter-spacing: 0.27em;}
/*.ltext 동작*/
#section1.show .sec1 .ltext span em {transform: translateX(0px);}

/* mainEffect */
.mainEffect {width: 100%; height: 100vh;}
.mainEffect .textA {position: absolute; left: 50%; top: 50%; transform: translate(-63%, -50%);}
.mainEffect .textA > div {position: relative; font-size: 18vw; line-height: 14vw; color: #fff; font-family: 'Montserrat'; font-weight:900; white-space: nowrap;}
/*maineffect:박스효과*/
.mainEffect .textA > div:before {content: ''; width: 100%; height: 3.5vh; z-index: 2; position: absolute; left:3%; bottom: -1%; background: rgba(0,0,0,1); transform-origin: left; transform: scaleX(0);}
.mainEffect .textA > div:after {
    content: ''; 
    width: 100%; height: 3.5vh; z-index: 2;
    position: absolute;left:3%; bottom: -1%; 
    background: rgba(255,255,255,1);
    transform-origin: left; transform: scaleX(0);}
.mainEffect .textA > div:nth-child(2):before {width: 150%; left: 0;}
.mainEffect .textA > div:nth-child(2):after {width: 150%;left: 0;}

.mainEffect.show .textA > div:nth-of-type(1):before {animation: anime 1.2s 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;}
.mainEffect.show .textA > div:nth-of-type(1):after {animation: anime 1.2s 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;}

.mainEffect.show .textA > div:nth-of-type(2):before {animation: anime 1.2s 2.1s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;}
.mainEffect.show .textA > div:nth-of-type(2):after {animation: anime 1.2s 2.3s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;}

.mainEffect.show .textA > div:nth-of-type(3):before {animation: anime 1.2s 3.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;}
.mainEffect.show .textA > div:nth-of-type(3):after {animation: anime 1.2s 3.4s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;}
@keyframes anime {
  0%   {transform-origin: left; transform: scaleX(0);}
  50%  {transform-origin: left; transform: scaleX(1);}
  51%  {transform-origin: right;}
  100% {transform-origin: right;transform: scaleX(0);}
}
/*maineffect:텍스트효과*/
.mainEffect .textA > div > span {overflow: hidden; display: inline-block; margin-right: -2.5vw;}
.mainEffect .textA > div > .me-t7{margin-right: -0.5vw;}
.mainEffect .textA > div > span > em {display: block; transform: translateX(0px)}
.mainEffect .textA > div > .me-t1> em {transform:translateX(-12vw);}
.mainEffect .textA > div > .me-t2> em {transform:translateX(-14vw);}
.mainEffect .textA > div > .me-t3> em {transform:translateX(-16vw);}
.mainEffect .textA > div > .me-t4> em {transform:translateX(-12vw);}
.mainEffect .textA > div > .me-t5> em {transform:translateX(-14vw);}
.mainEffect .textA > div > .me-t6> em {transform:translateX(-16vw);}
.mainEffect .textA > div > .me-t7> em {transform:translateX(-14vw);}
.mainEffect .textA > div > .me-t8> em {transform:translateX(-14vw);}
.mainEffect .textA > div > .me-t9> em {transform:translateX(-16vw);}

.mainEffect.show .textA > div > .me-t1> em {transition:all 0.8s; }
.mainEffect.show .textA > div > .me-t2> em {transition:all 1s;}
.mainEffect.show .textA > div > .me-t3> em {transition:all 1.2s;}
.mainEffect.show .textA > div > .me-t4> em {transition:all 0.8s;}
.mainEffect.show .textA > div > .me-t5> em {transition:all 1s;}
.mainEffect.show .textA > div > .me-t6> em {transition:all 1.2s;}
.mainEffect.show .textA > div > .me-t7> em {transition:all 0.8s;}
.mainEffect.show .textA > div > .me-t8> em {transition:all 1s;}
.mainEffect.show .textA > div > .me-t9> em {transition:all 1.2s;}
.mainEffect.show .textA > div > .me-t1> em ,
.mainEffect.show .textA > div > .me-t2> em ,
.mainEffect.show .textA > div > .me-t3> em {transform:translateX(0); transition-delay: 0.6s;}
.mainEffect.show .textA > div > .me-t4> em ,
.mainEffect.show .textA > div > .me-t5> em ,
.mainEffect.show .textA > div > .me-t6> em {transform:translateX(0); transition-delay: 1.9s;}
.mainEffect.show .textA > div > .me-t7> em ,
.mainEffect.show .textA > div > .me-t8> em ,
.mainEffect.show .textA > div > .me-t9> em {transform:translateX(0); transition-delay: 3s;}


/* sec2 */
.sec2 {padding: 10% 0;}
.sec2:after {content: ''; clear: both;display: block;}
.sec2 .about {color: #fff; width: 47%; font-size: 4.5vw; line-height: 1em; font-family: 'Montserrat', sans-serif; overflow: hidden;}
.awrap {overflow: hidden; display: block; height: 12vh; font-family: 'S-CoreDream-3Light'; margin-bottom: 1.3vh;}
/*about:텍스트 효과*/
.atext-e {transform: translateY(14vh); display: block; }
.at {transform: translateY(14vh); display: block; }

.at.show {transition:transform 0.8s; transform: translateY(0px); }
.atext-e1.show {transition-delay: 0.8s;}
.atext-e2.show {transition-delay: 1.6s;}
.atext-e3.show {transition-delay: 2.4s;}
.atext-e4.show {transition-delay: 3.2s;}
.atext-e5.show {transition-delay: 4s;}
.atext-e6.show {transition-delay: 4.8s;}
.atext-e7.show {transition-delay: 5.6s;}
.atext-e8.show {transition-delay: 6.4s;}
.atext-e9.show {transition-delay: 7.2s;}
.atext-e10.show {transition-delay: 8s;}
.atext-e11.show {transition-delay: 8.8s;}
.atext-e12.show {transition-delay: 9.6s;}

/* sec3 */
.sec3 {margin-top: 5vw;}
.sec3 .port1 {width: 47%; overflow: hidden;}
.sec3 .port1 .portext-top {width: 100%;
     font-family: 'Montserrat', sans-serif;}
.sec3 .port1 .portext-top .port-tbox .text-left{font-size: 17vw;
    display: inline-block;
    line-height: .8em;
    color: #fff;
    font-weight: bold;}

.sec3 .port2 {width: 62%;}
.sec3 .port2 .portext-top {width: 100%;
     font-family: 'Montserrat', sans-serif;}
.sec3 .port2 .portext-top .port-tbox .text-left{font-size: 17vw;
    display: inline-block;
    line-height: .8em;
    color: #fff;
    font-weight: bold;}
.sec3 .port2 .portext-top .port-tbox .mdash {
    }
.sec3 .port2 .portext-top .port-tbox .mdash span {width: 12vw;
    height: 3vw;
    background-color: #fff;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 40%;
    box-sizing: border-box;}

.sec3 .port3 {width: 47%;}
.sec3 .port3 .portext-top {width: 100%;
     font-family: 'Montserrat', sans-serif;}
.sec3 .port3 .portext-top .port-tbox .text-left{font-size: 17vw;
    display: inline-block;
    line-height: .8em;
    color: #fff;
    font-weight: bold;}
.sec3 .port3 .portext-top .port-tbox .mdash {
    }
.sec3 .port3 .portext-top .port-tbox .mdash span {width: 12vw;
    height: 3vw;
    background-color: #fff;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 40%;
    box-sizing: border-box;}
/*result:텍스트효과*/
.text-left {overflow: hidden;}
.text-left span {display: block; }
.text-left .me-t1  {transform:translateX(-16vw);}
.text-left .me-t2  {transform:translateX(-14vw);}
.text-left .me-t3  {transform:translateX(-16vw);}
.text-left .me-t4  {transform:translateX(-12vw);}
.text-left .me-t5  {transform:translateX(-14vw);}
.text-left .me-t6  {transform:translateX(-16vw);}
.text-left .me-t7  {transform:translateX(-14vw);}
.text-left .me-t8  {transform:translateX(-14vw);}
.text-left .me-t9  {transform:translateX(-16vw);}
.text-left .me-t10 {transform:translateX(-16vw);}
.text-left .me-t11 {transform:translateX(-16vw);}

.text-left.show .me-t1 {transition:all 0.9s; }
.text-left.show .me-t2 {transition:all 0.9s;}
.text-left.show .me-t3 {transition:all 0.9s;}
.text-left.show .me-t4 {transition:all 1s;}
.text-left.show .me-t5 {transition:all 1s;}
.text-left.show .me-t6 {transition:all 1s;}
.text-left.show .me-t7 {transition:all 0.8s;}
.text-left.show .me-t8 {transition:all 0.8s;}
.text-left.show .me-t9 {transition:all 0.8s;}
.text-left.show .me-t10 {transition:all 0.8s;}
.text-left.show .me-t11 {transition:all 0.8s;}

.text-left.show .me-t1,
.text-left.show .me-t2,
.text-left.show .me-t3 {transform:translateX(0); transition-delay:0.8s;}

.text-left.show .me-t4,
.text-left.show .me-t5,
.text-left.show .me-t6 {transform:translateX(0); transition-delay:0.5s;}

.text-left.show .me-t7,
.text-left.show .me-t8,
.text-left.show .me-t9,
.text-left.show .me-t10,
.text-left.show .me-t11{transform:translateX(0); transition-delay:1.2s;}




/*프로젝트결과물*/
.project-wrap {position: relative;}
.p-images {margin-top: 0;
    width: 100%;
    position: relative;}
.p-img-list {position: absolute;
    top: 0;
    left: 0;
    }
.p-img-list.p-mobile {top: 10vh;
    width: 23%;}
.p-img-items {position: relative;}
.p-img-list .p-img-items li {position: absolute; overflow: hidden;}
.p-img-list img {width: 100%; display: inline-block; height: auto; opacity: 0;transform:  scale(1.2, 1.2) rotate(10deg);}
.p-img-list img.show {opacity: .75; transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1); transform:  scale(1, 1) rotate(0deg);}

.p-img-list.p-mobile.view {top: 0; transition:top 1400ms cubic-bezier(0.215, 0.61, 0.355, 1);}
.p-img-list.p-mobile {top: 45vh;}
.p-img-list.p-desktop {left: 38%; top: 120vh; width: 47%;}
.p-img-list.p-desktop.view {top:50vh; transition:top 1400ms cubic-bezier(0.215, 0.61, 0.355, 1);}
.p-img-list.p-mood.view {top:10vh; transition:top 1400ms cubic-bezier(0.215, 0.61, 0.355, 1);}


.p-img-list.p-mood {left: 85%; top: 40vh; width: 15%;}
.project-img>img{width: 100%; height: 100%;}

.re {box-sizing: border-box; display: flex; -webkit-box-flex: 0; flex: 0 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; flex-wrap: wrap; position: relative;}
.re-r-big {width: 47%;}
.re-os-2 {margin-left: 38%;}
.no-list {font-size: 2.7vw; margin-top: 20vh;}
.no-list li {line-height: 1.2em; padding-left: 2em; margin-bottom: .5em; position: relative; overflow: hidden; display: block;}
.no-list li:before {transition: transform 1200ms cubic-bezier(0.115, 0.905, 0.32, 1); transform: translateX(-200%); display: block; position: absolute; top: 0; left: 0; font-size: 1.2vw; color: #fff;}
.no-list.in-view li:before {transform: translateX(0%);}
.no-list li:first-of-type:before {content: "I.";}
.no-list li:nth-of-type(2):before {content: "II.";}
.no-list li:nth-of-type(3):before {content: "III."}
.no-list li:nth-of-type(4):before {content: "IV.";}
.no-list li:nth-of-type(5):before {content: "V.";}
.no-list li a {transition: transform 1200ms cubic-bezier(0.115, 0.905, 0.32, 1);}
.no-list a {color: #fff; display: inline-block;  font-family: 'Montserrat', sans-serif; font-weight: 500;}
.no-list.in-view li a {transform: translateY(0%);}
.no-list a:before {display: block; content: ""; position: absolute; width: 100%; height: 4px; bottom: 0; background-color: #fff; transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
    transform: scale(0, 1); transform-origin: 0 0;}
.no-list.in-view a.active:before, .no-list.in-view a:hover:before {transform: scale(1, 1);}

 .imaginative {
    position: relative;
    display: inline;
    color: #000;
    overflow: visible;
    transition: color 600ms cubic-bezier(0.115, 0.905, 0.32, 1);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}






/*sec4*/

.ability {width: 62%; margin-top: 25vh;}
.ability .ab-text{font-weight: 800; overflow: hidden; text-transform: uppercase; font-size: 8vw; line-height: 0.9em;  position: relative; }    
.ability .ab-text .abt{overflow: hidden;}
.ability.show .ab-text .abt em{transform: translateY(0);}
.ability .ab-text .abt em {display: block; transform: translateY(45vh) scale(1, 1); color: #FFF;
     transition: all 1400ms cubic-bezier(0.115, 0.905, 0.32, 1);}
.ability .ab-text .abt:nth-of-type(1) em {}
.ability .ab-text .abt:nth-of-type(2) em {transition-delay: 0.6s;}
.ability .ab-text .abt:nth-of-type(3) em {color: #000;  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; transition-delay: 1.2s;}

.ability-b {width: 47%; margin-top: 10vh; overflow: hidden;}
.ability-b .arrow{width: 8%;
    margin-right: 15%;
    transition: transform 600ms cubic-bezier(0.85, 0, 0.115, 0.995);
    position: relative;
    overflow: hidden;
    float: left;
}
.ability-b .arrow svg {
    transition: transform 1200ms cubic-bezier(0.55, 0, 0.115, 0.995);  
    transform: translateX(-101%);
    width: 100%;
    height: auto;}

.ability-b.show .arrow svg {
    transform: translateX(0); transition-delay: 1.6s;}

.ability-b .address {float: left; transform: translateX(50vw);
transition: transform 1800ms cubic-bezier(0.55, 0, 0.115, 0.995); transition-delay: 1.6s;}
.ability-b.show .address {transform: translateX(0);}
.ability-b .address h2{margin: 0;
    font-size: 1.1vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;}
.ability-b .address .email{}
.ability-b .address .email address{}
.ability-b .address .email address a{margin-top: .2em;
    position: relative;
    display: block;
    line-height: 1.2em;
    font-weight: 300;
    font-size: 1.5vw;
    color: #fff;}


.sec4 {position: relative;}
/* abilityEffect */
.abilityEffect {width: 100%; height: 100vh; margin-top: 20vh;}
.abilityEffect .abA {position: absolute; left: 50%; top: 50%; transform: translate(-63%, -50%);}
.abilityEffect .abA > div {position: relative; font-size: 17vw; line-height: 14vw; color: #fff; font-family: 'Montserrat'; font-weight:bold; white-space: nowrap;}
.abilityEffect .abA  > div:nth-child(1) {}
.abilityEffect .abA  > div:nth-child(2) {margin-left: 28%;}
.abilityEffect .abA  > div:nth-child(3) {}

/*abilityEffect:텍스트효과*/
.abilityEffect .abA  > div > span {overflow: hidden; display: inline-block; margin-right: -2.5vw;}
.abilityEffect .abA  > div > .ae-t7{margin-right: -0.5vw;}
.abilityEffect .abA  > div > span > em {display: block; transform: translateX(0px)}
.abilityEffect .abA  > div > .ae-t1> em {transform:translateX(-16vw);}
.abilityEffect .abA  > div > .ae-t2> em {transform:translateX(-14vw);}
.abilityEffect .abA  > div > .ae-t3> em {transform:translateX(-16vw);}
.abilityEffect .abA  > div > .ae-t4> em {transform:translateX(-16vw);}
.abilityEffect .abA  > div > .ae-t5> em {transform:translateX(-14vw);}
.abilityEffect .abA  > div > .ae-t6> em {transform:translateX(-16vw);}
.abilityEffect .abA  > div > .ae-t7> em {transform:translateX(-14vw);}
.abilityEffect .abA  > div > .ae-t8> em {transform:translateX(-14vw);}
.abilityEffect .abA  > div > .ae-t9> em {transform:translateX(-16vw);}

.abilityEffect.show .abA  > div > .ae-t1> em {transition:all 0.8s; }
.abilityEffect.show .abA  > div > .ae-t2> em {transition:all 1s;}
.abilityEffect.show .abA  > div > .ae-t3> em {transition:all 1.2s;}
.abilityEffect.show .abA  > div > .ae-t4> em {transition:all 0.8s;}
.abilityEffect.show .abA  > div > .ae-t5> em {transition:all 1s;}
.abilityEffect.show .abA  > div > .ae-t6> em {transition:all 1.2s;}
.abilityEffect.show .abA  > div > .ae-t7> em {transition:all 0.8s;}
.abilityEffect.show .abA  > div > .ae-t8> em {transition:all 1s;}
.abilityEffect.show .abA  > div > .ae-t9> em {transition:all 1.2s;}
.abilityEffect.show .abA  > div > .ae-t1> em ,
.abilityEffect.show .abA  > div > .ae-t2> em {transform:translateX(0); transition-delay: 1.6s;}
.abilityEffect.show .abA  > div > .ae-t3> em ,
.abilityEffect.show .abA  > div > .ae-t4> em ,
.abilityEffect.show .abA  > div > .ae-t5> em ,
.abilityEffect.show .abA  > div > .ae-t6> em {transform:translateX(0); transition-delay: 2.2s;}
.abilityEffect.show .abA  > div > .ae-t7> em ,
.abilityEffect.show .abA  > div > .ae-t8> em ,
.abilityEffect.show .abA  > div > .ae-t9> em {transform:translateX(0); transition-delay: 3.2s;}

.ab-tit {margin-left: 38%; overflow: hidden;}
.ab-tit .con-tit{display: block; transform: translateX(-15vw); transition:all 0.8s; transition-delay: 0.6s;}
.ab-tit.show .con-tit{transform: translateX(0);}

/*ex;모달*/
.goweb{position: absolute; display: block; top: 88%; left: 50%; transform: translate(-50%,-50%); width: 200px;
height: 60px; font-size: 24px; color: #fff; letter-spacing: 4px; text-align: center; line-height: 60px; font-weight: 500;}
.goweb svg,.goweb svg rect {position: absolute; top: 0; left: 0; width: 100%; height: 100%; fill:transparent;}
.goweb svg rect {stroke:#fff; stroke-width:5; transition: 2s; stroke-dasharray:60 200;/*점선 or 도트선등 간격으로 띄울수있다*/
stroke-dashoffset:320;/*간격60+60+200*/}
.goweb:hover svg rect  {stroke: #fff; stroke-dasharray:200 60; stroke-dashoffset:0;}
.mo-wrap1 {width: 60vw; height: 70vh; margin: 5px; position: fixed; top: 50%; left: 50%; background: #000; transform: translate(-50%,-50%); font-family: impact, sans-serif; border: 3px solid #fff;}
.mo-wrap1 > h2 {margin-top: 2vh; font-size: 50px; height: 40px; line-height: 40px; text-align: center; color: #fff;}
/*그리드컬럼 33퍼로 3개의 영역을 잡을수 있다*/
.inner {display: grid; grid-template-columns: 33% auto 33%;}
.m-bt {display: block; height: 60px; line-height: 60px; text-align: center; background: #000; color: #fff; font-size: 25px;}
.mbi1 {width: 30vw; height: 30vh; filter: blur(200px); position: absolute; left: 50%; transform: translateX(-50%); fill:black; color: #000; transition: 3s;
top: 220px;}
.mbi1.phone {width: 8vw; height: 14vw;}
.mbi1.tablet {width: 18vw; height: 14vw;}
.mbi1.phone {width: 8vw; height: 14vw;}
.m-bt:hover .mbi1 {transition: 1s;}
/*블러로 240값으로 감추고 0으로 보여준다*/
.m-bt >span {position: absolute; top: 100px; left: 50%; transform: translateX(-50%); width: 30vw; font-size: 16px; text-align: center; line-height: 16px; padding: 30px; transition: 3s; color: #fff; filter: blur(200px);}
.m-bt >span em {font-family:arial; font-size: 24px; margin-bottom: 1vh; display: block;}
.m-bt:hover span {transition: 1s;}
.m-bt p{transition: 0.5s; -webkit-text-stroke:1px transparent;  font-size: 30px;}
.m-bt:hover p {transition: 0.5s; -webkit-text-stroke:1px white; color: #000;}
/*결과물 클로즈버튼*/
.c-btn {position: absolute; right: 0; top: 0; font-size: 16px; color: #565656; padding: 10px 10px; border: 1px solid #262626; text-transform: uppercase; letter-spacing: 1px; transition: 0.5s; box-sizing: border-box; overflow: hidden;
}
.c-btn:before,.c-btn:after,.c-btn>span:before,.c-btn>span:after {content: '';  position: absolute; height: 100%; width: 25.5%; background: #262626; z-index: -1; transition: 0.5s;}
.c-btn:before {top: 0; left: -26%;}
.c-btn:hover:before {top: 0; left: 0%;}
.c-btn:after {top: 0; right: -26%;}
.c-btn:hover:after {top: 0; right: 0%;}
.c-btn span:before {bottom:-100%; left: 25%;}
.c-btn:hover span:before {bottom:0%; left: 25%; }
.c-btn span:after {top: -100%; left: 50%;}
.c-btn:hover span:after {top: 0; left: 50%;}

.c-btn:hover {color: #fff;}



/*사이트보여주기*/
.project-no1 { margin-top: 70vh; position: relative; margin-bottom: 50vh; font-family: 'Montserrat';}
.project-no1 .pnn {margin-left: 73%; margin-bottom: 13vh;  overflow: hidden; width: 10vw; }
.project-no1 .pnn em {font-size: 1.6vw; color: #fff; transform: translateX(30vw); display: block;}
.project-no1.show .pnn em {transform: translateX(0); transition: 0.9s;}

.project-no1 .pnt-t {width: 100%; margin-left:10.5%;}
.project-no1 .pnt-t h3{font-size: 0; text-transform: uppercase; font-weight: 900; overflow: hidden; }
.project-no1 .pnt-t h3>span {line-height: 0.9em; font-size: 11vw; display: inline-block; color: #fff;  z-index: 9999; transform: translate(0vw,25vh);  font-family: 'Montserrat'; }
.project-no1.show .pnt-t h3>span { transform: translate(0vw,0); transition: 0.9s; transition-delay: 0.6s; }
.project-no1 .pnt-t h3>span em {overflow: visible;}

.project-no1 .pni {width: 60%; margin-left: 23%; position: relative;}
.project-no1 .pni-wrap { position: absolute; top: -2em; width: 100%; height: 500px; background: url(https://jurajmolnar.com/img/projects/helias/main-img-2x.jpg) no-repeat; background-size: contain; background-attachment: fixed;}


.project-no1 .pnt-m {width: 100%; margin-left: 27%;  margin-top: 5vh;}
.project-no1 .pnt-m h3{font-size: 0; text-transform: uppercase; font-weight: 900; overflow: hidden; }
.project-no1 .pnt-m h3>span {line-height: 0.9em; font-size: 7vw; display: inline-block; color: #fff;  z-index: 9999; transform: translate(0,25vh);  font-family: 'Montserrat'; }
.project-no1.show .pnt-m h3>span { transform: translate(0,0); transition: 0.9s; transition-delay: 0.8s; }
.project-no1 .pnt-m h3>span em {overflow: visible;}

.project-no1 .pnt-b {margin-left: 28%; margin-top: 16vh;}
.project-no1 .pnt-b h3{font-size: 0; text-transform: uppercase; font-weight: 900; overflow: hidden;}
.project-no1 .pnt-b h3>span {position: relative;  line-height: 0.9em; font-size: 9vw; display: inline-block; color: #fff;  z-index: 9999;  transform: translate(0,25vh);  font-family: 'Montserrat';}
.project-no1.show .pnt-b h3>span { transform: translate(0,0vh); transition: 0.9s; transition-delay: 1.1s;}
.project-no1 .pnt-b h3>span em {overflow: visible;}

.project-no1 .pn-detail {margin-left: 23%; margin-top: 18vh; position: relative; width: 80%; font-family: 'Godo'; }
.project-no1 .pn-detail .pnd-lt {width: 50%; overflow: hidden;}
.project-no1 .pn-detail .pnd-lt h3{font-size: 2.5vw; color: #fff; font-weight: bold; transform: translateX(-15vw); font-family: 'Montserrat';}
.project-no1 .pn-detail.show .pnd-lt h3 {transform: translateX(0); transition: 0.9s;}

.project-no1 .pn-detail  .pnd-lt p {margin-top: 2vh; width: 80%; padding: 0 5px; box-sizing: border-box; color: #fff; text-align: justify; font-size: 22px; transform: translateX(-70vh);}
.project-no1 .pn-detail.show .pnd-lt p {transform: translateX(0); transition: 1.6s; transition-delay: 0.5s;}
.project-no1 .pn-detail .goweb-box {position: relative; overflow: hidden; height: 16vh;}
.project-no1 .pn-detail .goweb {position: absolute; right: -20%; top:0%; transform: translateX(-50%); margin-top: 5vh; transform: translateY(18vh);}
.project-no1 .pn-detail.show .goweb {transform: translateY(0); transition:0.9s; transition-delay:0.6s;}