/* 레이아웃 */
body,html {background: #fff; width: 100%; height: 100vh; overflow-x: hidden;}
.container {}
#main {height: 100vh; background-image: url(../img2/main_bg.jpg);}

/* main */
.main {}
.header {font-size: 15px; position: relative;}
.header:before {content: ''; position: absolute; bottom: 42px; left: 0; border: 1px solid rgba(255,255,255,0.2); width: 100%;}
.header ul {padding-top: 80px; overflow: hidden;}
.header li {font-size: 15px; width: 12.5%; letter-spacing: 0.5em; float: left; text-align: center; font-family: 'Roboto'; line-height: 47px;}
.header li a {color: #fff; position: relative; z-index: 1000;}
.header li.logo {position: relative;}
.header li.first {letter-spacing: 0; width: 12.5%; position: relative;}
.header li.first:before {content: ''; position: absolute; top: 48%; left: 50%; transform: translate(-50%,-50%); width: 47px; height: 47px; border: 1px solid #fff; box-sizing: border-box;}

.main_name {font-family: 'IM Fell French Canon'; color: #fff; text-align: center; position: absolute; top: 53%; left: 50%; transform: translate(-50%,-50%); text-shadow: 4px 4px 3px rgba(0,0,0,0.9); line-height: 1.2;}
.main_name .name1 {font-size: 45px;}
.main_name .name2 {font-size: 55px;}
.main .scro_con {position: absolute; z-index: 1500; top: 100vh; left: 50%; transform: translate(-50%, -200%); margin-top: 3em; text-align: center;}
.main .scro_con p {color: #fff; letter-spacing: 0.2em; margin-bottom: 1em;}
.main .scro_con .scroll {width: 2.4em; height: 3.4em; border-radius: 1.3em; border: 0.2em solid #fff; display: inline-block; position: relative;}
.main .scro_con .scroll:after {content: ''; position: absolute; left: 50%; top: 0.65em; width: 0.4em; height: 0.4em; border-radius: 0.2em; background: #fff; animation: scrollwheel 2s linear infinite; transform: translateX(-50%);}

@keyframes scrollwheel {
    68%     {height:0.4em;top:0.65em}
    76%     {height:1.5em;top:0.65em}
    84%,92% {top:1.75em;height:0.4em}
}

/* main animation */
.header li a:after {width: 0; height: 0.6vh; background: #856dbe; content: ''; position: absolute; left: -4px; bottom: 4px; transition: all 0.3s ease-in-out;}
.header li.active a:after {width: 100%; z-index: -1; position: absolute;}
.header li.active.first a {color: #856dbe;}
.header li.active.first a:after, .header li.active.logo a:after {width: 0%;}
.header li.active.first:before {width: 47px; height: 47px; background: #fff; color: #856dbe; transition: all 0.3s ease-in-out;}
.header li.logo:before {top: 36%; left: 50%; transform: translate(-50%,-50%); content: ''; position: absolute; background: rgba(133,109,190,0); width: 0px; height: 46px;}
.header li.active.logo:before {top: 36%; left: 50%; transform: translate(-50%,-50%); content: ''; position: absolute; background: rgba(133,109,190,0.8); width: 46px; height: 46px; transition: all 0.3s ease-in-out; border-radius: 50%;}

