body {background: #000; height: 4000px; font-family: 'Noto Sans KR', sans-serif;}
a {cursor: pointer;}
.info {
  position: fixed; right: 30px; top: 30px;
  z-index: 1000;
}
.info span {
  position: relative;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.sec1 {padding-top: 1000px; position: relative;}
.sec1 .main {
	position: fixed; top: 15%; left: 28%;	
	perspective: 1000px;
}
.sec1 .main img {width: 45vw;}
.sec1 .textBox1 {	
	width: 100%;
	position: fixed; top: 40%; left: 0%;
	text-align: center;		
}
.sec1 .textBox1 h2 {
	font-weight: bold; font-size: 70px;
	color: #FFE5DB;
/*	background: -webkit-linear-gradient(-45deg, #fdc830, #f37335, #fdc830, #f37335, #fdc830, #f37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.sec1 .textBox1 p {
	font-weight: bold; font-size: 70px;
	color: #FFE5DB
/*	background: -webkit-linear-gradient(-45deg, #fdc830, #f37335, #fdc830, #f37335, #fdc830, #f37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.sec1 .textBox1 .Box1-info p {
	color: #FFE5DB !important;
	font-size: 35px;
}
.sec1 .site1-img {position: fixed; top: 20%; right: 10%;}
.sec1 .site1-img img {width: 40vw;}
.sec1 .site1-img .site1-frame {
	position: fixed; top: 22.5%; left: 7%;
	width: 34.3vw; height: 68.5%; background-color: transparent;
	border-radius: 0px 0px 5px 5px;
	overflow: hidden;
}
.sec1 .site1-img .site1-frame img {
	width: 100%;
}
.sec1 .site1-info {position: fixed; top: 50%; left: 10%;}
.sec1 .site1-info h3 {
	font-weight: 700; font-size: 50px;
	color: #FFE5DB;
}
.sec1 .site1-info p {
	width: 600px;
	font-weight: 700; font-size: 35px;	
	background: -webkit-linear-gradient(45deg, #22c1c3, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.view {
	display: inline-block;
	color: #FFE5DB; font-size: 16px;
	margin-top: 20px; 
	padding: 10px 20px; border: 2px solid #f5dfd3;
	border-radius: 46px;
	transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
}
.view:hover {
	color: #000; font-weight: 700;
	background: #f5dfd3;
}

.sec1 .site2-img	{position: fixed; top: 0; left: 30%;}
.sec1 .site2-img img {display: block; width: 50vw; }
.sec1 .site2-img2	{position: fixed; top: 40%; left: 25%; overflow: hidden; border-radius: 37px;}
.sec1 .site2-img2 img	{display: block; width: 12vw; }
.sec1 .site2-img2 img.frame	{display: block; width: 11vw; position: absolute; top: 0; left: 5%; z-index:-1;}
.sec1 .site2-info {position: fixed; top: 40%; right: 10%;}
.sec1 .site2-info h3 {font-weight: 700; font-size: 50px; color: #FFE5DB;}
.sec1 .site2-info p {
	width: 600px;
	font-weight: 700; font-size: 35px;
	background: -webkit-linear-gradient(45deg, #22c1c3, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}
.sec1 .site2-info p span {
	padding-right:10px;
	color: #FFE5DB;
}

.sec1 .site3-img1 { position: fixed; width: 25vw;top: 10%; left: 37.5%;}
.sec1 .site3-img1 img {display: block; width: 100%;}
.sec1 .site3-img2 { position: fixed; width: 14vw;top: 10%; left: 43%;}
.sec1 .site3-img2 img {display: block; width: 100%;}
.sec1 .site3-img3 { position: fixed; width: 55vw; top: 15%; left: 22.5%;}
.sec1 .site3-img3 img {display: block; width: 100%;}
.sec1 .site3-info {position: fixed; top: 40%; left:0; text-align: center; width: 100%; }
.sec1 .site3-info h3 {font-weight: 700; font-size: 60px; color: #FFE5DB;}
.sec1 .site3-info p { 
	font-weight: 700; font-size: 60px;
	background: -webkit-linear-gradient(45deg,#C06C84,#C06C84, #22c1c3, #fdbb2d, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}

.sec1 .site4-img { position: fixed; width: 15vw;top: 45%; left: 25%;}
.sec1 .site4-img img {display: block; width: 100%;}
.sec1 .site4-info {position: fixed; top: 40%; left:-100%; text-align: center; width: 100%; }
.sec1 .site4-info h3 {font-weight: 700; font-size: 60px; color: #FFE5DB;}
.sec1 .site4-info p { 
	font-weight: 700; font-size: 50px;
	background: -webkit-linear-gradient(45deg,#C06C84,#C06C84, #22c1c3, #fdbb2d, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}


/*.sec2 .img1 { 
	position: fixed;
	top: 80%; left: 40%;
	transform: scale(1);
	margin: 0 auto; 
}
.sec2 .img1 img {width: 300px;}
.sec2 .img2 { 
	position: fixed;
	top: 80%; left: 40%;
	transform: scale(1);
	margin: 0 auto; 
}
.sec2 .img2 img {width: 300px;}*/