@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700);
html {
  width: 100%;
  height: 100%;
  user-select: none;
}
html body {
  transform-style: preserve-3d;
  perspective: 789px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  font-size: 0;
  line-height: 0;
}
html body * {
  transform-style: preserve-3d;
  box-sizing: border-box;
}
html body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html body ul li {
  margin: 0;
  padding: 0;
}
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .5s;
}
@media (max-width: 1300px) {
  .stage {
    transform: scale(0.8);
  }
}
@media (max-width: 980px) {
  .stage {
    transform: scale(0.6);
  }
}
@media (max-width: 720px) {
  .stage {
    transform: scale(0.4);
  }
}
@media (max-width: 480px) {
  .stage {
    transform: scale(0.25);
  }
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -2345px);
  transform-origin: 50% 50%;
  width: 700px;
  height: 700px;
}
.box > ul {
  position: relative;
  width: 100%;
  height: 100%;
}
.box > ul > li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #fff;
  transition: transform 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}
.box > ul > li.f {
  transform: translateZ(350px) rotateY(0);
}
.box > ul > li.u {
  transform: translateZ(-350px) rotateY(180deg);
}
.box > ul > li.t,
.box > ul > li.b {
  height: 700px;
  background-color: #f9f9f9;
}
.box > ul > li.l,
.box > ul > li.r {
  width: 700px;
  background-color: #fcfcfc;
}
.box > ul > li.t {
  transform: translateY(-350px) rotateX(90deg);
}
.box > ul > li.r {
  transform: translateX(350px) rotateY(90deg);
}
.box > ul > li.b {
  transform: translateY(350px) rotateX(90deg) rotateY(180deg);
}
.box > ul > li.l {
  transform: translateX(-350px) rotateY(-90deg);
}
.box.live > ul > li {
  transition: transform 1.25s cubic-bezier(0.75, 0, 0.25, 1);
}
.box.live > ul > li.f {
  transform: translateZ(1000px) rotateY(0);
}
.box.live > ul > li.u {
  transform: translateZ(-1000px) rotateY(180deg);
}
.box.live > ul > li.t {
  transform: translateY(-1000px) rotateX(90deg);
}
.box.live > ul > li.r {
  transform: translateX(1000px) rotateY(90deg);
}
.box.live > ul > li.b {
  transform: translateY(1000px) rotateX(90deg) rotateY(180deg);
}
.box.live > ul > li.l {
  transform: translateX(-1000px) rotateY(-90deg);
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  color: #000;
  background: transparent;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin: 0;
  opacity: 1;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  transition: opacity .5s;
}
section article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 65%;
  opacity: 0;
  font-size: 18px;
  line-height: 1.6;
  transition: opacity 1s;
}
section article p {
  margin: 0 0 16px;
}
section article ul {
  padding: 0 0 0 36px;
  list-style-type: disc;
}
section article .thumbs {
  margin: 26px 0 0;
  padding: 0;
  list-style-type: none;
}
section article .thumbs li {
  margin: 0 20px 20px 0;
  padding: 48px 60px;
  float: left;
  color: #fff;
  background: #000;
}
section.current {
  cursor: default;
}
section.current:hover {
  background: #fff;
}
section:hover {
  background: #ff0;
}
.box.ready section.current h1 {
  opacity: 0;
}
.box.ready section.current article {
  opacity: 1;
}
