/* container */
.container {width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header .header-data {
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color: #a8a8a8;
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px; 
    margin-bottom: 15px;
}
#header .header-id {
    position: absolute; right: 0; bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    /*text-align: center;
    line-height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(149.16deg, #A4A9B5 10.18%, rgba(164, 169, 181, 0) 81.31%), #C4C4C4;
}

/* bestM */
.bestM .best-title .bt-stit {color: #da5e7c; font-size: 12px; line-height: 1.67;}
.bestM .best-title .bt-tit {font-size: 22px; padding-bottom: 5px;}
.bestM .best-title .bt-desc {font-size: 22px; font-weight: 300; color: #818181; margin-bottom: 10px;}

/* recentM */
.recentM {padding: 10px 0; margin-top: 19px; overflow: hidden;}
.recentM .recent {float: left; width: 49%; margin-right: 2%;}
.recentM .recent:last-child {margin-right: 0;}
.recentM h2 {font-size: 20px; font-weight: bold; margin-bottom: 12px; margin-top: 16px; padding-top: 20px; border-top: 1px solid #EBEBEB;}
.recentM .recent-title .rt-stit {font-size: 15px; line-height: 1.9;}
.recentM .recent-title .rt-tit {color:#908F94; font-size: 15px; font-weight: 300;}

/* nextM */
.nextM {}
.nextM h2 {font-size: 20px; font-weight: bold; margin-bottom: 12px; margin-top: 16px; padding-top: 20px; border-top: 1px solid #EBEBEB;}
.nextM .next {display: flex; margin-bottom: 16px; position: relative;}
.nextM .next:after {
    content: '';
    position: absolute; right: 0; bottom: -8px;
    height: 1px; width: calc(100% - 114px); 
    background: #ebebeb;
}
.nextM .next .next-img {width: 102px; margin-right: 12px;}
.nextM .next .next-tit {display: flex; flex-direction: column; justify-content: center;}
.nextM .next .next-tit .nt-stit {color: #DA5E7C; font-size: 12px;}
.nextM .next .next-tit .nt-tit {font-size: 16px;}
.nextM .next .next-tit .nt-desc {
    font-size: 13px; color: #a1a1a1; font-weight: 300;
    text-overflow: ellipsis; display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* play */
.play {
    position: fixed; 
    left: 0; bottom: 67px;
    z-index: 9000;
    width: 100%;
    height: 62px;
    background: rgba(255,255,255,0.7);
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
}
.play .play-img {width: 48px; padding: 8px 20px;}
.play .play-img img {border-radius: 3px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.play .play-tit {font-size: 16px; }
.play .play-play {margin-left: auto; padding-right: 10px; cursor: pointer;}
.play .play-next {cursor: pointer; margin-right: 20px ;}

/* nav */
.nav {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 9000;
}
.nav ul {display: flex; text-align: center;}
.nav ul li {flex-basis: 20%;}
.nav ul li a {display: block;}
.nav ul li a span {
    display: block;
    font-size: 10px;
    line-height: 1;
    color:#999;
    padding-bottom: 20px;
}

/* mediaquery */
@media (max-width: 1020px){
    .container {width: 100%;}
}