/*font-family: 'Noto Sans KR', sans-serif;*/

body {
	font-family: 'Noto Sans KR', sans-serif;
}
/* layout */

.clearfix {
	*zoom: 1
}
.clearfix:before,
.clearfix:after {
	display: block;
	content: '';
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.contents {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.port {
	position: relative;
	width: 70%;
	height: 100vh;
	float: left;
	background-color: #B4DBD2;
}

.about {
	position: relative;
	width: 30%;
	height: 50vh;
	float: left;
	background-color: #FFDE8A;
}

.contact {
	position: relative;
	width: 30%;
	height: 50vh;
	float: left;
	background-color: #2E3C68;
}
/* port */

.tit1 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	position: absolute;
	left: 5%;
	bottom: 4%;
}

.tit1 h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
}

.tit1 h3 {
	font-family: 'Playfair Display', serif;
	font-size: 34px;
	font-weight: 400;
	line-height: 40px;
}

.no-hover {
	display: none;
}


/* about */

.tit2 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	position: absolute;
	left: 5%;
	bottom: 5%;
}

.tit2 h2 {
	font-size: 14px;
	font-weight: 700;
}

.tit2 h3 {
	font-family: 'Playfair Display', serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
}


/* contact */

.tit3 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	position: absolute;
	left: 5%;
	bottom: 5%;
}

.tit3 h2 {
	font-size: 14px;
	font-weight: 700;
}

.tit3 h3 {
	font-family: 'Playfair Display', serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
}


/* main-animation----------------------------------------------------- */
.main-p {opacity:0; transform:translateY(10%); transition: all 1s ease 0.5s; }
.main-p.show {opacity:1; transform:translateY(0%);}

.ke4 {opacity:0; transform:translateY(-10%); transition: all 1s ease 1.2s; }
.ke4.show {opacity:1; transform:translateY(0%); }
.search {opacity:0; transform:translateY(-10%); transition: all 0.3s ease 1.2s;}
.search.show{
	opacity:1; transform:translateY(0%);
	opacity:1; transform:translateY(0%); 
	animation-name: floating;
	animation-duration: 1.5s;	
	animation-iteration-count: infinite;
}


.img1 {opacity:0; transform:translateY(-10%); transition: all 0.3s ease 1s;}
.img1.show{opacity:1; transform:translateY(0%); }
.stty2 {opacity:0; transform:translateY(-10%); transition: all 1s ease 1s; }
.stty2.show {opacity:1; transform:translateY(0%); }
.bulb {opacity:0; transform:translateY(-10%); transition: all 1s ease 1s; }
.bulb.show {
	opacity:1; transform:translateY(0%);
	opacity:1; transform:translateY(0%); 
	animation-name: floating;
	animation-duration: 1.5s;	
	animation-iteration-count: infinite;
}

.img2 {opacity:0; transform:translateY(-10%); transition: all 0.3s ease 1.5s;}
.img2.show{opacity:1; transform:translateY(0%); }
.ke2 {opacity:0; transform:translateY(-10%); transition: all 1s ease 1.5s; }
.ke2.show {opacity:1; transform:translateY(0%); }

.web {opacity:0; transform:translateY(-10%); transition: all 1s ease 2s; }
.web.show {
	opacity:1; transform:translateY(0%); 
	animation-name: floating;
	animation-duration: 1.5s;	
	animation-iteration-count: infinite;
}
.sttt {opacity:0; transform:translateY(-10%); transition: all 1s ease 2s;  }
.sttt.show {opacity:1; transform:translateY(0%);transition-delay:1s;}

.codingtit{
	opacity: 0;
	transition-delay: 2.5s
}
.codingtit.show{
	opacity: 1;
	animation-name: bounce;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
}

.uxtitle{
	opacity: 0;
	transition-delay: 2s
}
.uxtitle.show{
	opacity: 1;
	animation-name: bounce;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 2s;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(3%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}
@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}
.tree {
	transform-origin: 50% 100%;
	transform: rotate(45deg);
	animation-name: rotate1;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}
	33.3333% {
		transform: rotate(5deg);
	}
	66.66666% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.hand {
	transform-origin: 50% 100%;
	transform: rotate(45deg);
	animation-name: rotate2;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
	}
	33.3333% {
		transform: rotate(5deg);
	}
	66.66666% {
		transform: rotate(-5deg);
	}
	99.99999% {
		transform: rotate(0deg);
	}
}


/* sub1 */

#scroll-1 {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 100px;
	height: 100px;
	z-index: 99999;
	background: #000;
	color: #fff;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	display: ;
}

.section {width:100%; overflow:hidden;}
#section0 {
	height: 100vh;
	background-color: #B4DBD2;
}

#section0 .sub-main {
	position: absolute;
	top: 20%;
	right: 0;
	left: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 64px;
	line-height: 90px;
	text-align: center;
	color: #fff;
}

#section0 .work {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 90px;
	color: #F47D7D;
	margin-top: -20px;
}

@keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}

.scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 80px;
	text-align: center;
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}

.scroll-btn .mouse> * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

.left {
	position: relative;
	width: 70%;
	height: 100%;
	float: left;
}

.right {
	position: relative;
	width: 30%;
	height: 100%;
	float: left;
}

.right-container {
	width: 80%;
	position: relative;
	top: 64%;
	margin: 0 auto;
}

.right-container .right-title {
	position: absolute;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	color: #fff;
	margin: 0 auto;
}

.right .right-head h3 {
	width: 80%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 4%;
	left: 10%;
	margin: 0 auto;
}

.right-container .right-title h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.right-container .right-title h5 {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	margin-top: 5px;
	margin-bottom: 30px;
	position: relative;
}

.right-container .right-title .line {
	width: 15px;
	height: 5px;
	border-top: 4px solid #fff;
}

.right-container .right-title p {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	font-size: 12px;
	margin-top: 6px;
	margin-bottom: 20px;
}

.right-container .view {
	display: block;
	border: 2px solid #fff;
	padding: 6px 22px;
	border-radius: 24px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin-top: 16px;
}
.right-container .view a{
	color: #fff;
}

/*section1------------------------------------------------------------------------*/

#section1 {
	overflow: hidden;
	height: 100vh;
}

#section1 .left {
	background-color: #E8E8E8;
	overflow:hidden;
}

#section1 .right {
	background-color: #FFCF7B;
}

#section1 .right-head {
	opacity: 0;
}

#section1 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section1 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section1 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section1 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section1 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section1 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section1 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section1 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section1 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section1 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section1 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

#section1 .left img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	opacity: 0;
}

#section1 .left img.show {
	opacity: 1;
	animation-name: pulse;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}
/*section2------------------------------------------------------------------------*/
#section2 {
	background: #fff;
	height: 100vh;
}

#section2 .left {
	background-color: #C0E2E1;
	overflow:hidden;
}

#section2 .right {
	background-color: #7D96BA;
}

#section2 .right-head {
	opacity: 0;
}

#section2 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section2 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section2 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section2 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section2 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section2 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section2 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section2 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section2 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section2 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section2 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

#section2 .left img {
	opacity: 0;
	width: 75%;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: auto;
}

#section2 .left img.show {
	opacity: 1;
	animation-name: slideInRight;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}
/*section3------------------------------------------------------------------------*/
#section3 {
	background: #3C9EDD;
	height: 100vh;
}

#section3 .left {
	background-color: #3C9EDD;
	overflow:hidden;
}

#section3 .right {
	background-color: #7D96BA;
	background-color: rgba(255, 255, 255, 0.3)
}

#section3 .right-head {
	opacity: 0;
}

#section3 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section3 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section3 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section3 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section3 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section3 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section3 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section3 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section3 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section3 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section3 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

#section3 .left .jinair-c {
	width: 30%;
	bottom: -18%;
	left: 35%;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease;
}

#section3 .left .jinair-c.show {
	opacity: 1;
	bottom: 8%;
}

#section3 .left .jinair-l {
	width: 26%;
	bottom: -26%;
	left: 20%;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease 0.3s;
}

#section3 .left .jinair-l.show {
	opacity: 1;
	bottom: 12%;
}

#section3 .left .jinair-r {
	width: 26%;
	bottom: -26%;
	left: 54%;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease 0.6s;
}

#section3 .left .jinair-r.show {
	opacity: 1;
	bottom: 12%;
}

#section3 .left .cloud {
	width: 100%;
	bottom: -26%;
	left: 20%;
	position: absolute;
	opacity: 0;
}

#section3 .left .cloud.show {
	opacity: 0.6;
	bottom: -20%;
	animation-name: floating1;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes floating1 {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(1%);
	}
	100% {
		transform: translateY(0%);
	}
}


/*section4------------------------------------------------------------------------*/

#section4 {
	background: #fff;
	height: 100vh;
}

#section4 .left {
	background-color: #DCFFF0;
	overflow:hidden;
}

#section4 .right {
	background-color: #333;
}

#section4 .right-head {
	opacity: 0;
}

#section4 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section4 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section4 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section4 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section4 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section4 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section4 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section4 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section4 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section4 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section4 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

#section4 .left .bodyshop1 {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -100%;
	left: 0;
	margin: auto;
	opacity: 0;
	transition: all 0.5s ease 0.3s;
}

#section4 .left .bodyshop1.show {
	opacity: 1;
	right: -35%
}

#section4 .left .bodyshop2 {
	width: 53%;
	position: absolute;
	top: 0;
	bottom: -10%;
	left: 10%;
	margin: auto;
	opacity: 0;
	transition: all 0.5s ease 0.7s;
}

#section4 .left .bodyshop2.show {
	opacity: 1;
	bottom: 0%;
}


/*section5------------------------------------------------------------------------*/

#section5 {
	background: #777;
	height: 100vh;
}

#section5 .left {
	background-color: #0F2035;
	overflow:hidden;
}

#section5 .right {
	background-color: #374459;
}

#section5 .right-head {
	opacity: 0;
}

#section5 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section5 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section5 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section5 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section5 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section5 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section5 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section5 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section5 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section5 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section5 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

#section5 .left .hy1 {
	width: 75%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3%;
	margin: auto;
	opacity: 0;
}

#section5 .left .hy1.show {
	opacity: 1;
	animation-name: zoomIn;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section5 .left .hy2 {
	width: 33%;
	position: absolute;
	top: 10%;
	right: 3%;
	margin: auto;
	opacity: 0;
	transition-delay: 0.8s;
}

#section5 .left .hy2.show {
	opacity: 1;
	top: 10%;
	animation-name: flipInX;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.8s;
}

#section5 .left .hy3 {
	width: 33%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 3%;
	margin: auto;
	opacity: 0;
	transition-delay: 1s;
}

#section5 .left .hy3.show {
	opacity: 1;
	right: 3%;
	animation-name: flipInX;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 1s;
}

#section5 .left .hy4 {
	width: 33%;
	position: absolute;
	bottom: 10%;
	right: 3%;
	margin: auto;
	opacity: 0;
	transition-delay: 1.2s;
}

#section5 .left .hy4.show {
	opacity: 1;
	bottom: 10%;
	animation-name: flipInX;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 1.2s;
}
/*section6------------------------------------------------------------------------*/
#section6 {
	background: #777;
	height: 100vh;
}

#section6 .left {
	background-color: #fff;
	overflow:hidden;
}

#section6 .left .cmt1 {
	width: 70%;
	position: absolute;
	bottom: 0;
	top:-10%;
	right: -10%;
	margin: auto;
	opacity: 0;
	transition-delay: 1.2s;
}
#section6 .left .cmt1.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}
#section6 .left .cmt2 {
	width: 60%;
	position: absolute;
	bottom: 0;
	top:0;
	left:5%;
	margin: auto;
	opacity: 0;
	transition-delay: 0.9s;
}
#section6 .left .cmt2.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.9s;
}
#section6 .left .cmt4 {
	width: 25%;
	position: absolute;
	bottom: 15%;
	right: 5%;
	margin: auto;
	opacity: 0;
	transition-delay: 1.2s;
}
#section6 .left .cmt4.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 1.2s;
}


#section6 .right {
	background-color: #333;
}
#section8 .right-head {
	opacity: 0;
}

#section6 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section6 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section6 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section6 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section6 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section6 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section6 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section6 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section6 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section6 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section6 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

/*section7------------------------------------------------------------------------*/
#section7 {
	background: #777;
	height: 100vh;
}

#section7 .left {
	background-color: #fff;
	overflow:hidden;
}

#section7 .right {
	background-color: #333;
}

/*section8------------------------------------------------------------------------*/
#section8 {
	background: #777;
	height: 100vh;
}

#section8 .left {
	background-color: #fff;
	overflow:hidden;
}

#section8 .right {
	background-color: #3B5AA7;
}
#section8 .right-head {
	opacity: 0;
}

#section8 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section8 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section8 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section8 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section8 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section8 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section8 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section8 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section8 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section8 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section8 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}
#section8 .left .yes {
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

#section8 .left .yes.show {
	animation-name: swing;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}
/*section9------------------------------------------------------------------------*/
#section9 {
	background: #3C9EDD;
	height: 100vh;
}

#section9 .left {
	background-color: #dceff7;
	overflow:hidden;
}

#section9 .right {
	background-color: #013064;
}
#section9 .right-head {
	opacity: 0;
}

#section9 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section9 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section9 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section9 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section9 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section9 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section9 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section9 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section9 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section9 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section9 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

#section9 .left .web1 {
	opacity: 0;
	width: 60%;
	position: absolute;
	top: 0%;
	bottom: 0;
	left: 5%;
	margin: auto;
	transition-delay: 0.2s;
}

#section9 .left .web1.show {
	opacity: 1;
	left: 5%;
	animation-name: slideInRight;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
}

#section9 .left .web2 {
	opacity: 0;
	width: 75%;
	position: absolute;
	top: 0%;
	bottom: 0;
	right: -10%;
	margin: auto;
	transition-delay: 0.4s;
}

#section9 .left .web2.show {
	opacity: 1;
	right: -10%;
	animation-name: slideInRight;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section9 .left .web3 {
	opacity: 0;
	width: 14%;
	position: absolute;
	top: 15%;
	left: 45%;
	margin: auto;
	transition-delay: 1s;
}

#section9 .left .web3.show {
	opacity: 1;
	top: 15%;
	animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 1s;
}

#section9 .left .web4 {
	opacity: 0;
	width: 10%;
	position: absolute;
	top: 22%;
	left: 13%;
	margin: auto;
	transition-delay: 1s;
}

#section9 .left .web4.show {
	opacity: 1;
	top: 22%;
	animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 1s;
}
/*section10------------------------------------------------------------------------*/
#section10 {
	background: #3C9EDD;
	height: 100vh;
}
#section10 .left {
	background-color: #d5edf7;
	overflow:hidden;
}
#section10 .right {
	background-color: #135a7d;
}
#section10 .right-head {
	opacity: 0;
}
#section10 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section10 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section10 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section10 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section10 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section10 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section10 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section10 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section10 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section10 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section10 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}
#section10 .left .responsive1 {
	opacity: 0;
	width: 60%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25%;
	margin: auto;
}

#section10 .left .responsive1.show {
	opacity: 1;
	animation-name: fadeInDown;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section10 .left .responsive2 {
	opacity: 0;
	width: 34%;
	position: absolute;
	bottom: 15%;
	left: 15%;
	margin: auto;
	transition-delay: 0.8s;
}

#section10 .left .responsive2.show {
	opacity: 1;
	bottom: 15%;
	animation-name: slideInLeft;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.8s;
}

#section10 .left .responsive3 {
	opacity: 0;
	width: 12%;
	position: absolute;
	bottom: 14%;
	left: 10%;
	margin: auto;
	transition-delay: 1.2s;
}

#section10 .left .responsive3.show {
	opacity: 1;
	bottom: 14%;
	animation-name: slideInLeft;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 1.2s;
}

/*section14------------------------------------------------------------------------*/
#section14 {
	background: #ccc;
	height: 100vh;
}

#section14 .left {
	background-color: #fff;
	overflow:hidden;
}

#section14 .right {
	background-color: #111;
}
#section14 .right-head {
	opacity: 0;
}

#section14 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section14 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section14 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section14 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section14 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section14 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section14 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section14 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section14 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section14 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section14 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}
#section14 .left .card_main {
	opacity: 0;
	width: 70%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
#section14 .left .card_main.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}
/*section11------------------------------------------------------------------------*/
#section11 {
	background: #3C9EDD;
	height: 100vh;
}

#section11 .left {
	background-color: #222;
	overflow:hidden;
}

#section11 .right {
	background-color: #333;
}
#section11 .right-head {
	opacity: 0;
}

#section11 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section11 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section11 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section11 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section11 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section11 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section11 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section11 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section11 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section11 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section11 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}
#section11 .left .panel {
	opacity: 0;
	width: 45%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	margin: auto;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}
#section11 .left .panel.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

/*section12------------------------------------------------------------------------*/
#section12 {
	background: #3C9EDD;
	height: 100vh;
}

#section12 .left {
	background-color: #fff;
	overflow:hidden;
}

#section12 .right {
	background-color: #FFCC5A;
}
#section12 .right-head {
	opacity: 0;
}

#section12 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section12 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section12 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section12 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section12 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section12 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section12 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section12 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section12 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section12 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section12 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}
#section12 .left .baby {
	opacity: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	margin: auto;
}
#section12 .left .baby.show {
	opacity: 1;
	animation-name: fadeInLeft;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}


/*section13------------------------------------------------------------------------*/
#section13 {
	background: #fff;
	height: 100vh;
}

#section13 .left {
	background-color: #fff;
	overflow:hidden;
}

#section13 .right {
	background-color: #C12428;
}
#section13 .right-head {
	opacity: 0;
}

#section13 .right-head.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#section13 .right-title h4 {
	opacity: 0;
	transition-delay: 0.3s
}

#section13 .right-title h4.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#section13 .right-title h5 {
	opacity: 0;
	transition-delay: 0.4s
}

#section13 .right-title h5.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#section13 .right-title .line {
	opacity: 0;
	transition-delay: 0.5s
}

#section13 .right-title .line.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#section13 .right-title p {
	opacity: 0;
	transition-delay: 0.6s
}

#section13 .right-title p.show {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#section13 .right-title .view {
	opacity: 0;
	transition-delay: 0.7s
}

#section13 .right-title .view.show {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}
#section13 .left .get {
	opacity: 0;
	width: 80%;
	position: absolute;
	top: 0%;
	bottom:0;
	right:0;
	left: 0%;
	margin: auto;
	transition-delay:0.3s
}
#section13 .left .get.show {
	opacity: 1;
	animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}
