/* layout */
body {background: #f6ecd2;}

#contents {}
#section1 {height: 1500px;}
#section2 {height: 7700px;}
#section3 {height: 3800px;}
#section4 {height: 5200px;}
#section5 {height: 3000px;}
#section6 {height: 2700px;}
#section7 {height: 3100px;}
#section8 {}
/* #section9 {height: 3000px;}
#section10 {} */
#section11 {height: 1000px;}
#section12 {height: 3000px;}


/* container */
.container {width: 1400px; margin: 0 auto;}

/*로딩*/
.progress {
    position: fixed; left: 0; top: 0; z-index: 99999;
    width: 100%; height: 100vh; 
    background: #f6ecd2;
}
.progress-text {
    position: absolute; left: 50%; top: 50%; 
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-family: 'Amatic SC';
    color: #613c4d;
}

/* scroll */
.scroll {
    position: fixed; left: 20px; top: 20px; z-index: 1000;
    width: 50px; height: 50px;  line-height: 50px; border-radius: 50%;
    background: rgba(255,0,0,0.5); 
    color: #fff; 
    text-align: center; font-weight: bold; font-size: 16px;
    display: none;
}

/*audio*/
.wrapper {
    position: fixed;
    right: 3%; top: 3%;
    z-index: 10000;
  }
  .player-controls {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 40px;
    height: 1em;
    position: relative;
    text-decoration: none;
    width: 1em;
    transition: transform 0.25s ease-in-out;
  }
  .player-controls:hover {
      color: #fff;
  }
  .player-controls .audio-label {
    line-height: 1;
    position: absolute;
    right: 1.35em;
    text-align: right;
    text-transform: uppercase;
    top: -0.4em;
  }
  .player-controls .audio-label span {
    font-size: 18px;
    font-weight: bold;
    color:#486d88;
    background: rgba(255,255,255,0.5);
  }
  .player-controls .audio-label span small {
    display: block;
    font-size: 0.83em;
    background: rgba(255,255,255,0.5);
    color:#b44561;
  }
  .player-controls .play,
  .player-controls .pause {
    display: block;
    background: url('https://www.dropbox.com/s/aukpnwpj8b77tqy/play.svg?raw=1') no-repeat 0 0;
    background-size: 100% 100%;
    height: 1em;
    position: absolute;
    width: 1em;
    transition: all 0.25s linear;
    z-index: 5;
  }
  .player-controls .play::before,
  .player-controls .pause::before,
  .player-controls .play::after,
  .player-controls .pause::after {
    border-radius: 1000px;
    content: "";
    display: block;
    position: absolute;
    height: 1em;
    right: 0;
    top: 0;
    width: 1em;
    z-index: 0;
  }
  .player-controls .play::before {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: all 0.25s linear;
  }
  .player-controls .pause {
    background-image: url('https://www.dropbox.com/s/ev272i742j9ugvv/pause.svg?raw=1');
    opacity: 0;
    right: 0;
    top: 0;
  }
  .player-controls.playing .play {
    opacity: 0;
  }
  .player-controls.playing .pause {
    opacity: 1;
  }
  .player-controls.playing .pause::before {
    animation: audio1 1.5s infinite ease-in-out;
  }
  .player-controls.playing .pause::after {
    animation: audio2 2.2s infinite ease-in-out;
  }
  .player-controls:hover {
    transform: scale(1.1);
  }
  .player-controls:hover .play::before {
    box-shadow: 0 0 12px rgba(255, 238, 125, 0.8);
  }
  .animate-audio1 {
    animation: audio1 1.5s infinite ease-in-out;
  }
  @keyframes audio1 {
    0%,
    100% {
      box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.4);
    }
    25% {
      box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.15);
    }
    50% {
      box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.55);
    }
    75% {
      box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.25);
    }
  }
  .animate-audio2 {
    animation: audio2 2.2s infinite ease-in-out;
  }
  @keyframes audio2 {
    0%,
    100% {
      box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.15);
    }
    25% {
      box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.3);
    }
    50% {
      box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.05);
    }
    75% {
      box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.45);
    }
  }



/* sec1 */
.sec1 {}
.sec1 h1 {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw; line-height: 6.3vw;
    font-family: 'Abril Fatface';
    text-align: center;  
}
.sec1 h1 span {display: block;}
.sec1 h1 span:nth-of-type(1) {color: #564862;}
.sec1 h1 span:nth-of-type(2) {color: #564862;}
.sec1 h1 span:nth-of-type(3) {color: #486d88;}
.sec1 h1 span:nth-of-type(4) {color: #b44561;}
.sec1 .scroll01 .scroll_img {
    margin-top: 6vw;
    position: fixed;
    left: 50%; top: 80%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 50px;
    border: 3px solid #564862;
    border-radius: 50px;
    box-sizing: border-box;
}

.sec1 .scroll01 .scroll_img::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 7px;
    height: 7px;
    margin-left: -3px;
    background-color: #564862;
    border-radius: 100%;
    box-sizing: border-box;
    animation: sdb10 2s infinite;
}

.sec1 .scroll01 .scroll_img::after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 18px;
    height: 18px;
    content: '';
    margin-left: -9px;
    border-left: 2px solid #564862;
    border-bottom: 2px solid #564862;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
@keyframes sdb10 {
    0% {transform: translate(0, 0); opacity: 0;}
    40% {opacity: 1;}
    80% {transform: translate(0, 20px); opacity: 0;}
    100% {opacity: 0;}
}

.deco .corner {position: fixed;}
.deco .topLeft {top: 0; left: 0; width: 40vw; z-index: 100;}
.deco .bottomLeft {bottom: 0; left: 0; width: 35vw; z-index: 100;}
.deco .topRight {top: 0; right: 0; width: 40vw; z-index: 100;}
.deco .bottomRight {bottom: 0; right: 0; width: 35vw; z-index: 100;}

/* sec1 animation */
.sec1 h1 span:nth-of-type(1) {opacity: 0; transform: translateY(20px); transition: all 0.4s 0.1s ease;}
.sec1 h1 span:nth-of-type(2) {opacity: 0; transform: translateY(20px); transition: all 0.4s 0.4s ease;}
.sec1 h1 span:nth-of-type(3) {opacity: 0; transform: translateY(20px); transition: all 0.4s 0.8s ease;}
.sec1 h1 span:nth-of-type(4) {opacity: 0; transform: translateY(20px); transition: all 0.4s 1.2s ease;}
.sec1 .scroll01 {opacity: 0; transition: all 0.4s 2.2s ease;}

#section1.show .sec1 h1 span:nth-of-type(1) {opacity: 1; transform: translateY(0);}
#section1.show .sec1 h1 span:nth-of-type(2) {opacity: 2; transform: translateY(0);}
#section1.show .sec1 h1 span:nth-of-type(3) {opacity: 3; transform: translateY(0);}
#section1.show .sec1 h1 span:nth-of-type(4) {opacity: 4; transform: translateY(0);}
#section1.show .sec1 .scroll01 {opacity: 5;}


/* sec2 */
.sec2 .clock {
    width: 40vw;
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.sec2 .finger {
    width: 10vw;
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
}
.sec2 .intro h3 { font-family: 'Amatic SC'; 
    color: #b44561; font-size: 5vw; text-transform: uppercase; }
.sec2 .intro p {font-size: 3vw;}

.sec2 .intro.in1 {position: fixed; left: 18%; top: 25%;
    transform: translate(-50%, -50%); text-align: center;}
.sec2 .intro.in2 {position: fixed; right: -8%; top: 25%;
    transform: translate(-50%, -50%); text-align: center;}
.sec2 .intro.in3 {position: fixed; right: 0%; top: 75%;
    transform: translate(-50%, -50%); text-align: center;}
.sec2 .intro.in4 {position: fixed; left: 18%; top: 75%;
    transform: translate(-50%, -50%); text-align: center;}


/* sec3 */
.sec3 .site_deco {
    position: fixed; top: 50%; left: 32%;
    transform: translate(-50%, -50%);
    width: 10vw; 
}
.sec3 .site_title h2 {
    position: fixed; top: 50%; left: 52%;
    transform: translate(-50%, -50%);
    font-size: 8vw; line-height: 7vw;
}
.sec3 .site_title h2 strong {
    font-family: 'Abril Fatface'; 
    font-weight: normal;
    color: #b44561;
    text-align: center;
    display: block;
}
.sec3 .site_title h2 span{
    font-family: 'Amatic SC';
    color: #613c4d;
    text-align: center;
}

/* sec3 애니메이션 */
/* .sec3 .site_title h2 strong {opacity: 0; transition: opacity .4s 1s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title.show h2 strong {opacity: 1;} */

.sec3 .site_deco.show {opacity: 1; animation: swing 1s cubic-bezier(.7,0,.3,1);}
@keyframes swing {
    20% {transform: translate(-50%, -50%) rotate3d(0, 0, 1, 15deg);}
    40% {transform: translate(-50%, -50%) rotate3d(0, 0, 1, -10deg);}
    60% {transform: translate(-50%, -50%) rotate3d(0, 0, 1, 5deg);}
    80% {transform: translate(-50%, -50%) rotate3d(0, 0, 1, -5deg);}
    to {transform: translate(-50%, -50%) rotate3d(0, 0, 1, 0deg);}
}

/* .sec3 .site_title h2 span:nth-child(1){opacity: 0;  transition: opacity .4s 1.05s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(2){opacity: 0;  transition: opacity .4s 1.10s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(3){opacity: 0;  transition: opacity .4s 1.15s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(4){opacity: 0;  transition: opacity .4s 1.20s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(5){opacity: 0;  transition: opacity .4s 1.25s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(6){opacity: 0;  transition: opacity .4s 1.30s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(7){opacity: 0;  transition: opacity .4s 1.35s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(8){opacity: 0;  transition: opacity .4s 1.40s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(9){opacity: 0;  transition: opacity .4s 1.45s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(10){opacity: 0;  transition: opacity .4s 1.50s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(11){opacity: 0;  transition: opacity .4s 1.55s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title h2 span:nth-child(12){opacity: 0;  transition: opacity .4s 1.60s cubic-bezier(.7,0,.3,1);}
.sec3 .site_title.show h2 span {opacity: 1;} */

/* sec4 */
.sec4 .site .site_left {position: relative; width: 30vw; position: fixed; left: 28%; top: 50%; transform: translate(-50%, -50%);}
.sec4 .site .site_left .moniter_deco {
    position: absolute;
    top: -15%; left: -15%;
    width: 30vw; z-index: -10;
    opacity: .7;
}
.sec4 .site .site_left img {width: 30vw;}
.sec4 .site .site_right {position: relative; width: 30vw; position: fixed; left: 70%; top: 50%; transform: translate(-50%, -50%);}
.sec4 .site .site_right h3 {
    font-family: 'Amatic SC'; 
    font-size: 5vw; font-weight: bold;
    color: #613c4d;
    text-align: center;
}
.sec4 .site .site_right p {
    font-size: 2vw; padding-top: 1vw; word-break: keep-all;
    text-align: center; 
}
.sec4 .site .site_right a {
    display: block; 
    padding: 0.1vw 1vw;
    position: absolute; bottom: -30%; left: 0%; 
    font-family: 'Amatic SC'; 
    font-size: 2vw; text-align: center;
    transition: all .3s ease-in-out;
    border-radius: 30px;
    border: 1px solid #000;
}
.sec4 .site .site_right a:hover {
    text-align: center;
    background: #90d2c2; color: #fff;
    border: 1px solid #90d2c2;
}
.sec4 .site .site_right .site_deco {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    z-index: -10;
}
.sec4 .site .site_right .site_deco2 {
    position: absolute; bottom: -30%; left: 55%;
    width: 17vw;
    z-index: -20; opacity: .7;
    transform: rotate(-20deg);
}

.sec4 .site .site_left2 {position: relative; width: 30vw; position: fixed; left: 28%; top: 50%; transform: translate(-50%, -50%);}
.sec4 .site .site_left2 h3 {
    font-family: 'Amatic SC'; 
    font-size: 5vw; font-weight: bold;
    color: #613c4d;
    text-align: center;
}
.sec4 .site .site_left2 p {
    font-size: 2vw; padding-top: 1vw; word-break: keep-all; 
    text-align: center; 
}
.sec4 .site .site_left2 a {
    display: block; 
    padding: 0.1vw 1vw;
    position: absolute; bottom: -30%; right: 0%; 
    font-family: 'Amatic SC'; 
    font-size: 2vw; text-align: center;
    transition: all .3s ease-in-out;
    border-radius: 30px;
    border: 1px solid #000;
}
.sec4 .site .site_left2 a:hover {
    text-align: center;
    background: #90d2c2; color: #fff;
    border: 1px solid #90d2c2;
}
.sec4 .site .site_left2 .site_deco {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    z-index: -10;
}
.sec4 .site .site_left2 .site_deco2 {
    position: absolute; bottom: -30%; left: -15%;
    width: 17vw;
    z-index: -20; opacity: .7;
    transform: rotate(24deg);
}
.sec4 .site .site_right2 {position: relative; width: 30vw; position: fixed; left: 70%; top: 50%; transform: translate(-50%, -50%);}
.sec4 .site .site_right2 .moniter_deco {
    position: absolute;
    top: -15%; left: 15%;
    width: 40vw; z-index: -10;
    opacity: .7;
}
.sec4 .site .site_right2 img {width: 30vw;}

/* sec5 */
.sec5 .mobile_deco {
    position: fixed; top: 50%; left: 32%;
    transform: translate(-50%, -50%);
    width: 10vw;
}
.sec5 .mobile_title h2 {
    position: fixed; top: 50%; left: 52%;
    transform: translate(-50%, -50%);
    font-size: 8vw; line-height: 7vw;
}
.sec5 .mobile_title h2 strong {
    font-family: 'Abril Fatface'; 
    font-weight: normal;
    color: #b44561;
    text-align: center;
    display: block;
}
.sec5 .mobile_title h2 span{
    font-family: 'Amatic SC';
    color: #613c4d;
    text-align: center;
}



/* sec5 애니메이션*/
/* #section5 .sec5 .mobile_title h2 strong {opacity: 0; transition: opacity .4s 1s cubic-bezier(.7,0,.3,1);}
#section5.show .sec5 .mobile_title h2 strong {opacity: 1;} */

.sec5 .mobile_deco.show {opacity: 1; animation: tada 1s cubic-bezier(.7,0,.3,1);}
@keyframes tada {
    from {transform: translate(-50%, -50%) scale3d(1, 1, 1);}
    10%, 20% {transform: translate(-50%, -50%) scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
    30%, 50%, 70%, 90% {transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
    40%, 60%, 80% {transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
    to {transform: translate(-50%, -50%) scale3d(1, 1, 1);}
}
/* 
#section5 .sec5 .mobile_title h2 span:nth-child(1){opacity: 0;  transition: opacity .4s 1.05s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(2){opacity: 0;  transition: opacity .4s 1.10s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(3){opacity: 0;  transition: opacity .4s 1.15s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(4){opacity: 0;  transition: opacity .4s 1.20s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(5){opacity: 0;  transition: opacity .4s 1.25s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(6){opacity: 0;  transition: opacity .4s 1.30s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(7){opacity: 0;  transition: opacity .4s 1.35s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(8){opacity: 0;  transition: opacity .4s 1.40s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(9){opacity: 0;  transition: opacity .4s 1.45s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(10){opacity: 0;  transition: opacity .4s 1.50s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(11){opacity: 0;  transition: opacity .4s 1.55s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span:nth-child(12){opacity: 0;  transition: opacity .4s 1.60s cubic-bezier(.7,0,.3,1);}
#section5 .sec5 .mobile_title h2 span.show {opacity: 1;} */


/* sec6 */
.sec6 .mobile .mobile_left {position: relative; width: 30vw; position: fixed; left: 28%; top: 50%; transform: translate(-50%, -50%);}
.sec6 .mobile .mobile_left .moniter_deco {
    position: absolute;
    top: -15%; left: -15%;
    width: 30vw; z-index: -10;
    opacity: .7;
}
.sec6 .mobile .mobile_left > img {width: 16vw;}
.sec6 .mobile .mobile_left .apple1 {
    position: absolute; left: 40%; top: 0;
}

.sec6 .mobile .mobile_right {position: relative; width: 30vw; position: fixed; left: 70%; top: 50%; transform: translate(-50%, -50%); }
.sec6 .mobile .mobile_right h3 {
    font-family: 'Amatic SC'; 
    font-size: 5vw; font-weight: bold;
    color: #613c4d;
    text-align: center;
}
.sec6 .mobile .mobile_right p {
    font-size: 2vw; padding-top: 1vw; word-break: keep-all;  text-align: center; 
}
.sec6 .mobile .mobile_right a {
    display: block; 
    padding: 0.1vw 1vw;
    position: absolute; bottom: -30%; left: 0%; 
    font-family: 'Amatic SC'; 
    font-size: 2vw; text-align: center;
    transition: all .3s ease-in-out;
    border-radius: 30px;
    border: 1px solid #000;
}
.sec6 .mobile .mobile_right a:hover {
    text-align: center;
    background: #90d2c2; color: #fff;
    border: 1px solid #90d2c2;
}
.sec6 .mobile .mobile_right .mobile_deco {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    z-index: -10;
}
.sec6 .mobile .mobile_right .mobile_deco2 {
    position: absolute;  bottom: -30%; left: 55%;
    width: 17vw;
    z-index: -20; opacity: .7;
    transform: rotate(-20deg);
}

.sec6 .mobile .mobile_left2 {position: relative;  width: 30vw; position: fixed; left: 28%; top: 50%; transform: translate(-50%, -50%);}
.sec6 .mobile .mobile_left2 h3 {
    font-family: 'Amatic SC'; 
    font-size: 5vw; font-weight: bold;
    color: #613c4d;
    text-align: center;
}
.sec6 .mobile .mobile_left2 p {
    font-size: 2vw; padding-top: 1vw; line-break: break-all; text-align: center; 
}
.sec6 .mobile .mobile_left2 a {
    display: block; 
    padding: 0.1vw 1vw;
    position: absolute; bottom: -30%; right: 0%; 
    font-family: 'Amatic SC'; 
    font-size: 2vw; text-align: center;
    transition: all .3s ease-in-out;
    border-radius: 30px;
    border: 1px solid #000;
}
.sec6 .mobile .mobile_left2 a:hover {
    text-align: center;
    background: #90d2c2; color: #fff;
    border: 1px solid #90d2c2;
}
.sec6 .mobile .mobile_left2 .mobile_deco {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    z-index: -10;
}
.sec6 .mobile .mobile_left2 .mobile_deco2 {
    position: absolute; bottom: -30%; left: -15%;
    width: 17vw;
    z-index: -20; opacity: .7;
    transform: rotate(24deg);
}

.sec6 .mobile .mobile_right2 {position: relative; width: 30vw; position: fixed; left: 70%; top: 50%; transform: translate(-50%, -50%);}
.sec6 .mobile .mobile_right2 .moniter_deco {
    position: absolute;
    top: -15%; left: 15%;
    width: 30vw; z-index: -10;
    opacity: .7;
}
.sec6 .mobile .mobile_right2 > img {width: 16vw;}
.sec6 .mobile .mobile_right2 .netflix1 {
    position: absolute; left: 40%; top: 0;
}

/* sec7 */
.sec7 .ani_deco {
    width: 12vw; z-index: -1;
    position: fixed; top: 50%; left: 32%;
    transform: translate(-50%, -50%);
}
.sec7 .ani_title h2 {
    position: fixed; top: 50%; left: 52%;
    transform: translate(-50%, -50%);
    font-size: 8vw; line-height: 7vw;
}
.sec7 .ani_title h2 strong {
    font-family: 'Abril Fatface'; 
    font-weight: normal;
    color: #b44561;
    text-align: center;
    display: block;
}
.sec7 .ani_title h2 span{
    font-family: 'Amatic SC';
    color: #613c4d;
    margin-left: 5vw;
}

/* sec7 애니메이션*/
.sec7 .ani_deco.show {opacity: 1; animation: fadeInLeft 1s cubic-bezier(.7,0,.3,1);}
@keyframes fadeInLeft {
    from {opacity: 0; transform: translate(-50%, -50%) translate3d(-100%, 0, 0);}
    to {opacity: 1; transform: translate(-50%, -50%) translate3d(0, 0, 0);}
}

/* sec8 */
.sec8_wrap {position:fixed; top: 50%; left: 50%; padding: 10%; transform: translateY(-52%);}
.sec8 {display: flex; width: 600vw; margin-left: 90vw;} 
.sec8 .ani_box {width: 40vw; position: relative; margin-right: 50vw; margin-top: 5vw;} 
.sec8 .ani_box .ani_frame iframe {width: 100%; height: 27vw;}
.sec8 .ani_box .ani_cont {overflow: hidden; margin-top: 3vw;}
.sec8 .ani_box .ani_cont .ani_deco {float: left; width: 8vw; z-index: -10; opacity: .8;}
.sec8 .ani_box .ani_cont .ani_desc { float: left; margin-left: -4vw;}
.sec8 .ani_box .ani_cont .ani_desc h3 {
    font-family: 'Amatic SC'; 
    font-size: 3.5vw; font-weight: bold;
    color: #613c4d;
    
}
.sec8 .ani_box .ani_cont .ani_desc p {
    font-size: 1.5vw;
    text-align: center;
}
.sec8 .ani_box .ani_cont a {
    display: block; 
    padding: 1px 18px;
    position: absolute; right: 0; top: 78%;
    font-family: 'Amatic SC'; 
    font-size: 2vw; text-align: center;
    transition: all .3s ease-in-out;
    border-radius: 30px;
    border: 1px solid #000;
}
.sec8 .ani_box .ani_cont a:hover {
    text-align: center;
    background: #fcc6b6; color: #fff;
    border: 1px solid #fcc6b6;
}

/* sec9 */
/* .sec9 .skill_deco {
    width: 15vw; z-index: -1;
    position: fixed; top: 50%; left: 32%;
    transform: translate(-50%, -50%);
}
.sec9 .skill_title h2 {
    position: fixed; top: 50%; left: 52%;
    transform: translate(-50%, -50%);
    font-size: 8vw; line-height: 8.5vw;
}
.sec9 .skill_title h2 span {display: block;}
.sec9 .skill_title h2 strong {
    font-family: 'Abril Fatface'; 
    font-weight: normal;
    color: #b44561;
    text-align: center;
    display: block;
}
.sec9 .skill_title h2 span{
    font-family: 'Amatic SC';
    color: #613c4d;
    text-align: center;
} */

/*sec10*/
/* .sec10 .skill_top {display: flex; justify-content: space-between;}

.sec10 .skill_box {flex-direction: column; position: relative; width: 15vw;}
.sec10 .skill_box h3 {font-family: 'Amatic SC'; font-size: 5vw;}
.sec10 .skill_box p {font-family: 'DOSSaemmul'; font-size: 6vw; color: #613c4d; margin-left: 5vw;}
.sec10 .skill_box .skill_deco1 {width: 7vw; opacity: .7; position: absolute; left: -13%; top: 0; z-index: -10;}
.sec10 .skill_box .skill_deco2 {width: 10vw; opacity: .8; position: absolute; right: -10%; top: 55%; z-index: -10;}

.sec10 .skill_bottom {display: flex; justify-content: space-between; margin-top: 15vw;}
.sec10 .skill_box.jquery {margin-left: 10vw;}
.sec10 .skill_box.photo {margin-right: 10vw;} */

/* sec11 */
.sec11 .contact_deco {
    width: 10vw; z-index: -1;
    position: fixed; top: 50%; left: 32%;
    transform: translate(-50%, -50%);
}
.sec11 .contact_title h2 {
    position: fixed; top: 50%; left: 52%;
    transform: translate(-50%, -50%);
    font-size: 8vw; line-height: 7vw;
}
.sec11 .contact_title h2 strong {
    font-family: 'Abril Fatface'; 
    font-weight: normal;
    color: #b44561;
    text-align: center;
    display: block;
}
.sec11 .contact_title h2 span{
    font-family: 'Amatic SC';
    color: #613c4d;
    margin-left: 4vw;
}

/* sec11 애니메이션 */
.sec11 .contact_deco.show {opacity: 1; animation: flash 1s cubic-bezier(.7,0,.3,1);}
@keyframes flash {
    from, 50%, to {opacity: 1;}
    25%, 75% {opacity: 0;}
}

/* sec12 */
.sec12 {}
.sec12 .contact {
   position: fixed; top: 50%; left: 50%;
   transform: translate(-50%, -50%); display: flex; align-items: center; justify-content: center; flex-direction: column;
}
.sec12 .contact .con_name {text-align: center;}
.sec12 .contact .con_name h3 {font-family: 'Abril Fatface'; font-size: 4vw; color: #90d2c2;}
.sec12 .contact .con_name p {font-size: 3vw;}

.sec12 .contact .con_mail {margin-top: 5vw; text-align: center;}
.sec12 .contact .con_mail h3 {font-family: 'Abril Fatface'; font-size: 4vw; color: #fcc6b6;}
.sec12 .contact .con_mail p {font-size: 3vw;}

.sec12 .contact .con_send {margin-top: 8vw; text-align: center; padding-bottom: 10vw;}
.sec12 .contact .con_send h3 {font-family: 'Abril Fatface'; font-size: 4vw; color: #613c4d; margin-bottom: 5vw;}
.sec12 .contact .con_send .name {display: block; font-family: 'Cafe24Oneprettynight'; font-size: 1.7vw; width: 30vw; margin-bottom: 2vw;}
.sec12 .contact .con_send .mail {display: block;  font-family: 'Cafe24Oneprettynight';  font-size: 1.7vw; width: 30vw; margin-bottom: 2vw;}
.sec12 .contact .con_send .message {display: block;  font-family: 'Cafe24Oneprettynight'; font-size: 1.7vw; width: 30vw; height: 30vh; margin-bottom: 2vw;}
.sec12 .contact .con_send .btn { font-family: 'Amatic SC'; font-size: 2vw; font-weight: bold; width: 10vw; background: #fcc6b6; border-radius: 20px;}
.sec12 .contact .con_send .btn:hover {background: #90d2c2; color: #fff; transition: all .3s ease-in-out;}

/* mediaquery */
@media (max-width: 1400px){
    .container {width: 100%;}
    .scroll {display: none;}
}

@media (max-width: 800px){
    .progress-text {font-size: 13vw;}
    .sec1 h1 {font-size: 10vw; line-height: 10.3vw;}
    .deco .leftTop {width: 70vw;}
    .deco .leftBottom {width: 65vw;}
    .deco .rightTop {width: 70vw;}
    .deco .rightBottom {width: 65vw;}

    .sec2 .intro.in1 {left: 20%}
    .sec2 .intro.in2 {right: -14%;}
    .sec2 .intro.in3 {right: -8%;}
    .sec2 .intro.in4 {left: 22%;}
    .sec2 .intro.in1 h3 {font-size: 7vw;}
    .sec2 .intro.in1 p {font-size: 4vw;}
    .sec2 .intro.in2 h3 {font-size: 7vw;}
    .sec2 .intro.in2 p {font-size: 4vw;}
    .sec2 .intro.in3 h3 {font-size: 7vw;}
    .sec2 .intro.in3 p {font-size: 4vw;}
    .sec2 .intro.in4 h3 {font-size: 7vw;}
    .sec2 .intro.in4 p {font-size: 4vw;}
    .sec2 .clock {width: 50vw;}
    .sec2 .finger {width: 15vw;}

    .sec3 .site_deco {width: 15vw; left: 28%;}
    .sec3 .site_title h2 {font-size: 11vw; line-height: 10vw; left: 56%;}

    .sec4 .site .site_left {left: 40%; top: 30%;}
    .sec4 .site .site_left img {width: 50vw;}
    .sec4 .site .site_right {width: 50vw; left: 50%; top: 70%;}
    .sec4 .site .site_right h3 { font-size: 8vw;}
    .sec4 .site .site_right p { font-size: 4vw;}
    .sec4 .site .site_right a {font-size: 4vw; left: 38%; }
    .sec4 .site .site_left .moniter_deco {display: none;}
    .sec4 .site .site_right .site_deco2 {display: none;}
    .sec4 .site .site_right .site_deco {width: 30vw;}
    .sec4 .site .site_right2 {left: 40%; top: 30%;}
    .sec4 .site .site_right2 img {width: 50vw;}
    .sec4 .site .site_left2 {width: 50vw; left: 50%; top: 70%;}
    .sec4 .site .site_left2 h3 { font-size: 8vw;}
    .sec4 .site .site_left2 p {font-size: 4vw;}
    .sec4 .site .site_left2 a {font-size: 4vw; right: 38%;}
    .sec4 .site .site_right2 .moniter_deco {display: none;}
    .sec4 .site .site_left2 .site_deco2 {display: none;}
    .sec4 .site .site_left2 .site_deco {width: 30vw;}

    .sec5 .mobile_deco {width: 15vw; left: 28%;}
    .sec5 .mobile_title h2 {font-size: 11vw; line-height: 10vw; left: 56%;}

    .sec6 .mobile .mobile_left {width: 50vw; left: 52%; top: 30%;}
    .sec6 .mobile .mobile_left > img {width: 25vw;}
    .sec6 .mobile .mobile_right {width: 50vw; left: 50%; top: 70%;}
    .sec6 .mobile .mobile_right h3 {font-size: 8vw;}
    .sec6 .mobile .mobile_right p {font-size: 4vw;}
    .sec6 .mobile .mobile_right a {font-size: 4vw; left: 38%;}
    .sec6 .mobile .mobile_left .moniter_deco {display: none;}
    .sec6 .mobile .mobile_right .mobile_deco2 {display: none;}
    .sec6 .mobile .mobile_right .mobile_deco {width: 30vw;}
    .sec6 .mobile .mobile_right2 {width: 50vw; left: 52%; top: 30%;}
    .sec6 .mobile .mobile_right2 > img {width: 25vw;}
    .sec6 .mobile .mobile_left2 {width: 50vw; left: 50%; top: 70%;}
    .sec6 .mobile .mobile_left2 h3 {font-size: 8vw;}
    .sec6 .mobile .mobile_left2 p {font-size: 4vw;}
    .sec6 .mobile .mobile_left2 a {font-size: 4vw; right: 37%;}
    .sec6 .mobile .mobile_right2 .moniter_deco {display: none;}
    .sec6 .mobile .mobile_left2 .mobile_deco2 {display: none;}
    .sec6 .mobile .mobile_left2 .mobile_deco {width: 30vw;}

    .sec7 .ani_deco {width: 18vw; transform: translate(-78%, -50%);}
    .sec7 .ani_title h2 {font-size: 11vw; line-height: 10vw; left: 56%;}
    .sec7 .ani_title h2 span {margin-left: 14%;}
    .sec7 .ani_deco.show {opacity: 1; animation: fadeInLeft 1s cubic-bezier(.7,0,.3,1);}
    @keyframes fadeInLeft {
        from {opacity: 0; transform: translate(-78%, -50%) translate3d(-100%, 0, 0);}
        to {opacity: 1; transform: translate(-78%, -50%) translate3d(0, 0, 0);}
    }

    .sec8 {margin-left: 80vw;} 
    .sec8 .ani_box {width: 80vw; margin-right: 40vw;}
    .sec8 .ani_box .ani_frame iframe {height: 50vh;}
    .sec8 .ani_box .ani_cont .ani_desc h3 {margin-left: -5vw; font-size: 7vw;}
    .sec8 .ani_box .ani_cont .ani_desc p {margin-left: -5vw; font-size: 3vw;}
    .sec8 .ani_box.ani03 .ani_cont .ani_desc h3 {margin-left: -8vw;}
    .sec8 .ani_box.ani03 .ani_cont .ani_desc p {margin-left: -8vw;}
    .sec8 .ani_box .ani_cont .ani_desc a {font-size: 3vw; top: 85%;}
    .sec8 .ani_box .ani_cont .ani_deco {width: 15vw;}

    .sec11 .contact_deco {width: 15vw; left: 28%;}
    .sec11 .contact_title h2 {font-size: 11vw; line-height: 10vw; left: 56%;}

    .sec12 .contact {margin-top: -7vw;}
    .sec12 .contact .con_name {margin-bottom: 15vw;}
    .sec12 .contact .con_mail {margin-bottom: 20vw;}
    .sec12 .contact .con_name h3 {font-size: 7vw;}
    .sec12 .contact .con_name p {font-size: 5vw;}
    .sec12 .contact .con_mail h3 {font-size: 7vw;}
    .sec12 .contact .con_mail p {font-size: 5vw;}
    .sec12 .contact .con_send h3 {font-size: 7vw;}
    .sec12 .contact .con_send .name {font-size: 4vw; width: 50vw; margin-bottom: 4vw;}
    .sec12 .contact .con_send .mail {font-size: 4vw; width: 50vw; margin-bottom: 4vw;}
    .sec12 .contact .con_send .message {font-size: 4vw; width: 50vw; height: 50vh; margin-bottom: 4vw;}
    .sec12 .contact .con_send .btn {font-size: 4vw; width: 15vw;}
}

@media (max-width: 480px){
    .wrapper {   
        left: 1%; top: 1%;
      }
    .player-controls .audio-label {display: none;}
    .player-controls .play,
    .player-controls .pause { 
        width: 0.8em;
        height: 0.8em;
    }
    .player-controls .play::before,
    .player-controls .pause::before,
    .player-controls .play::after,
    .player-controls .pause::after {
        height: 0.8em;  
        width: 0.8em;
    }
    .player-controls .pause {right: 18.7%;}

    .sec3 .site_deco {width: 17vw; left: 24%;}
    .sec3 .site_title h2 {font-size: 12vw; line-height: 11vw; left: 55%;}

    .sec4 .site .site_left {left: 33%;}
    .sec4 .site .site_left img {width: 65vw;}
    .sec4 .site .site_right2 {left: 33%;}
    .sec4 .site .site_right2 img {width: 65vw;}
    .sec4 .site .site_right {width: 60vw;}
    .sec4 .site .site_right h3 {font-size: 10vw;}
    .sec4 .site .site_right p {font-size: 5vw;}
    .sec4 .site .site_right a {font-size: 5vw;}
    .sec4 .site .site_right .site_deco {width: 40vw;}
    .sec4 .site .site_left2 {width: 60vw;}
    .sec4 .site .site_left2 h3 {font-size: 10vw;}
    .sec4 .site .site_left2 p {font-size: 5vw;}
    .sec4 .site .site_left2 a {font-size: 5vw;}
    .sec4 .site .site_left2 .site_deco {width: 40vw;}

    .sec5 .mobile_deco {width: 17vw; left: 24%;}
    .sec5 .mobile_title h2 {font-size: 12vw; line-height: 11vw; left: 55%;}

    .sec6 .mobile .mobile_left {left: 50%;}
    .sec6 .mobile .mobile_left > img {width: 32vw;}
    .sec6 .mobile .mobile_right {width: 60vw;}
    .sec6 .mobile .mobile_right h3  {font-size: 10vw;}
    .sec6 .mobile .mobile_right p {font-size: 5vw;}
    .sec6 .mobile .mobile_right a {font-size: 5vw;}
    .sec6 .mobile .mobile_right .mobile_deco {width: 40vw;}
    .sec6 .mobile .mobile_right2 {left: 50%;}
    .sec6 .mobile .mobile_right2 > img {width: 32vw;}
    .sec6 .mobile .mobile_left2 {width: 60vw;}
    .sec6 .mobile .mobile_left2 h3  {font-size: 10vw;}
    .sec6 .mobile .mobile_left2 p {font-size: 5vw;}
    .sec6 .mobile .mobile_left2 a {font-size: 5vw;}
    .sec6 .mobile .mobile_left2 .mobile_deco {width: 40vw;}

    .sec7 .ani_deco {width: 20vw; transform: translate(-100%, -50%);}
    .sec7 .ani_title h2 {font-size: 12vw; line-height: 11vw; left: 57%;}
    .sec7 .ani_deco.show {opacity: 1; animation: fadeInLeft 1s cubic-bezier(.7,0,.3,1);}
    @keyframes fadeInLeft {
        from {opacity: 0; transform: translate(-100%, -50%) translate3d(-100%, 0, 0);}
        to {opacity: 1; transform: translate(-100%, -50%) translate3d(0, 0, 0);}
    }

    .sec8 .ani_box {margin-right: 55vw;}
    .sec8 .ani_box.ani05 {margin-right: 0;}
    .sec8 .ani_box .ani_frame iframe {width: 80vw; height: 45vh;}
    .sec8 .ani_box .ani_cont .ani_desc h3 {font-size: 7vw;}
    .sec8 .ani_box .ani_cont .ani_desc p {font-size: 5vw;}
    .sec8 .ani_box .ani_cont .ani_desc a {font-size: 5vw; top: 85%;}
    .sec8 .ani_box.ani03 {display: none;}
    .sec8 .ani_box.ani06 {display: none;}

    .sec11 .contact_deco {width: 17vw; left: 24%;}
    .sec11 .contact_title h2 {font-size: 12vw; line-height: 11vw; left: 55%;}

    .sec12 .contact {margin-top: -14vw;}
    .sec12 .contact .con_name {margin-bottom: 25vw;}
    .sec12 .contact .con_mail {margin-bottom: 30vw;}
    .sec12 .contact .con_name h3 {font-size: 9vw;}
    .sec12 .contact .con_name p {font-size: 8vw;}
    .sec12 .contact .con_mail h3 {font-size: 9vw;}
    .sec12 .contact .con_mail p {font-size: 8vw;}
    .sec12 .contact .con_send h3 {font-size: 9vw;}
    .sec12 .contact .con_send .name {font-size: 6vw; width: 70vw; margin-bottom: 6vw;}
    .sec12 .contact .con_send .mail {font-size: 6vw; width: 70vw; margin-bottom: 6vw;}
    .sec12 .contact .con_send .message {font-size: 6vw; width: 70vw; height: 50vh; margin-bottom: 6vw;}
    .sec12 .contact .con_send .btn {font-size: 6vw; width: 30vw;}
}
