@charset "utf-8";

@font-face { 
    font-family: 'CanvasBlack'; 
    src: url('../fonts/CanvasBlack.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'CanvasLight'; 
    src: url('../fonts/CanvasLight.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'CanvasRegular'; 
    src: url('../fonts/CanvasRegular.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'BentonModDisp-Light'; 
    src: url('../fonts/BentonModDisp-Light.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'CHONBUKL'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/CHONBUKL.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {margin: 0; padding: 0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none; }
a:hover {color:#777;}

/* 폰트 초기화 */
body, input, textarea, select, button, table { 
    font-family: 'Roboto', 'Malgun Gothic', '맑은 고딕', '돋움', sans-serif; color: #222; font-size: 13px; line-height: 1.5;}

/* 폰트 스타일 초기화 */
em, address {font-style: normal;}

/* 제목 태그 초기화 */
h1, h2, h3, h4, h5, h6 {font-size: 13px; font-weight: normal;}

/* 블릿 기호 초기화 */
dl, ul, li, menu {list-style: none;}

/* 테두리 초기화 */
img, fieldset {border: 0 none;}

/*버튼 초기화*/
button {border: 0;}

/* IR 효과 */
.ir_pm {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;} /* Phark Method */
.ir_wa {display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%;} /* WA IR */
.ir_so {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}

/* 스크롤바 */
body {overflow-x:hidden}
body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
   
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:#d08c94;
    opacity: 0.5;
	border-radius: 10px;
  }

/* 텍스트 애니메이션  */
.titAni {
    position: relative;
    transition: color 1s cubic-bezier(.52, .08, .18, 1);
    display: inline-block;
    cursor: pointer;
}
.titAni:hover {
    color: #fff;
    transition: color .4s cubic-bezier(.37, .16, .12, 1)
}
.titAni::before { 
    content: ' ';
    position: absolute; left:0; bottom: -7px;
    width: 100%; height: 3px;
    background-color: #606479;
    transform: scaleX(1);
    transform-origin: left top;
    transition: transform .6s cubic-bezier(.37, .16, .12, 1), background-color .8s cubic-bezier(.52, .08, .18, 1);
}
.titAni:hover::before {
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform .3s cubic-bezier(.37, .16, .12, 1), background-color .4s cubic-bezier(.37, .16, .12, 1);
}
.titAni::after { 
    content: ' ';
    position: absolute; left:0; bottom: -7px;
    width: 100%; height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform .3s cubic-bezier(.37, .16, .12, 1);
}
.titAni:hover::after {
    transform: scaleX(1);
    transform-origin: left top;
    transition: transform .6s cubic-bezier(.37, .16, .12, 1);
}
.titAni.White {color: #fff; text-shadow: 1px 1px 1px #999;}
.titAni.White:hover {color: #606479;}
.titAni.White::before {background-color: #fff;}
.titAni.White::after {background-color: #606479;}



























