
/*가운데 영역*/
.container {max-width: 1200px; margin: 0 auto; }

/*레이아웃*/
#wrap {position: relative; background: #efecea; cursor: none; }
#section1 {height:130vh; }
#section2 {padding: 20% 0 15% 0; }
#section3 {background: #fff; padding: 12% 0;}
#section4 {padding: 15% 0; }
#section5 {background: #fff; padding: 15% 0 20% 0; }
#section6 {background: #efecea; padding: 13% 0 4% 0;}

/* 스킵 내비게이션 */
.skip a {
    position: absolute; 
    top:-35px; left: 0px; 
    width: 140px; 
    background: #000; 
    border: 1px solid #fff; 
    color: #fff; 
    text-align: center; 
    line-height: 30px; 
    z-index: 10;
}
.skip a:active,
.skip a:focus {top:0; }

/* 햄버거 메뉴 */
.ham {
    position: fixed; top: 70px; right: 55px;
    width: 25px; height: 20px; 
    cursor: pointer;
    z-index: 400;
    transition: opacity .25s ease;
}
.ham:hover {opacity: .5;}

.ham.active .top {transform: translateY(9px) translateX(0) rotate(45deg); background: #79726e;}
.ham.active .middle {opacity: 0; background: #79726e;}
.ham.active .bottom {transform: translateY(-9px) translateX(0) rotate(-45deg); background: #79726e;}

.ham span {
    background: #79726e;
    border: none;
    height: 2px; width: 100%;
    position: absolute; top: 0; left: 0;
    transition:  all .35s ease;
    cursor: pointer;
}
.ham span:nth-of-type(2) {top: 9px;}
.ham span:nth-of-type(3) {top: 18px;}

/* 메뉴 */
.nav {
    position: fixed;
    background-color: #e2ded9;
    top: 0; right: -100%; transition: right 1s 0.8s cubic-bezier(0.32,1,0.32,1), opacity 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
}
.nav.open{
    right: 0; transition: right 1s cubic-bezier(0.32,1,0.32,1), opacity 0.6s; 
}
.nav.open ul li {
    animation: fadeInRight 1s .35s forwards;
}
.nav.open ul li:nth-of-type(2){animation-delay: .40s;}
.nav.open ul li:nth-of-type(3){animation-delay: .45s;}
.nav.open ul li:nth-of-type(4){animation-delay: .50s;}

.nav ul li {
    display: block;
    text-align: left;
    min-height: 50px;
    position: relative;
    opacity: 0;
    animation: fadeInRight-reverse .5s .35s backwards;
}
.nav ul li:nth-of-type(2){animation-delay: .40s;}
.nav ul li:nth-of-type(3){animation-delay: .45s;}
.nav ul li:nth-of-type(4){animation-delay: .50s;}

.nav li a:hover {color: #fff;}
.nav ul li a {
    color: #79726e;
    overflow: hidden;
    font-size: 60px;
    font-family:'CanvasBlack';
}
.nav ul li a:hover::after {width: 100%;}
.nav ul li a:focus::after {width: 100%;}
.nav ul li a:active::after {width: 100%;}

.nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0%;
    transform: translateX(-50%, -50%);
    height: 3px;
    background: #79726e;
    transition: .55s;
}

@keyframes fadeInRight {
  0% {opacity: 0;  left: 20%;}
  100% {opacity: 1; left: 0; }
}
@keyframes fadeInRight-reverse {
    0% {opacity: 1;  left: 0;}
    100% {opacity: 0; left: 20%; }
}

/* dothome */
.dothome {position: fixed; right: 0; top: 45%; writing-mode: tb-rl; padding-right: 60px; z-index: 20; }
.dothome a {
    font-size: 12px; font-family: 'Roboto', sans-serif;
    font-weight: 300;  
    color: #79726e;
    letter-spacing: 0.1em;
}

/*section1*/
/*header*/
#header {position: relative; padding: 20px;}
#header h1 {
    position: absolute; 
    font-size: 40px; 
    font-family:'CanvasBlack'; 
    color: #3a3c49; 
    padding: 30px 60px; 
    cursor: pointer;
}
#header h1:hover {color:#fff;}
#header p  {
    color: #79726e; 
    text-align: center; 
    font-size: 12px; font-weight: 300;  
    letter-spacing: 0.3em; 
    font-family: 'Roboto', sans-serif; 
    color: #3a3c49;
    text-transform: uppercase;
    padding: 50px 0;
}
/*sec1*/
.sec1 .sec1_cont {overflow: hidden; position: relative; padding-top: 12%;}
.sec1 .sec1_cont .sec1_txt {position: absolute; left: 0; top: 45%;}
.sec1 .sec1_cont .sec1_txt h3 {
    font-size: 55px; font-family:'CanvasLight'; 
    font-weight: 600; 
    color: #3a3c49;
    width: 75%;
    line-height: 1.3;
    padding-bottom: 40px;
    letter-spacing: 0.01em;
} 
.sec1 .sec1_cont .sec1_txt p {
    width: 45%; 
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #79726e;
    letter-spacing: 0.03em;
    padding-bottom: 25px;
}
.sec1 .sec1_cont .sec1_txt span {
    position: relative;
    color: #d43246;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    padding-left: 55px;
    cursor: pointer;
}
.sec1 .sec1_cont .sec1_txt span::before {
    content: '';
    width: 30px; height: 1px; 
    background: #d43246; 
    position: absolute; left: 0; top: 7px;
}
.sec1 .sec1_cont .sec1_img {display: block; float: right; width: 40%;}
.sec1 .sec1_cont .sec1_img img {max-width: 100%; }
 
/*section2*/
.sec2 {position: relative; }
.sec2 .sec2_img {display: block; width: 40%;}
.sec2 .sec2_img img {max-width: 100%; }

.sec2 .sec2_txt {
    position: absolute; left: 200px; top: -60px;
}
.sec2 .sec2_txt h2 {
    font-size: 110px;
    font-family:'CanvasRegular';
    color: #fff;
    white-space: nowrap;
    padding: 50px 0 0 60px;
}
.sec2 .sec2_txt h3 {
    font-size: 50px; 
    font-family:'CanvasLight';  
    font-weight: 600; 
    color: #3a3c49;
    letter-spacing: 0.01em;
    white-space: nowrap;
    padding: 10% 0 0 34%
    
}
.sec2 .sec2_txt p {
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #79726e;  
    text-align: left;
    padding: 4% 0 0 35%;
    line-height: 1.7;
}

.sec2 .sec2_study {
    position: relative;
    width: 600px;
    position: absolute; top: 70%; left: 46%;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: #7d7571;
    font-family:'BentonModDisp-Light'; 
    letter-spacing: 0.15em;
}
.sec2 .sec2_study i {
    font-size: 6px;
    color: #999;
    padding-right: 10px;
    vertical-align: 2px;
}

/* #section2 animation   */
#section2 .sec2_img img {opacity: 0;}
#section2 .sec2 h2 {opacity: 0;}
#section2 .sec2 h3 {opacity: 0;}
#section2 .sec2 p {opacity: 0;}
#section2 .sec2 .sec2_study {opacity: 0;}

#section2.show .sec2_img img {animation: fadeInUp .84s 0.4s ease forwards; }
#section2.show .sec2 h2 {animation: fadeInUp .84s 0.8s ease forwards;}
#section2.show .sec2 h3 {animation: fadeInUp .84s 1.2s ease forwards; }
#section2.show .sec2 p {animation: fadeInUp .84s 1.6s ease forwards;}
#section2.show .sec2 .sec2_study {animation: fadeInUp .84s 2.0s ease forwards;}

/* section3 */
.sec3 h2 {
    font-size: 80px;  
    font-family:'CanvasBlack'; 
    color: #3a3c49; 
    text-align: center;
    padding-bottom: 60px;
    letter-spacing: 0.05em;
}
.sec3 .sec3_moc {
    position: relative; 
    display: flex;
    flex-wrap: wrap; justify-content: space-between;
}
.sec3 .mockup {
    position: relative; 
    width: 47.5%; 
    float: left;
}
.sec3 .mockup:nth-child(even){margin-right: 0;}
.sec3 .mockup:nth-child(2) {margin-top: 34vh;}
.sec3 .mockup:nth-child(3) {margin-top: -8vh;}
.sec3 .mockup:nth-child(4) {margin-top: 28vh;}
.sec3 .mockup:nth-child(5) {margin-top: -8vh;}
.sec3 .mockup:nth-child(6) {margin-top: 28vh;}

.sec3 .mockup .sec3_img {overflow: hidden;}
.sec3 .mockup .sec3_img img {width: 100%; transform: scale(1); transition: all .8s cubic-bezier(.37, .16, .12, 1);}
.sec3 .mockup .sec3_img img:hover {transform: scale(1.1); transition: all .8s cubic-bezier(.37, .16, .12, 1);}

.sec3 .mockup .sec3_tit .titAni.White{
    position: relative; z-index: 10;
    font-size: 40px;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: -0.03em;
    line-height: 1;
    margin-left: 20px;
    top: 15px;
    text-transform: uppercase;
}
.sec3 .sec3_moc .mockup .desc {
    position: relative;
    background: rgb(228, 169, 169);
    color: #fff;
    margin-left: 5vw;
    margin-top: -2vw;
    padding: 1.5vw;
    position: relative; 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    white-space: nowrap;
}
.sec3 .sec3_moc .mockup .desc a {color: #fff; cursor: pointer; font-size: 15px; font-weight: bold;}
.sec3 .sec3_moc .mockup .desc span {
    color: #666363;
    position: absolute; top: 30px; right: 35px;
    cursor: pointer;
}

/* #section3 animation   */
#section3 .sec3 h2 {opacity: 0;}
#section3 .sec3 .mockup:nth-child(1) {opacity: 0;}
#section3 .sec3 .mockup:nth-child(2) {opacity: 0;}
#section3 .sec3 .mockup:nth-child(3) {opacity: 0;}
#section3 .sec3 .mockup:nth-child(4) {opacity: 0;}
#section3 .sec3 .mockup:nth-child(5) {opacity: 0;}
#section3 .sec3 .mockup:nth-child(6) {opacity: 0;}

#section3.show .sec3 h2 {animation: fadeInUp .84s ease forwards;}
#section3.show .sec3 .mockup:nth-child(1) {animation: fadeInUp .84s 0.6s ease forwards;}
#section3.show .sec3 .mockup:nth-child(2) {animation: fadeInUp .84s 1.2s ease forwards;}
#section3.show .sec3 .mockup:nth-child(3) {animation: fadeInUp .84s 1.8s ease forwards;}
#section3.show .sec3 .mockup:nth-child(4) {animation: fadeInUp .84s 2.4s ease forwards;}
#section3.show .sec3 .mockup:nth-child(5) {animation: fadeInUp .84s 3.0s ease forwards;}
#section3.show .sec3 .mockup:nth-child(6) {animation: fadeInUp .84s 3.6s ease forwards;}

/*section4*/
.sec4 {position: relative;}
.sec4 .sec4_img {display: block; width: 40%;}
.sec4 .sec4_img img {max-width: 100%; }
.sec4 .sec4_txt {
    position: absolute; left: 200px; top: -90px;
}
.sec4 .sec4_txt h2 {
    font-size: 110px;
    font-family:'CanvasRegular'; 
    color: #fff; 
    white-space: nowrap;
    letter-spacing: -0.03em;
    padding-left: 5%;
}
.sec4 .sec4_txt h3 {
    font-size: 120px;   
    font-weight: 500; 
    font-family: 'CHONBUKL';
    color: #fff;
    padding: 16% 0 0 35%;
    line-height: 0.7;
}
.sec4 .sec4_txt p {
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #79726e;
    text-align: left;
    padding: 0 0 0 35%;
    line-height: 1.7;
}

.sec4 .sec4_skill {
    width: 600px;
    position: absolute; bottom: 5%; left: 46%;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 300;
    color:  #d43246;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.7;

}
.sec4 .sec4_skill ul li {position: relative; padding-left: 50px;}
.sec4 .sec4_skill ul li::before {
    content: '';
    width: 30px; height: 1px;
    background: #d43246;
    position: absolute; left: 0; top: 14px;
}

/* #section4 animation   */
#section4 .sec4 .sec4_img img {opacity: 0;}
#section4 .sec4 h2 {opacity: 0;}
#section4 .sec4 h3 {opacity: 0;}
#section4 .sec4 p {opacity: 0;}
#section4 .sec4 .sec4_skill {opacity: 0;}

#section4.show .sec4 .sec4_img img {animation: fadeInUp .84s 0.4s ease forwards;}
#section4.show .sec4 h2 {animation: fadeInUp .84s 0.8s ease forwards; }
#section4.show .sec4 h3 {animation: fadeInUp .84s 1.2s ease forwards;}
#section4.show .sec4 p {animation: fadeInUp .84s 1.6s ease forwards;}
#section4.show .sec4 .sec4_skill {animation: fadeInUp .84s 2.0s ease forwards;}
 
/* section5 */
#section5 h2 { 
    font-size: 80px;  
    font-family:'CanvasBlack'; 
    color: #3a3c49;
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 0.05em;
}
.sec5 .sec5_box {display: flex; padding: 8% 0; }
.sec5 .sec5_box .sec5_img {width: 55%; margin-right: 8%; overflow: hidden; transform: scale(1); transition: all .8s cubic-bezier(.37, .16, .12, 1);}
.sec5 .sec5_box .sec5_img:hover {transform: scale(1.1); transition: all .8s cubic-bezier(.37, .16, .12, 1);}
.sec5 .sec5_box .sec5_img img {width: 100%; }
.sec5 .sec5_box .sec5_right {width: 35%; position: relative;}
.sec5 .sec5_box .sec5_right > div {position: absolute; left: 0; top: 0; padding-top: 80px;}
.sec5 .sec5_box .sec5_right h3 {
    font-size: 50px;
    font-weight: 600; 
    font-family:'CanvasLight';
    color: #3a3c49;
    line-height: 1.0;
    letter-spacing: 0.03em;
}
.sec5 .sec5_box .sec5_right p {
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #79726e;
    letter-spacing: 0.03em;
    line-height: 1.5;
    padding: 30px 0;
}
.sec5 .sec5_box .sec5_right a, em {
    position: relative;
    font-size: 16px; 
    color: #d43246;
    padding-left: 50px;
    text-transform: uppercase;
}

.sec5 .sec5_box .sec5_right a::before, em::before {
    content: '';
    width: 30px; height: 1px; 
    background: #d43246; 
    position: absolute; left: 0; top: 11px;
}

/* #section5 animation   */
#section5 h2 {opacity: 0;}
#section5 .sec5 img {opacity: 0;}
#section5 .sec5 h3 {opacity: 0;}
#section5 .sec5 p {opacity: 0;}
#section5 .sec5 .sec5_right a, em {opacity: 0;}

#section5.show h2 {animation: fadeInUp .84s ease forwards; }

#section5.show .sec5 .sec5_box:nth-child(1) img {animation: fadeInUp .84s 0.4s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(1) h3 {animation: fadeInUp .84s 0.7s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(1) p {animation: fadeInUp .84s 1.0s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(1) .a1 {animation: fadeIn .84s 1.4s ease forwards;}

#section5.show .sec5 .sec5_box:nth-child(2) img {animation: fadeInUp .84s 1.6s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(2) h3 {animation: fadeInUp .84s 1.9s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(2) p {animation: fadeInUp .84s 2.2s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(2) .a1 {animation: fadeIn .84s 2.6s ease forwards;}

#section5.show .sec5 .sec5_box:nth-child(3) img {animation: fadeInUp .84s 2.8s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(3) h3 {animation: fadeInUp .84s 3.1s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(3) p {animation: fadeInUp .84s 3.4s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(3) .a1 {animation: fadeIn .84s 3.8s ease forwards;}

#section5.show .sec5 .sec5_box:nth-child(4) img {animation: fadeInUp .84s 4.0s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(4) h3 {animation: fadeInUp .84s 4.3s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(4) p {animation: fadeInUp .84s 4.7s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(4) .a1 {animation: fadeIn .84s 5.1s ease forwards;}

#section5.show .sec5 .sec5_box:nth-child(5) img {animation: fadeInUp .84s 5.3s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(5) h3 {animation: fadeInUp .84s 5.6s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(5) p {animation: fadeInUp .84s 5.9s ease forwards;}
#section5.show .sec5 .sec5_box:nth-child(5) em {animation: fadeIn .84s 6.3s ease forwards;}

/* section6 */
.sec6 {text-align: center;}
.sec6 h2 {
    font-size: 80px; 
    font-weight: 600; 
    font-family:'CanvasLight';
    color: #3a3c49;
    line-height: 1.0;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}
.sec6 span {
    font-size: 18px;
    color: #d43246;
    cursor: pointer;
}
.sec6 p {
    font-size: 12px;
    color: #79726e;
   padding-top: 180px;
}

/* #section6 animation   */
#section6 h2 {opacity: 0;}
#section6 span {opacity: 0;}

#section6.show h2 {animation: fadeInUp .84s cubic-bezier(1, 0.54, 0, 0.55) forwards; }
#section6.show span {animation: fadeInUp .84s 0.6s cubic-bezier(1, 0.54, 0, 0.55) forwards;}


/* 레이어 팝업 1 */
#layer1 {
    display: none; 
    position: fixed; left: 400px; top: 170px; 
    width: 700px; z-index: 1000; 
    border: 10px solid #efecea; 
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}
#layer1 img {width: 100%; display: block;}
#layer1 .close {
    position: absolute; right: 20px; top: 20px; 
    background: #634466; 
    padding: 2px 6px; color: #fff;
}
#layer1 .close:hover {text-decoration: underline;}

/* 레이어 팝업 2 */
#layer2 {
    display: none; 
    position: fixed; left: 690px; top: 0px; 
    width: 700px; z-index: 1000; 
    border: 10px solid #efecea; 
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}
#layer2 img {width: 100%; display: block;}
#layer2 .close {
    position: absolute; right: 20px; top: 20px; 
    background: #634466; 
    padding: 2px 6px; color: #fff;
}
#layer2 .close:hover {text-decoration: underline;}

/* mouse cursor */
.cursor {
    position: absolute;
    width: 10px; height: 10px;
    background: #d08c94; border-radius: 50%;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }
  .cursor-follower{
    position: absolute; 
    border: 3px solid #d43246;
    opacity: 0.2;
    border-radius: 50%;
    width: 30px; height: 30px;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    transition: transform 0.6s ease-in-out, opacity 0.2s ease-in-out;
  }

/* keyframes */
@keyframes fadeInUp {
    0% {opacity: 0; transform: translateY(200px);}
    100% {opacity: 1; transform: translateY(0);}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}













