@charset "utf-8";

/*여백 초기화*/
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form{margin:0;padding:0;}


/* a 링크 초기화*/

a {color: #222; text-decoration: none;}
a:hover {color: #390;}

/*폰트 초기화*/
body, input, textarea, selsct, button, table{
    font-family: 'Malgun Gothic', '맑은 고딕', AppleSDGothicNeo-Regular, dotum, '돋음', sans-serif; color: #222; font-size: 13px; line-height: 1.5;}

/*폰트 스타일 초기화*/
em, address {font-style: normal;}


/*제목 태그 초기화*/
h1, h2, h3, h4, h5, h6 {font-size: 13px; font-weight: normal;}

/* 블릿기호 초기화*/
di,ul,li,ol,meun{list-style: none;}

/* 테두리 초기화*/
img, fieldset {border: 0 none;}

/*버튼 초기화*/
button {border: 0;}


/* IR 효과*/
.ir_pm {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px}/*Phark Method*/
.ir_wa {display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%}/* AR IR*/
.ir_so {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px}

/* margin, padding */
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

/* placeholder */

::-webkit-input-placeholder {color: #ccc;}
:-ms-input-placeholder {color: #ccc;}
::placeholder {color: #ccc; font-size: 12px }

/* 스크롤 바 */
body::-webkit-scrollbar {
    width: 15px;
	background-color: #F5F5F5;
  }
   
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}
