@charset "utf-8";

@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

html, body{-webkit-font-smoothing: antialiased; font-size: 16px;}

/* contents */
#contents {}
#section1 {height: 100vh;}
#section2 {background: #F32740;}
#section3 {background: #F32740;}
#section4 {background: #F32740;}
#section5 {background: #fefff1;}
#section6 {background: #F32740;}


/* row */
.row{padding: 10px;}

/* progress */
.progress {background: transparent; color: #fff; width: 100%; height: 100%; position: absolute; z-index: 5000;}
.progress-text {font-family: 'Abel', sans-serif; font-size: 5vw; color:rgba(255,255,255,1); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}

.stext span {display: inline-block;}

/* sec1 */
.sec1 {position: relative; height: 100vh; text-align: center; background: #186e26 url(../img/bg.jpg) center center; background-size: cover;}
.sec1:before {content: ''; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100vh; background: rgba(24,110,38,.5);}
.sec1 .sec1_top {position: absolute; left: 0; top: 0; width: 100%; height: 40vh; line-height: 78px; z-index: 10; background: #F32740; font-size: 1rem; font-weight: bold; text-transform: uppercase; letter-spacing: 0.35em; color: #fff; font-family: 'Abel', sans-serif;}
.sec1 .title {height: 100vh;}
.sec1 .title h2 {position: absolute; left: 50%; top: 50%; overflow: hidden; width: 100%; transform: translate(-50%, -50%); z-index: 1000; font-size: 9vw; line-height: 9vw; font-family: 'Muli', sans-serif; font-weight: 900; letter-spacing: -0.02em; font-style: italic; color: #fff;}
.sec1 .title h2:after {font-size: 4.6rem; color: #c31f1f; content: 'publisher'; position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%) rotate(-4deg); font-family: 'Nanum Brush Script', cursive;}
.sec1 .sec1_bom {overflow: hidden; position: absolute; left: 0; bottom: 0; z-index: 10; width: 100%; height: 40vh; background: #F32740;}
.sec1 .sec1_bom.on {position: fixed; bottom: auto; top: -21px; z-index: 30000;}
.sec1 .sec1_bom .logo {float: left; margin: 35px 0 0 4px;}
.sec1 .sec1_bom .menu {float: right; margin-top: 40px; margin-right: 20px;}
.sec1 .sec1_bom .menu li {display: inline-block;}
.sec1 .sec1_bom .menu li a {display: inline-block; padding: 10px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 0.875rem; font-family: 'Abel', sans-serif;}
.sec1 .sec1_bom .menu li.active a{color: #f7d230;}
.sec1 .sec1_bom .menu li a:hover span{position: relative; top: 2px; animation: bounce2 .3s ease infinite alternate;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(2) {animation-delay: 0.1s;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(3) {animation-delay: 0.2s;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(4) {animation-delay: 0.3s;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(5) {animation-delay: 0.4s;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(6) {animation-delay: 0.5s;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(7) {animation-delay: 0.6s;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(8) {animation-delay: 0.7s;}
.sec1 .sec1_bom .menu li a:hover span:nth-child(9) {animation-delay: 0.8s;}
.sec1 .sec1_bom .logo img {width: 100px;}
.sec1 .frame {position: absolute; left: 0; bottom: 0; width: 100%;}
.sec1 .frame.top {bottom: auto; top: 0;}
.sec1 .frame-line {height: 7px; border-top: 2px solid #000; border-bottom: 2px solid #000; box-sizing: border-box; background: #85d2ff;}
.sec1 .frame-img {position: relative; width: 100%; height: 8px; background: #f7d230 url(https://pumper.thisismailan.com/assets/images/frame-pattern.svg) repeat-x 0 0; animation: line 100s infinite linear; transform: translateZ(0);}
.sec1 .frame-img.line2 {animation: line2 100s infinite linear;}

/* sec1 animation */
.sec1 .sec1_top strong                     {display: block; opacity: 0; transition: opacity 1s 2s ease;}
.sec1 .sec1_top strong span                {opacity: 0; display: inline-block; transform: translateY(8px); transition: opacity .6s ease, transform .6s ease;}
.sec1 .sec1_top strong span:nth-child(1)   {transition-delay: 3.5s;}
.sec1 .sec1_top strong span:nth-child(2)   {transition-delay: 3.6s;}
.sec1 .sec1_top strong span:nth-child(3)   {transition-delay: 3.7s;}
.sec1 .sec1_top strong span:nth-child(4)   {transition-delay: 3.8s;}
.sec1 .sec1_top strong span:nth-child(5)   {transition-delay: 3.9s;}
.sec1 .sec1_top strong span:nth-child(6)   {transition-delay: 4s;}
.sec1 .sec1_top strong span:nth-child(7)   {transition-delay: 4.1s;}
.sec1 .sec1_top strong span:nth-child(8)   {transition-delay: 4.2s;}
.sec1 .sec1_top strong span:nth-child(9)   {transition-delay: 4.3s;}
.sec1 .sec1_top strong span:nth-child(10)  {transition-delay: 4.4s;}
.sec1 .sec1_top strong span:nth-child(11)  {transition-delay: 4.5s;}
.sec1 .sec1_top strong span:nth-child(12)  {transition-delay: 4.6s;}
.sec1 .sec1_top strong span:nth-child(13)  {transition-delay: 4.7s; margin: 0 10px 0 0;}
.sec1 .sec1_top strong span:nth-child(14)  {transition-delay: 4.8s;}
.sec1 .sec1_top strong span:nth-child(15)  {transition-delay: 4.9s;}
.sec1 .sec1_top strong span:nth-child(16)  {transition-delay: 5s;}
.sec1 .sec1_top strong span:nth-child(17)  {transition-delay: 5.1s; margin: 0 10px 0 0;}
.sec1 .sec1_top strong span:nth-child(18)  {transition-delay: 5.2s;}
.sec1 .sec1_top strong span:nth-child(19)  {transition-delay: 5.3s;}
.sec1 .sec1_top strong span:nth-child(20)  {transition-delay: 5.4s;}
.sec1 .sec1_top strong span:nth-child(21)  {transition-delay: 5.5s;}
.sec1 .sec1_top strong span:nth-child(22)  {transition-delay: 5.6s;}
.sec1 .sec1_top strong span:nth-child(23)  {transition-delay: 5.7s;}
.sec1 .sec1_top strong span:nth-child(24)  {transition-delay: 5.8s;}
.sec1 .sec1_top strong span:nth-child(25)  {transition-delay: 5.9s;}
.sec1 .sec1_top strong span:nth-child(26)  {transition-delay: 6s;}

.sec1 .title h2                            {opacity: 0;}
.sec1 .title h2 span                       {opacity: 0; transform: translateY(100px);}
.sec1 .title h2 span:nth-child(1)          {transition: opacity 0.6s 2.6s ease, transform 0.6s 2.6s ease;}
.sec1 .title h2 span:nth-child(2)          {transition: opacity 0.6s 2.7s ease, transform 0.6s 2.7s ease;}
.sec1 .title h2 span:nth-child(3)          {transition: opacity 0.6s 2.8s ease, transform 0.6s 2.8s ease;}
.sec1 .title h2 span:nth-child(4)          {transition: opacity 0.6s 2.9s ease, transform 0.6s 2.9s ease;}
.sec1 .title h2 span:nth-child(5)          {transition: opacity 0.6s 3.0s ease, transform 0.6s 3.0s ease;}
.sec1 .title h2 span:nth-child(6)          {transition: opacity 0.6s 3.1s ease, transform 0.6s 3.1s ease;}
.sec1 .title h2 span:nth-child(7)          {transition: opacity 0.6s 3.2s ease, transform 0.6s 3.2s ease;}
.sec1 .title h2 span:nth-child(8)          {transition: opacity 0.6s 3.3s ease, transform 0.6s 3.3s ease;}
.sec1 .title h2 span:nth-child(9)          {transition: opacity 0.6s 3.4s ease, transform 0.6s 3.4s ease;}
.sec1 .title h2:after                      {opacity: 0; transition: opacity 0.6s 3.5s ease;}

.sec1 .sec1_bom .logo                      {opacity: 0; transform: translateY(10px); transition: opacity 0.6s 4.2s ease, transform 0.6s 4.2s ease;}
.sec1 .sec1_bom .menu li                   {opacity: 0; transform: translateY(10px);}
.sec1 .sec1_bom .menu li:nth-child(1)      {transition: opacity 0.8s 4.2s ease, transform 0.8s 4.2s ease;}
.sec1 .sec1_bom .menu li:nth-child(2)      {transition: opacity 0.8s 4.4s ease, transform 0.8s 4.4s ease;}
.sec1 .sec1_bom .menu li:nth-child(3)      {transition: opacity 0.8s 4.6s ease, transform 0.8s 4.6s ease;}
.sec1 .sec1_bom .menu li:nth-child(4)      {transition: opacity 0.8s 4.8s ease, transform 0.8s 4.8s ease;}
.sec1 .sec1_bom .menu li:nth-child(5)      {transition: opacity 0.8s 5s ease, transform 0.8s 5s ease;}

body.active .sec1 .sec1_top strong         {opacity: 1;}
body.active .sec1 .sec1_top strong span    {opacity: 1; transform: translateY(0);}
body.active .sec1 .title h1                {opacity: 1;}
body.active .sec1 .title h1 span           {opacity: 1; transform: translateY(0);}
body.active .sec1 .title h1:after          {opacity: 1;}
body.active .sec1 .sec1_bom .logo          {opacity: 1; transform: translateY(0);}
body.active .sec1 .sec1_bom .menu li       {opacity: 1; transform: translateY(0);}

/* sec2 */
.sec2 {position: relative; border: 3px solid #000; background: #FEFFF1;}
.sec2 .tit {overflow: hidden; border-bottom: 3px solid #000; box-sizing: border-box;}
.sec2 .tit h2 {float: left; width: 75%; text-transform: uppercase; text-align: center; letter-spacing: -0.05em; font-size: 20vw; line-height: 0.8em; color: #fff; font-family: 'Abel', sans-serif; font-weight: bold; background: #000;}
.sec2 .tit .btn {position: relative; float: left; width: 25%;}
.sec2 .tit .btn em {font-size: 20vw; line-height: 0.8em; color: #FEFFF1; text-transform: uppercase;}
.sec2 .tit .btn a {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sec2 .tit .btn img {width: 30px; transition: .4s;}
.sec2 .tit .btn a:hover img{transform: scale(1.2,1.2);}

.about_con1{padding: 10em 8em;}
.about_con2{padding: 0 8em 10em 8em;}
.about_con1 .about_show1, .about_con2 .about_show2
{position: relative; perspective: 150rem; width: 100%; height: 10vh;}
.about_con1 .about_show1 .about-front span, .about_con2 .about_show2 .about-front span
{font-size: 4rem; font-family: 'Abel', sans-serif; letter-spacing: -4px; font-weight: bold; line-height: 1.2em; text-transform: uppercase;}
.about_con1 .about_show1 .about-back span, .about_con2 .about_show2 .about-back span
{font-size: 3.0rem; letter-spacing: -2px; line-height: 1.4em;}
.about_con1 .about_show1:hover .about-front, .about_con2 .about_show2:hover .about-front
{transform: rotateX(-180deg);}
.about_con1 .about_show1:hover .about-back, .about_con2 .about_show2:hover .about-back
{transform: rotateX(0deg);}
.about_con2 .arrow{display: inline-block; width: 120px; margin: 25px 0; font-size: 14px; letter-spacing: 2px; color: #f32740; text-align: center; font-weight: bold; background: url(../img/about_arrow.png) no-repeat left center;}
.about-front, .about-back
{position: absolute; width: 100%; height: 100%; transition: 1.1s cubic-bezier(0.25, 0.8, 0.25, 1); backface-visibility: hidden; overflow: hidden; transform-style: preserve-3d;}
.about-front{transform: rotateX(0deg); backface-visibility: hidden;} /* backface-visibility 반응형 수정 */
.about-back {transform: rotateX(180deg); transform-style: preserve-3d; backface-visibility: hidden;}
.margin{margin: 0 0 10em 0;}
.img_scroll1{position: relative;}
.wordbox{position: absolute; right: 10%; bottom: 25%;}
.keywordWrap {position: relative; text-align: center;}
.keywordWrap .words span {font-weight: bold;}
.keywordWrap .line li{display: inline; margin: 10px; cursor: pointer;}
.keywordWrap .line li div{position: relative; display: inline-block; text-transform: uppercase; font-weight: bold; color: #000;}
.keywordWrap .line br {display: none;}

/* keyword클릭 창 */
.keywordPop {width: 100%; height: 100%;}
.keywordPop > div > span > img {width: 15px;}
.pop-me {position: absolute; top: -152px; left: -447px; transform: scale(0); transition: all 0.4s ease;}
.pop-me .popBg {}
.pop-charming {position: absolute; top: -252px; left: -547px; transform: scale(0); transition: all 0.4s ease;}
.pop-charming .popBg {width: 160px;}
.pop-coffee {position: absolute; top: -29%; left: -600px; transform: scale(0); transition: all 0.4s ease;}
.pop-coffee .popBg {}
.pop-publisher {position: absolute; top: -72%; left: -700px; transform: scale(0); transition: all 0.4s ease;}
.pop-publisher .popBg {}
.pop-developer {position: absolute; top: -33%; left: -450px; transform: scale(0); transition: all 0.4s ease;}
.pop-developer .popBg {width: 180px;}
.pop-idle {position: absolute; top: 30%; left: -530px; transform: scale(0); transition: all 0.4s ease;}
.pop-idle .popBg {}
.pop-travel {position: absolute; top: -130%; left: 58%; transform: scale(0); transition: all 0.4s ease;}
.pop-travel .popBg {width: 250px;}
.pop-professional {position: absolute; top: 30%; left: -750px; transform: scale(0); transition: all 0.4s ease;}
.pop-professional .popBg {width: 230px;}
.pop-LOVE {position: absolute; top: -124%; left: -45%; transform: scale(0); transition: all 0.4s ease;}
.pop-LOVE .popBg {width: 130px;}
.pop-pizza {position: absolute; top: -30%; left: 50%; transform: scale(0); transition: all 0.4s ease;}
.pop-pizza .popBg {}
.pop-study {position: absolute; top: -95%; left: -10%; transform: scale(0); transition: all 0.4s ease;}
.pop-study .popBg {width: 180px;}
.pop-YOUTUBE {position: absolute; top: 22%; left: 56%; transform: scale(0); transition: all 0.4s ease;}
.pop-YOUTUBE .popBg {width: 239px;}
.pop-sneakers {position: absolute; top: 80%; left: -20%; transform: scale(0); transition: all 0.4s ease;}
.pop-sneakers .popBg {width: 200px;}
.pop-singer {position: absolute; top: 58%; left: 71%; transform: scale(0); transition: all 0.4s ease; z-index: 10;}
.pop-singer .popBg {width: 180px;}
.pop-nietzsche {position: absolute; top: 50%; left: -70%; transform: scale(0); transition: all 0.4s ease;}
.pop-nietzsche .popBg {width: 200px;}
.pop-latte {position: absolute; top: -3%; left: 11%; transform: scale(0); transition: all 0.4s ease;}
.pop-latte .popBg {}
.pop-soyeon {position: absolute; top: 85%; left: 34%; transform: scale(0); transition: all 0.4s ease;}
.pop-soyeon .popBg {}
.pop-react {position: absolute; top: 88%; left: -114%; transform: scale(0); transition: all 0.4s ease;}
.pop-react .popBg {}

.keywordPop > div.on {transform: scale(1); transition: all 0.4s cubic-bezier(0.01, 1.23, 0.64, 1.62);}
.keywordPop > div > p {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; font-size: 16px; width: 100%; font-weight: bold; text-transform: uppercase;}
.keywordPop > div > p.big {font-size: 20px !important;}
.closePop {display: block; position: absolute; top: 15%; right: 15%; cursor: pointer;}

.about_con3{position: relative; padding: 8em 8em;}
.about_con3 .wall{position: absolute; display: block; top: 22%; right: calc(100% - 80px); transform: rotate(-90deg); font-weight: bold; font-size: 16px; letter-spacing: 2px;}
.about_con3 .about_show3{position: relative; perspective: 150rem; width: 100%; height: 7vh; text-align: center;}
.about_con3 .about_show3 .about-front span{letter-spacing: -2px; font-weight: bold; text-transform: uppercase; font-size: 2.4rem;}
.about_con3 .about_show3 .about-back span{letter-spacing: -2px; font-size: 2.2rem;}
.about_con3 .about_show3:hover .about-front{transform: rotateX(-180deg);}
.about_con3 .about_show3:hover .about-back{transform: rotateX(0deg);}
.about_con3 a{display: block; overflow: hidden;}

/* sec2 animation */
.sec2 .tit                                   {transition: transform 0.3s ease;}
.sec2 .tit h2 span                           {opacity: 0; display: inline-block; transform: translateY(450px); transition: transform 1s ease;}
.sec2 .tit.on h2 span                        {opacity: 1; transform: translateY(0);} /* opacity 확인 */
.sec2 .tit.on h2 span:nth-child(1)           {transition-delay: .3s;}
.sec2 .tit.on h2 span:nth-child(2)           {transition-delay: .4s;}
.sec2 .tit.on h2 span:nth-child(3)           {transition-delay: .5s;}
.sec2 .tit.on h2 span:nth-child(4)           {transition-delay: .6s;}
.sec2 .tit.on h2 span:nth-child(5)           {transition-delay: .7s;}

.about_con1 .about_show1                     {opacity: 0; transform: translateY(100px); transition: opacity .8s ease, transform .8s ease;}
.about_con1 .about_show1:nth-child(1)        {transition-delay: .6s;}
.about_con1 .about_show1:nth-child(2)        {transition-delay: .9s;}
.about_con1 .about_show1:nth-child(3)        {transition-delay: 1.2s;}
.about_con1 .about_show1:nth-child(4)        {transition-delay: 1.5s;}
.about_con1 .about_show1.on                  {opacity: 1; transform: translateY(0);}

.about_con2 .about_show2                     {opacity: 0; transform: translateY(100px); transition: opacity .8s ease, transform .8s ease;}
.about_con2 .about_show2:nth-child(1)        {transition-delay: .6s;}
.about_con2 .about_show2:nth-child(2)        {transition-delay: .9s;}
.about_con2 .about_show2:nth-child(3)        {transition-delay: 1.2s;}
.about_con2 .about_show2:nth-child(4)        {transition-delay: 1.5s;}
.about_con2 .about_show2:nth-child(5)        {transition-delay: 1.8s;}
.about_con2 .about_show2:nth-child(6)        {transition-delay: 2.1s;}
.about_con2 .about_show2:nth-child(7)        {transition-delay: 2.4s;}
.about_con2 .about_show2:nth-child(8)        {transition-delay: 2.7s;}
.about_con2 .about_show2.on                  {opacity: 1; transform: translateY(0);}

.img_scroll1                                 {opacity: 0; transition: opacity .8s ease-in;}
.img_scroll1.on                              {opacity: 1;}

.keywordWrap .line                           {opacity: 0; transform: translateY(50px); text-align: center; margin-bottom: 13px;}
.keywordWrap .line:nth-child(1)              {transition: opacity .8s 1s cubic-bezier(.39,0,.26,1), transform .8s 1s cubic-bezier(.39,0,.26,1);}
.keywordWrap .line:nth-child(2)              {transition: opacity .8s 1.2s cubic-bezier(.39,0,.26,1), transform .8s 1.2s cubic-bezier(.39,0,.26,1);}
.keywordWrap .line:nth-child(3)              {transition: opacity .8s 1.4s cubic-bezier(.39,0,.26,1), transform .8s 1.4s cubic-bezier(.39,0,.26,1);}
.keywordWrap .line:nth-child(4)              {transition: opacity .8s 1.6s cubic-bezier(.39,0,.26,1), transform .8s 1.6s cubic-bezier(.39,0,.26,1);}
.keywordWrap .line:nth-child(5)              {transition: opacity .8s 1.8s cubic-bezier(.39,0,.26,1), transform .8s 1.8s cubic-bezier(.39,0,.26,1);}
.keywordWrap .line:nth-child(6)              {transition: opacity .8s 2s cubic-bezier(.39,0,.26,1), transform .8s 2s cubic-bezier(.39,0,.26,1);}
.keywordWrap .line.on                        {opacity: 1; transform: translateY(0);}

.words span                                  {opacity: 0;}
.words.on span                               {animation: Typing 1.3s 1s infinite;}

.about_life                                  {opacity: 0; transform: translateY(100px); transition: opacity .8s 2.5s cubic-bezier(.39,0,.26,1), transform .8s 2.5s cubic-bezier(.39,0,.26,1);}
.about_life.on                               {opacity: 1; transform: translateY(0);}

.about_con3 .about_show3                     {opacity: 0; transform: translateY(100px); transition: opacity .8s ease, transform .8s ease;}
.about_con3 .about_show3.on                  {opacity: 1; transform: translateY(0);}
.about_con3 .about_show3:nth-child(1)        {transition-delay: .9s;}
.about_con3 .about_show3:nth-child(2)        {transition-delay: 1.2s;}
.about_con3 .about_show3:nth-child(3)        {transition-delay: 1.5s;}
.about_con3 .about_show3:nth-child(4)        {transition-delay: 1.8s;}
.about_con3 .about_show3:nth-child(5)        {transition-delay: 2.1s;}
.about_con3 .about_show3:nth-child(6)        {transition-delay: 2.4s;}
.about_con3 .about_show3:nth-child(7)        {transition-delay: 2.7s;}
.about_con3 .about_show3:nth-child(8)        {transition-delay: 3s;}
.about_con3 .about_show3:nth-child(9)        {transition-delay: 3.3s;}

.img_scroll2                                 {opacity: 0; transition: opacity .8s .3s ease-in;}
.img_scroll2.on                              {opacity: 1;}

/* sec3 */
.sec3{position: relative; height: 100%; border: 3px solid #000; background: #f7d230;}
.sec3 .tit {overflow: hidden; border-bottom: 3px solid #000; box-sizing: border-box;}
.sec3 .tit h2 {float: left; width: 75%; text-transform: uppercase; text-align: center; letter-spacing: -0.05em; font-size: 20vw; line-height: 0.8em; color: #fff; font-family: 'Abel', sans-serif; font-weight: bold; background: #000;}
.sec3 .tit .btn {position: relative; float: left; width: 25%;}
.sec3 .tit .btn em {font-size: 20vw; line-height: 0.8em; color: #FEFFF1; text-transform: uppercase;}
.sec3 .tit .btn a {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sec3 .tit .btn img {width: 30px; transition: .4s;}
.sec3 .tit .btn a:hover img{transform: scale(1.2,1.2);}

.skill_con1 .skill1{height: 220px; padding: 48px 0; border-bottom: 3px solid #000; box-sizing: border-box; text-align: center;}
.skill_con1 .skill_tit{font-size: 1rem; font-weight: bold;}
.skill_con1 .skill_name{font-size: 5rem; letter-spacing: -6px; font-weight: bold;}
.skill_non{height: 100px; border-bottom: 3px solid #000; box-sizing: border-box;}
.skill_con2 .skill_l{height: 150px; border-bottom: 3px solid #000; box-sizing: border-box;}
.skill_con2 .skill_l .skill_left{float: left; width: 50%; height: 100%; padding: 0 40px 0 0; border-right: 3px solid #000; box-sizing: border-box; text-align: right; line-height: 152px;}
.skill_con2 .skill_l .skill_left span{font-size: 1rem; letter-spacing: 3px;}
.skill_con2 .skill_l .skill_right{float: left; width: 50%; height: 100%; padding: 15px 0 10px 25px; box-sizing: border-box;}
.skill_con2 .skill_l .skill_right h4{font-size: 2.5rem; font-weight: bold;}
.skill_con2 .skill_s{height: 90px; border-bottom: 3px solid #000; box-sizing: border-box;}
.skill_con2 .skill_s .skill_left{float: left; width: 50%; height: 100%; padding: 0 40px 0 0; border-right: 3px solid #000; box-sizing: border-box; text-align: right; line-height: 89px;}
.skill_con2 .skill_s .skill_left span{font-size: 1rem; letter-spacing: 3px;}
.skill_con2 .skill_s .skill_right{float: left; width: 50%; height: 100%; padding: 15px 0 20px 25px; box-sizing: border-box;}
.skill_con2 .skill_s .skill_right h4{font-size: 2.5rem; font-weight: bold;}
.skill_con2 .skill_m{height: 120px; border-bottom: 3px solid #000; box-sizing: border-box;}
.skill_con2 .skill_m.last{border-bottom: 0;}
.skill_con2 .skill_m .skill_left{float: left; width: 50%; height: 100%; padding: 0 40px 0 0; border-right: 3px solid #000; box-sizing: border-box; text-align: right; line-height: 119px;}
.skill_con2 .skill_m .skill_left span{font-size: 1rem; letter-spacing: 3px;}
.skill_con2 .skill_m .skill_right{float: left; width: 50%; height: 100%; padding: 0 0 15px 25px; box-sizing: border-box;}
.skill_con2 .skill_m .skill_right h4{font-size: 2.5rem; font-weight: bold;}

/* sec3 animation */
.sec3 .tit                                       {transition: transform 0.3s ease;}
.sec3 .tit h2 span                               {display: inline-block; transform: translateY(450px); transition: transform 1s ease;}
.sec3 .tit.on h2 span                            {transform: translateY(0);}
.sec3 .tit.on h2 span:nth-child(1)               {transition-delay: .4s;}
.sec3 .tit.on h2 span:nth-child(2)               {transition-delay: .5s;}
.sec3 .tit.on h2 span:nth-child(3)               {transition-delay: .6s;}
.sec3 .tit.on h2 span:nth-child(4)               {transition-delay: .7s;}
.sec3 .tit.on h2 span:nth-child(5)               {transition-delay: .8s;}

/* sec4 */
.sec4{position: relative; height: auto; border: 3px solid #000; background: #FEFFF1;}
.sec4 .tit {overflow: hidden; border-bottom: 3px solid #000; box-sizing: border-box;}
.sec4 .tit h2 {float: left; width: 75%; text-transform: uppercase; text-align: center; letter-spacing: -0.05em; font-size: 20vw; line-height: 0.8em; color: #fff; font-family: 'Abel', sans-serif; font-weight: bold; background: #000;}
.sec4 .tit .btn {position: relative; float: left; width: 25%;}
.sec4 .tit .btn em {font-size: 20vw; line-height: 0.8em; color: #FEFFF1; text-transform: uppercase;}
.sec4 .tit .btn a {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sec4 .tit .btn img {width: 30px; transition: .4s;}
.sec4 .tit .btn a:hover img{transform: scale(1.2,1.2);}

.project{padding: 15em 4em; font-family: 'Anton', sans-serif;}
.pro1 {position: relative; height: 100vh; margin: 0 0 10em 0;}
.pro1 .desc figure {display: inline-block; position: absolute; right: 20%; top: 32%; z-index: 150; width: 55%; border: 4px solid #000; background: #f8f8f8;}
.pro1 .desc figure img {display: block;}
.pro1 .desc span {display: block; font-size: 190px;}
.pro1 .desc .txt1 {position: absolute; left: 5%; top: 2%; z-index: 100;}
.pro1 .desc .txt2 {position: absolute; left: 12%; top: 30%; z-index: 200;}
.pro1 .desc .view {display: block; position: absolute; left: 10%; bottom: 20%; z-index: 300;}
.pro1 .desc .view span {display: inline-block; position: relative; width: 150px; padding: 0 50px; font-size: 25px; text-align: center;}
.pro1 .desc .view span:before {content: ''; width: 100%; height: 100%; position: absolute; right: 10px; top: 7px; z-index: 1; border: 3px solid #000; border-radius: 50px; background: #f7b69d;}
.pro1 .desc .view span:after {content: attr(data-text); position: absolute; right: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; border: 3px solid #000; border-radius: 50px; color: #000; background: #fff; transform: translateY(0px); transition: all 0.4s ease;}
.pro1 .desc .view:hover span:after {transform: translateY(-5px);}
.pro1 .num{width: 20%; position: absolute; right: 8%; top: 6%;}

.pro2 {position: relative; height: 100vh; margin: 0 0 10em 0;}
.pro2 .desc figure {display: inline-block; width: 55%; border: 4px solid #000; position: absolute; left: 25%; top: 30%; z-index: 150; background: #f8f8f8;}
.pro2 .desc figure img {display: block;}
.pro2 .desc span {display: block; font-size: 190px;}
.pro2 .desc .txt1 {position: absolute; right: 5%; top: 3%; z-index: 100;}
.pro2 .desc .txt2 {position: absolute; right: 11%; top: 30%; z-index: 200;}
.pro2 .desc .view {display: block; position: absolute; right: 6%; bottom: 20%; z-index: 300;}
.pro2 .desc .view span {display: inline-block; position: relative; width: 150px; padding: 0 50px; font-size: 25px; text-align: center;}
.pro2 .desc .view span:before {content:''; position: absolute; left: 10px; top: 7px; z-index: 1; width: 100%; height: 100%; border:3px solid #000; border-radius: 50px; background: #a5a6f9;}
.pro2 .desc .view span:after {content: attr(data-text); position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; border: 3px solid #000; border-radius: 50px; color:#000; background: #fff; transform: translateY(0px); transition: all 0.4s ease;}
.pro2 .desc .view:hover span:after {transform: translateY(-5px);}
.pro2 .num{width: 29%; position: absolute; left: 3%; top: 8%;}

.pro3 {position: relative; height: 100vh; margin: 0 0 10em 0;}
.pro3 .desc figure {display: inline-block; position: absolute; left: 22%; top: 35%; z-index: 150; width: 55%; border: 4px solid #000; background: #f8f8f8;}
.pro3 .desc figure img {display: block;}
.pro3 .desc span {display: block; font-size: 190px;}
.pro3 .desc .txt1 {position: absolute; left: 5%; top: 6%; z-index: 100;}
.pro3 .desc .txt2 {position: absolute; left: 8%; top: 34%; z-index: 200;}
.pro3 .desc .view {display: block; position: absolute; left: 8%; bottom: 20%; z-index: 300;}
.pro3 .desc .view span {display: inline-block; position: relative; width: 150px; padding: 0 50px; font-size: 25px; text-align: center;}
.pro3 .desc .view span:before {content: ''; width: 100%; height: 100%; position: absolute; right: 10px; top: 7px; z-index: 1; border: 3px solid #000; border-radius: 50px; background: #B8924C;}
.pro3 .desc .view span:after {content: attr(data-text); position: absolute; right: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; border:3px solid #000; border-radius: 50px; color: #000; background: #fff; transform: translateY(0px); transition: all 0.4s ease;}
.pro3 .desc .view:hover span:after {transform: translateY(-5px);}
.pro3 .num{width: 29%; position: absolute; right: 5%; top: 9%;}

.pro4 {position: relative; height: 100vh; margin: 0 0 10em 0;}
.pro4 .desc figure {display: inline-block; width: 55%; border: 4px solid #000; position: absolute; left: 23%; top: 35%; z-index: 150; background: #f8f8f8;}
.pro4 .desc figure img {display: block;}
.pro4 .desc span {display: block; font-size: 190px;}
.pro4 .desc .txt1 {position: absolute; right: 4%; top: 6%; z-index: 100;}
.pro4 .desc .txt2 {position: absolute; right: 10%; top: 34%; z-index: 200;}
.pro4 .desc .view {display: block; position: absolute; right: 8%; bottom: 20%; z-index: 300;}
.pro4 .desc .view span {display: inline-block; position: relative; width: 150px; padding: 0 50px; font-size:25px; text-align: center;}
.pro4 .desc .view span:before {content:''; position: absolute; left: 10px; top: 7px; z-index: 1; width: 100%; height: 100%; border:3px solid #000; border-radius: 50px; background: #fccf52;}
.pro4 .desc .view span:after {content: attr(data-text); position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; border: 3px solid #000; border-radius: 50px; color:#000; background: #fff; transform: translateY(0px); transition: all 0.4s ease;}
.pro4 .desc .view:hover span:after {transform: translateY(-5px);}
.pro4 .num{width: 29%; position: absolute; left: 2%; top: 12%;}

.pro5 {position: relative; height: 100vh;}
.pro5 .desc figure {display: inline-block; position: absolute; left: 22%; top: 33%; z-index: 150; width: 55%; border:4px solid #000;}
.pro5 .desc figure img {display: block;}
.pro5 .desc span {display: block; font-size: 190px;}
.pro5 .desc .txt1 {position: absolute; left: 5%; top: 6%; z-index: 100;}
.pro5 .desc .txt2 {position: absolute; left: 10%; top: 30%; z-index: 200;}
.pro5 .desc .view {display: block; position: absolute; left: 8%; bottom: 20%; z-index: 300;}
.pro5 .desc .view span {display: inline-block; position: relative; width: 150px; padding: 0 50px; font-size: 25px; text-align: center;}
.pro5 .desc .view span:before {content: ''; width: 100%; height: 100%; position: absolute; right: 10px; top: 7px; z-index: 1; border: 3px solid #000; border-radius: 50px; background: #88d3ea;}
.pro5 .desc .view span:after {content: attr(data-text); position: absolute; right: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; border: 3px solid #000; border-radius: 50px; color: #000; background: #fff; transform: translateY(0px); transition: all 0.4s ease;}
.pro5 .desc .view:hover span:after {transform: translateY(-5px);}
.pro5 .num{width: 29%; position: absolute; right: 3%; top: 10%;}

/* sec4 animation */
.sec4 .tit                                        {transition: transform 0.3s ease;}
.sec4 .tit h2 span                                {display: inline-block; transform: translateY(450px); transition: transform 1s ease;}
.sec4 .tit.on h2 span                             {transform: translateY(0);}
.sec4 .tit.on h2 span:nth-child(1)                {transition-delay: .4s;}
.sec4 .tit.on h2 span:nth-child(2)                {transition-delay: .5s;}
.sec4 .tit.on h2 span:nth-child(3)                {transition-delay: .6s;}
.sec4 .tit.on h2 span:nth-child(4)                {transition-delay: .7s;}
.sec4 .tit.on h2 span:nth-child(5)                {transition-delay: .8s;}
.sec4 .tit.on h2 span:nth-child(6)                {transition-delay: .9s;}
.sec4 .tit.on h2 span:nth-child(7)                {transition-delay:  1s;}

.desc figure                                      {opacity: 0; transform: translateY(80px); transition: opacity 1.5s ease, transform 1.5s ease;}
.desc figure.on                                   {opacity: 1; transform: translateY(0);}
.desc .txt1                                       {opacity: 0; transition: opacity 1.5s ease-in-out;}
.desc .txt1.on                                    {opacity: 1;}
.desc .txt2                                       {opacity: 0; transition: opacity 1.5s ease-in-out;}
.desc .txt2.on                                    {opacity: 1;}
.desc .view                                       {opacity: 0; transition: opacity .8s .8s ease-in-out; display: block;}
.desc .view.on                                    {opacity: 1; transform: translateY(0);}
.num.pro_right                                    {opacity: 0; transform: translateX(80px); transition: opacity 1.5s ease, transform 1.5s ease;}
.num.pro_right.on                                 {opacity: 1; transform: translateX(0);}
.num.pro_left                                     {opacity: 0; transform: translateX(-80px); transition: opacity 1.5s ease, transform 1.5s ease;}
.num.pro_left.on                                  {opacity: 1; transform: translateX(0);}

/* sec5 */
.sec5{overflow: hidden; position: relative; height: 100%; border: 3px solid #000; background: #F32740;}
.sec5 .tit {overflow: hidden; border-bottom: 3px solid #000; box-sizing: border-box;}
.sec5 .tit h2 {float: left; width: 75%; text-transform: uppercase; text-align: center; letter-spacing: -0.06em; font-size: 20vw; line-height: 0.8em; color: #fff; font-family: 'Abel', sans-serif; font-weight: bold; background: #000;}
.sec5 .tit .btn {position: relative; float: left; width: 25%;}
.sec5 .tit .btn em {font-size: 20vw; line-height: 0.8em; color: #FEFFF1; text-transform: uppercase;}
.sec5 .tit .btn a {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sec5 .tit .btn img {width: 30px; transition: .4s;}
.sec5 .tit .btn a:hover img{transform: scale(1.2,1.2);}

.ani_top{height: 350px;}
.ani_top .move{float: left; position: relative; width: 40%; height: 350px; background: #fefff1;}
.ani_top .move .move_frame{position: absolute; width: 100%;}
.ani_top .move .move_frame.mtop{left: 0; top: 0;}
.ani_top .move .move_frame.mbottom{left: 0; bottom: 0;}
.ani_top .move .frame-line {border-top: 2px solid #000; border-bottom: 2px solid #000; box-sizing: border-box; height: 7px; background: #85d2ff;}
.ani_top .move .frame-img {position: relative; width: 100%; height: 8px; background: #f7d230 url(https://pumper.thisismailan.com/assets/images/frame-pattern.svg) repeat-x 0 0; animation: line 100s infinite linear; transform: translateZ(0);}
.ani_top .move .frame-img.line2 {animation: line2 100s infinite linear;}
.ani_top .move_txt{display: block; position: absolute; left: 50%; top: 50%; width: 300px; margin: -8px 0 0 -150px; font-weight: bold; letter-spacing: 10px; text-align: center; font-size: 15px; text-transform: uppercase;}
.ani_top .ani_con1{overflow: hidden; position: relative; float: left; width: 30%; height: 100%; border-left: 3px solid #000; box-sizing: border-box;}
.ani_top .ani_con1.last{border-right: 0;}
.ani_top .ani_con1 iframe{width: 100%; height: 350px; border: none;}

.ani_middle{height: 450px; border-top: 3px solid #000; border-bottom: 3px solid #000; box-sizing: border-box;}
.ani_middle .ani_con2{overflow: hidden; position: relative; float: left; width: 50%; height: 100%; box-sizing: border-box;}
.ani_middle .last{border-left: 3px solid #000;}
.ani_middle .ani_con2 iframe{width: 100%; height: 450px; border: none;}
.ani_middle2 .ani_con3{overflow: hidden; position: relative; width: 100%; height: 100%; border-bottom: 3px solid #000; box-sizing: border-box;}
.ani_middle2 .ani_con3 iframe{width: 100%; height: 450px; border: none;}

.ani_bottom{height: 350px;}
.ani_bottom .ani_con4{overflow: hidden; position: relative; float: left; width: 60%; height: 100%; border-right: 3px solid #000; box-sizing: border-box;}
.ani_bottom .move2{float: left; position: relative; width: 40%; height: 350px; background: #fefff1;}
.ani_bottom .move_txt{display: block; position: absolute; left: 50%; top: 50%; width: 300px; margin: -20px 0 0 -150px; font-weight: bold; letter-spacing: 10px; text-align: center; font-size: 15px; text-transform: uppercase;}
.ani_bottom .move2 .move_frame{position: absolute; width: 100%;}
.ani_bottom .move2 .move_frame.mtop{left: 0; top: 0;}
.ani_bottom .move2 .move_frame.mbottom{left: 0; bottom: 0;}
.ani_bottom .move2 .frame-line {border-top: 2px solid #000; box-sizing: border-box; border-bottom: 2px solid #000; height: 7px; background: #85d2ff;}
.ani_bottom .move2 .frame-img {position: relative; width: 100%; height: 8px; background: #f7d230 url(https://pumper.thisismailan.com/assets/images/frame-pattern.svg) repeat-x 0 0; animation: line 100s infinite linear; transform: translateZ(0);}
.ani_bottom .move2 .frame-img.line2 {animation: line2 100s infinite linear;}
.ani_bottom .ani_con4 iframe{width: 100%; height: 350px; border: none;}
.ani_info{opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; text-align: center;  color: #fff; box-sizing: border-box; cursor:pointer;}
.ani_top .ani_info{padding: 90px 10px;}
.ani_middle .ani_info{padding: 140px 10px;}
.ani_middle2 .ani_info{padding: 110px 10px;}
.ani_bottom .ani_info{padding: 100px 10px;}
.ani_info h3{margin: 0 0 20px 0; font-size: 25px; font-weight: bold;}
.ani_info p{font-size: 14px;}

/* modal */
.modal {position: fixed; left: 0; top: 0; width: 100%; height: 100%; transform: scale(0); display: none; transition: all .25s ease-in-out; z-index: 100000;}
.modal .modal-bg {background: rgba(0,0,0,0.9); display: flex; align-items: center; justify-content: center; height: 100%;}
.modal .modal-bg .modal-cont {position: relative; max-width: 1100px;}
.modal .modal-bg .modal-cont h2 {font-size: 30px; margin: 0; padding-bottom: 30px; color: #fff; font-weight: bold; text-align: center;}
.modal .modal-bg .modal-cont h2 .style1 {color: #f7d230;}
.modal .modal-bg .modal-cont p 	{font-size: 18px;}
.modal .modal-bg .modal-cont .close {position: absolute; top: -16px; right: -20px; margin: 20px; padding: 10px; background: #f7d230; border-radius: 50%;}
.modal .modal-bg .modal-cont .close:hover {animation: swing 0.3s;}
.modal .modal-bg .modal-cont .close svg {width: 24px; fill: #000; vertical-align: top;}
.modal.open {display: block; transform: scaleY(0.005) scaleX(0); animation: unfoldIn 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;}
.modal.out {transform: scale(1); animation: unfoldOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;}
.modal.open .modal-bg .modal-cont {width: 100vw; transform: scale(0); animation:zoom1 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;}
.modal.open.out .modal-bg .modal-cont {transform: scale(0); animation:zoom2 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;}

/* sec5 animation */
.sec5 .tit                                       {transition: transform 0.3s ease;}
.sec5 .tit h2 span                               {display: inline-block; transform: translateY(450px); transition: transform 1s ease;}
.sec5 .tit.on h2 span                            {transform: translateY(0);}
.sec5 .tit.on h2 span:nth-child(1)               {transition-delay: .4s;}
.sec5 .tit.on h2 span:nth-child(2)               {transition-delay: .5s;}
.sec5 .tit.on h2 span:nth-child(3)               {transition-delay: .6s;}
.sec5 .tit.on h2 span:nth-child(4)               {transition-delay: .7s;}
.sec5 .tit.on h2 span:nth-child(5)               {transition-delay: .8s;}
.sec5 .tit.on h2 span:nth-child(6)               {transition-delay: .9s;}
.sec5 .tit.on h2 span:nth-child(7)               {transition-delay:  1s;}
.sec5 .tit.on h2 span:nth-child(8)               {transition-delay: 1.1s;}
.sec5 .tit.on h2 span:nth-child(9)               {transition-delay: 1.2s;}

/* sec6 */
.sec6{overflow: hidden; position: relative; height: 100%; border: 3px solid #000; background: #f7d230;}
.sec6 .tit {overflow: hidden; border-bottom: 3px solid #000; box-sizing: border-box;}
.sec6 .tit h2 {float: left; width: 75%; text-transform: uppercase; text-align: center; letter-spacing: -0.05em; font-size: 20vw; line-height: 0.8em; color: #fff; font-family: 'Abel', sans-serif; font-weight: bold; background: #000;}
.sec6 .tit .btn {position: relative; float: left; width: 25%;}
.sec6 .tit .btn em {font-size: 20vw; line-height: 0.8em; color: #FEFFF1; text-transform: uppercase;}
.sec6 .tit .btn a {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sec6 .tit .btn img {width: 30px; transition: .4s;}
.sec6 .tit .btn a:hover img{transform: scale(1.2,1.2);}

.con_show{perspective: 150rem; height: 10vh; margin: 0 0 2em 0; text-align: center;}
.con_show .con-front span{font-size: 3rem; font-family: 'Abel', sans-serif; letter-spacing: -4px; font-weight: bold; line-height: 1.2em; text-transform: uppercase;}
.con_show .con-back span{font-size: 2.3rem; letter-spacing: -2px; line-height: 1.4em;}
.con_show:hover .con-front{transform: rotateX(-180deg);}
.con_show:hover .con-back{transform: rotateX(0deg);}
.con-front, .con-back{position: absolute; width: 100%; height: 100%; transition: 1.1s cubic-bezier(0.25, 0.8, 0.25, 1); backface-visibility: hidden; overflow: hidden; transform-style: preserve-3d;}
.con-front{transform: rotateX(0deg); backface-visibility: hidden;} /* 수정 */
.con-back {transform: rotateX(180deg); transform-style: preserve-3d; backface-visibility: hidden;}

.contact{padding: 5em 8em; box-sizing: border-box; overflow: hidden;}
.contact .con_form{float: left; width: 50%; height: 100%; padding: 20px; border: 2px solid #000; box-sizing: border-box;}
.contact .con_form h4{margin: 0 0 10px 0; text-align: center; font-size: 50px; letter-spacing: -1px; font-family: 'Anton', sans-serif;}
.con_form form fieldset {border: 0;}
.con_form form fieldset label {font-size: 20px;}
.con_form form fieldset input {float: left; display: inline-block; border: 2px solid #000; width: 100%; height: 50px; margin: 0 0 20px 0; padding: 15px; box-sizing: border-box; font-size: 15px; font-weight: bold;}
.con_form form fieldset .name{width: 49%; margin: 0 2% 0 0;}
.con_form form fieldset .email{width: 49%;}
.con_form form fieldset textarea {display: block; border: 2px solid #000; width: 100%; height: 300px; margin-bottom: 20px; font-size: 15px; box-sizing: border-box; padding: 15px; font-weight: bold;}
.con_form form fieldset .submit{background: #F32740;}

.contact .con_txt{float: left; width: 50%; height: 100%; padding: 100px; box-sizing: border-box; text-align: center;}
.contact .con_txt h4{font-size: 50px; letter-spacing: -1px; font-family: 'Anton', sans-serif;}
.contact .con_txt p{margin: 0 0 5px 0; font-size: 25px; font-weight: bold;}
.sns li {position: relative; display: inline-block; margin: 0.2em; font-size: 1.4em;}
.sns i {position: absolute; top: 21px; left: 22px; transition: all 265ms ease-out; color: #fff;}
.sns li:nth-child(2) i{left: 25px;}
.sns li:nth-child(4) i{left: 20px;}
.sns a:before {content: ''; transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); width: 60px; height: 60px; border-radius: 100%; display: block; transition: all 265ms ease-out; border: 2px solid #000;}
.sns li:nth-child(1) a:before{background: linear-gradient(45deg, #3A5CA4, #E94272);}
.sns li:nth-child(2) a:before{background: linear-gradient(45deg, #7F5897, #E94272);}
.sns li:nth-child(3) a:before{background: linear-gradient(45deg, #C32160, #E94272);}
.sns li:nth-child(4) a:before{background: linear-gradient(45deg, #BD1B21, #E94272);}
.sns a:hover:before {transform: scale(0); transition: all 265ms ease-in;}
.sns li:nth-child(1) a:hover i {transform: scale(1.8); -ms-transform: scale(2.2); -webkit-transform: scale(2.2); color: #3A5CA4; background: -webkit-linear-gradient(45deg, #3A5CA4, #E94272); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transition: all 265ms ease-in;}
.sns li:nth-child(2) a:hover i {transform: scale(2.2); -ms-transform: scale(2.2); -webkit-transform: scale(2.2); color: #7F5897; background: -webkit-linear-gradient(45deg, #7F5897, #E94272); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transition: all 265ms ease-in;}
.sns li:nth-child(3) a:hover i {transform: scale(1.8); -ms-transform: scale(2.2); -webkit-transform: scale(2.2); color: #C32160; background: -webkit-linear-gradient(45deg, #C32160, #E94272); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transition: all 265ms ease-in;}
.sns li:nth-child(4) a:hover i {transform: scale(2.2); -ms-transform: scale(2.2); -webkit-transform: scale(2.2); color: #BD1B21; background: -webkit-linear-gradient(45deg, #BD1B21, #E94272); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transition: all 265ms ease-in;}

/* animation */
@keyframes line {
    0% {background-position: 0}
    100% {background-position: 100%}
}

@keyframes line2 {
    0% {background-position: 100%}
    100% {background-position: 0}
}

@keyframes bounce2 {
  100% {
    top: -3px;
  }
}

@keyframes Typing {
	0% {opacity: 0;}
	15% {opacity: 1;}
	30% {opacity: 0;}
	45% {opacity: 1;}
	55% {opacity: 0;}
	75% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes unfoldIn{
  0% {transform: scaleY(0.005) scaleX(0);}
  50% {transform: scaleY(0.005) scaleX(1);}
  100% {transform: scaleY(1) scaleX(1);}
}

@keyframes unfoldOut{
  0% {transform: scaleY(1) scaleX(1);}
  50% {transform: scaleY(0.005) scaleX(1);}
  100% {transform: scaleY(0.005) scaleX(0);}
}

@keyframes zoom1 {
	0% {transform:scale(0);}
	100% {transform:scale(1);}
}
@keyframes zoom2 {
	0% {transform:scale(1);}
	100% {transform:scale(0);}
}

/* 미디어쿼리 */
@media (max-width: 1200px){
    .sec1 .title h1:after {font-size: 4.3rem; bottom: 15px;}
    
    .about_con1{padding: 10em 5em;}
    .about_con2{padding: 0 5em 10em 5em;}
    .about_con1 .about_show1 .about-front span, .about_con2 .about_show2 .about-front span
    {font-size: 3.5rem;}
    .about_con1 .about_show1 .about-back span, .about_con2 .about_show2 .about-back span
    {font-size: 2.7rem;}
    .about_con1 .about_show1:hover .about-front, .about_con2 .about_show2:hover .about-front
    {transform: rotateX(-180deg);}
    .about_con1 .about_show1:hover .about-back, .about_con2 .about_show2:hover .about-back
    {transform: rotateX(0deg);}
    .about_con2 .arrow{display: inline-block; width: 120px; margin: 25px 0; font-size: 14px; letter-spacing: 2px; color: #f32740; text-align: center; font-weight: bold; background: url(../img/about_arrow.png) no-repeat left center;}
    .about-front, .about-back
    {position: absolute; width: 100%; height: 100%; transition: 1.1s cubic-bezier(0.25, 0.8, 0.25, 1); backface-visibility: hidden; overflow: hidden;}
    .about-back {transform: rotateX(180deg);}
    .margin{margin: 0 0 10em 0;} /* 수정 */
    
    
    
    
    .pro_con1 .pro_top .pro_tit{padding: 30px;}
    .pro_con1 .pro_top .pro_tit p{font-size: 1.6rem;}
    .pro_con2 .pro_bottom .pro_tit{padding: 30px;}
    .pro_con2 .pro_bottom .pro_tit p{font-size: 1.6rem;}
    .pro_con3 .pro_bottom .pro_tit{padding: 30px;}
    .pro_con3 .pro_bottom .pro_tit p{font-size: 1.6rem;}
    .pro_con4 .pro_bottom .pro_tit{padding: 30px;}
    .pro_con4 .pro_bottom .pro_tit p{font-size: 1.6rem;}
    
    
}

@media (max-width: 1024px){
    .about_con1{padding: 10em 3em;}
    .about_con2{padding: 0 3em 10em 3em;}
    .about_con1 .about_show1, .about_con2 .about_show2
    {height: 8vh;}
    .about_con1 .about_show1 .about-front span, .about_con2 .about_show2 .about-front span
    {font-size: 3rem;}
    .about_con1 .about_show1 .about-back span, .about_con2 .about_show2 .about-back span
    {font-size: 2.2rem;}
}

@media (max-width: 960px){
    .sec1 .title h1:after {font-size: 3.8rem; bottom: 10px;}
    
    .about_con1 .about_show1 .about-front span, .about_con2 .about_show2 .about-front span
    {font-size: 2.5rem;}
    .about_con1 .about_show1 .about-back span, .about_con2 .about_show2 .about-back span
    {font-size: 1.8rem;}
    
    .pro_con1 .pro_top .pro_tit{padding: 50px 20px;}
    .pro_con1 .pro_top .pro_tit span{margin-bottom: 20px; font-size: 1rem;}
    .pro_con1 .pro_top .pro_tit p{font-size: 1.2rem;}
    .pro_con2 .pro_bottom .pro_tit{padding: 35px 20px;}
    .pro_con2 .pro_bottom .pro_tit span{margin-bottom: 20px; font-size: 1rem;}
    .pro_con2 .pro_bottom .pro_tit p{font-size: 1.2rem;}
    .pro_con3 .pro_bottom .pro_tit{padding: 30px 20px;}
    .pro_con3 .pro_bottom .pro_tit p{font-size: 1.2rem;}
    .pro_con4 .pro_bottom .pro_tit{padding: 30px 20px;}
    .pro_con4 .pro_bottom .pro_tit span{margin-bottom: 20px; font-size: 1rem;}
    .pro_con4 .pro_bottom .pro_tit p{font-size: 1.2rem;}
}

@media (max-width: 768px){
    .sec1 .title h1:after {font-size: 3.2rem; bottom: 5px;}
    
    .about_con1 .about_show1, .about_con2 .about_show2
    {height: 6vh;}
    .about_con1 .about_show1 .about-front span, .about_con2 .about_show2 .about-front span
    {font-size: 2rem; letter-spacing: -3px;}
    .about_con1 .about_show1 .about-back span, .about_con2 .about_show2 .about-back span
    {font-size: 1.4rem;}
    
    .sec3{}
    .cred_con1 .credit1{height: 150px; padding: 30px 0;}
    .cred_con1 .cred_tit{font-size: 0.8rem;}
    .cred_con1 .cred_name{font-size: 3rem; letter-spacing: -5px;}
    .credit_non{height: 60px;}
    .cred_con3 .credit3_l{height: 120px;}
    .cred_con3 .credit3_l .credit_left{line-height: 120px;}
    .cred_con3 .credit3_l .credit_right{padding: 12px 0 10px 25px;}
    .cred_con3 .credit3_l .credit_right h4{font-size: 2rem;}
    .cred_con3 .credit3_s{height: 70px;}
    .cred_con3 .credit3_s .credit_left{line-height: 70px;}
    .cred_con3 .credit3_s .credit_right{padding: 12px 0 10px 25px;}
    .cred_con3 .credit3_s .credit_right h4{font-size: 2rem;}
    .cred_con3 .credit3_m{height: 120px;}
    .cred_con3 .credit3_m .credit_left{line-height: 120px;}
    .cred_con3 .credit3_m .credit_right{padding: 12px 0 10px 25px;}
    .cred_con3 .credit3_m .credit_right h4{font-size: 2rem;}
    .cred_con4{padding: 80px 0;}
    .cred_con4 p{font-size: 2rem;}
    
    .sec4{position: relative; border: 3px solid #000; background: #FEFFF1;}
    .pro_con1 .pro_top .pro_tit{padding: 50px 10px;}
    .pro_con1 .pro_top .pro_tit span{margin-bottom: 20px; font-size: 1rem;}
    .pro_con1 .pro_top .pro_tit p{font-size: 1rem;}
    .pro_con1 .pro_bottom .pro_img{width: 100%; height: 40vh; border-right: 0; border-bottom: 2px solid #000;}
    .pro_con1 .pro_bottom .pro_txt{width: 100%; height: 40vh;}
    .pro_con1 .pro_bottom .pro_txt p{margin: 70px 10px 0 0; }
    .pro_con2 .pro_top .pro_txt{width: 100%; height: 40vh; border-right: 0; border-bottom: 2px solid #000;}
    .pro_con2 .pro_top .pro_txt span{margin: 0 0 0 35px;}
    .pro_con2 .pro_top .pro_txt p{margin: 70px 50px 0 0;}
    .pro_con2 .pro_top .pro_img{width: 100%; height: 40vh;}
    .pro_con2 .pro_bottom .pro_tit span{margin-bottom: 20px; font-size: 1rem;}
    .pro_con2 .pro_bottom .pro_tit p{font-size: 1rem;}
    .pro_con3{height: 100vh;}
    .pro_con3 .pro_top .pro_img{width: 100%; height: 40vh; border-right: 0; border-bottom: 2px solid #000;}
    .pro_con3 .pro_top .pro_txt{width: 100%; height: 40vh;}
    .pro_con3 .pro_top .pro_txt span{margin: 0 0 0 35px;}
    .pro_con3 .pro_top .pro_txt p{margin: 70px 50px 0 0;}
    .pro_con4 .pro_top .pro_img{width: 100%; height: 40vh; border-right: 0;  border-bottom: 2px solid #000;}
    .pro_con4 .pro_top .pro_txt{width: 100%; height: 40vh;}
    .pro_con4 .pro_top .pro_txt span{margin: 0 0 0 35px;}
    .pro_con4 .pro_top .pro_txt p{margin: 70px 50px 0 0;}
    
    
    
    .soc_con1{height: 40vh;}
    .soc_con1 .move{float: none; position: relative; width: 100%; height: 100px; background: #fefff1;}
    .soc_con1 .icon{float: left; width: 25%; height: 100%; border-left: 3px solid #000; box-sizing: border-box;}
    .soc_con1 .icon.first{border-left: none;}
    .soc_con1 .icon .Icon{top: 33%;}
    .soc_con2{height: 26vh;}
    .soc_con2 .icon{float: left; width: 25%; height: 100%; border-top: 3px solid #000; border-right: 3px solid #000; box-sizing: border-box; }
    .soc_con2 .icon.last{border-right: 0;}
    .soc_con2 .move2{float: none; position: relative; width: 100%; height: 100px; border-top: 3px solid #000; box-sizing: border-box; background: #fefff1;}
}

@media (max-width: 576px){
    .sec1 .title h1:after {font-size: 2.3rem; bottom: 0;}
    .sec1 .sec1_top {font-size: .8rem;}
    .sec1 .sec1_top strong span:nth-child(13)  {margin: 0 5px 0 0;}
    .sec1 .sec1_top strong span:nth-child(17)  {margin: 0 5px 0 0;}
    .sec1 .sec1_bom .logo {float: left; margin: 38px 0 0 4px;}
    .sec1 .sec1_bom .logo img{width: 80px;}
    .sec1 .sec1_bom .menu li a {font-size: 0.7rem; padding: 10px 0 10px 5px;}
    
    .about_con1{padding: 10em 2em;}
    .about_con2{padding: 0 2em 10em 2em;}
    .about_con1 .about_show1 .about-front span, .about_con2 .about_show2 .about-front span
    {font-size: 1.8rem; letter-spacing: -3px;}
    .about_con1 .about_show1 .about-back span, .about_con2 .about_show2 .about-back span
    {font-size: 1.2rem;}
    
    .sec3{}
    .cred_con1 .credit1{height: 120px; padding: 25px 0 10px 0;}
    .cred_con1 .cred_tit{display: block;}
    .cred_con1 .cred_name{font-size: 2rem; letter-spacing: -3px;}
    .cred_con3 .credit3_l{height: 100px;}
    .cred_con3 .credit3_l .credit_left{padding: 0 10px 0 0; line-height: 100px;}
    .cred_con3 .credit3_l .credit_right{padding: 20px 0 0 10px;}
    .cred_con3 .credit3_l .credit_right h4{font-size: 1.2rem;}
    .cred_con3 .credit3_s{height: 50px;}
    .cred_con3 .credit3_s .credit_left{padding: 0 10px 0 0; line-height: 50px;}
    .cred_con3 .credit3_s .credit_right{padding: 10px 0 0 10px;}
    .cred_con3 .credit3_s .credit_right h4{font-size: 1.2rem;}
    .cred_con3 .credit3_m{height: 100px;}
    .cred_con3 .credit3_m .credit_left{padding: 0 10px 0 0; line-height: 100px;}
    .cred_con3 .credit3_m .credit_right{padding: 20px 0 0 10px;}
    .cred_con3 .credit3_m .credit_right h4{font-size: 1.2rem;}
    .cred_con4 p{margin-bottom: 40px; font-size: 1.2rem;}
    
    .pro_con1 .pro_top .pro_tit{padding: 50px 0; text-align: center;}
    .pro_con1 .pro_top .pro_tit span{margin-bottom: 0; font-size: 1.6rem;}
    .pro_con1 .pro_top .pro_tit p{display: none;}
    .pro_con2 .pro_bottom .pro_tit{padding: 50px 0; text-align: center;}
    .pro_con2 .pro_bottom .pro_tit span{margin-bottom: 0; font-size: 1.6rem;}
    .pro_con2 .pro_bottom .pro_tit p{display: none;}
    .pro_con3 .pro_bottom .pro_tit{padding: 50px 0; text-align: center;}
    .pro_con3 .pro_bottom .pro_tit span{margin-bottom: 0; font-size: 1.6rem;}
    .pro_con3 .pro_bottom .pro_tit p{display: none;}
    .pro_con4 .pro_bottom .pro_tit{padding: 50px 0; text-align: center;}
    .pro_con4 .pro_bottom .pro_tit span{margin-bottom: 0; font-size: 1.6rem;}
    .pro_con4 .pro_bottom .pro_tit p{display: none;}
}
@media (max-width: 375px){
    .sec1 .title h1:after {font-size: 2rem;}
    
    .about_con1{padding: 6em 2em 0 2em;}
    .about_con1 .desc{letter-spacing: -3px; font-size: 1.5rem;}
    
    .pro_con1 .pro_top .pro_tit span{font-size: 1.5rem;}
    .pro_con2 .pro_bottom .pro_tit span{font-size: 1.5rem;}
}

@media (max-width: 320px){
    .sec1 .title h1:after {font-size: 1.6rem;}
}



/* width */
/*::-webkit-scrollbar {width: 17px;}*/
/* Track */
/*::-webkit-scrollbar-track {background: #fff;}*/
/* Handle */
/*::-webkit-scrollbar-thumb { background: #f7d230;}
::-webkit-scrollbar-thumb:hover {background: #F32740;}*/

