/* progress */
.progress {
	background: #f38578;
	color: #fff;
	height: 100vh;
	width: 100%;
	position: absolute;	
	z-index: 5000;
}
.progress-bar {
	border-top: 1px solid rgb(160,160,160);
	position: absolute;
	top: 54%;
	width: 0%;
}
.progress-text {
    font-family: 'Chau Philomene One', sans-serif;
	font-size: 2vw;
    color: #fff;
	margin-top: 10px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}
.progress-complete .progress-bar {
	border-top-color: rgb(255,255,255)

}
/* 메인 애니메이션 */
.finder      {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.1s ease, translateY 0.5s 2.1s ease;}
.ai       {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.2s ease, translateY 0.5s 2.1s ease;}
.ps       {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.3s ease, translateY 0.5s 2.1s ease;}
.xd       {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.4s ease, translateY 0.5s 2.1s ease;}
.coding  {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.5s ease, translateY 0.5s 2.1s ease;}
.megabox   {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.6s ease, translateY 0.5s 2.1s ease;}
.setting    {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.7s ease, translateY 0.5s 2.1s ease;}
.card    {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.8s ease, translateY 0.5s 2.1s ease;}
.insta    {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 2.9s ease, translateY 0.5s 2.1s ease;}
.music   {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.0s ease, translateY 0.5s 2.1s ease;}
.minimi       {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.1s ease, translateY 0.5s 2.1s ease;}
.dog     {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.2s ease, translateY 0.5s 2.1s ease;}
.rocket     {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.3s ease, translateY 0.5s 2.1s ease;}
.trash     {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.3s ease, translateY 0.5s 2.1s ease;}
.behance   {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.4s ease, translateY 0.5s 2.1s ease;}
.dirbble   {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.5s ease, translateY 0.5s 2.1s ease;}
.tistory   {opacity: 0; transform: translateY(30px); transition: opacity 0.5s 3.6s ease, translateY 0.5s 2.1s ease;}
.table        {opacity: 0; bottom: -3%; transition: opacity 0.5s 3.5s ease, bottom 0.5s 2.1s ease;;  }
#wrapper      {opacity: 0; transition: all 0.5s 3.7s ease;}
 

body.active .finder      {opacity: 1; transform: translateY(0px);}
body.active .ai       {opacity: 1; transform: translateY(0px);}
body.active .ps       {opacity: 1; transform: translateY(0px);}
body.active .xd       {opacity: 1; transform: translateY(0px);}
body.active .coding  {opacity: 1; transform: translateY(0px);}
body.active .megabox   {opacity: 1; transform: translateY(0px);}
body.active .setting    {opacity: 1; transform: translateY(0px);}
body.active .card    {opacity: 1; transform: translateY(0px);}
body.active .insta    {opacity: 1; transform: translateY(0px);}
body.active .music   {opacity: 1; transform: translateY(0px);}
body.active .chrome       {opacity: 1; transform: translateY(0px);}
body.active .minimi     {opacity: 1; transform: translateY(0px);}
body.active .dog     {opacity: 1; transform: translateY(0px);}
body.active .rocket   {opacity: 1; transform: translateY(0px);}
body.active .trash   {opacity: 1; transform: translateY(0px);}
body.active .behance   {opacity: 1; transform: translateY(0px);}
body.active .dirbble   {opacity: 1; transform: translateY(0px);}
body.active .tistory   {opacity: 1; transform: translateY(0px);}
body.active .table        {opacity: 1; bottom: 0; }
body.active #wrapper      {opacity: 1; }
  
/* 배경 색 */
/*.bgColor1 {background-color: #f38578;}*/
.bgColor1 {background-color: #dbdbdb;}
.bgColor2 {background-color: #9EAAEF;}
.bgColor3 {background-color: #f79292;}



/* 레이아웃 */
body {width: 100vw; height: 100vh; overflow: hidden; }
#wrap { }
#headers {width: 100%; height: 40px; background-color:#f1f1f1; border-bottom: 2px solid #000;}
#contents {}

/* 헤더 */
.header_logo {width: 28px; position:absolute; left: 20px; top:0.7%;}
.header_text {width: 150px; position: absolute; left: 55px; top: 1.5%;}
.header_ham {width: 30px; position: absolute; right: 20px; top: 1.2%;}
.header_clock {width: 55px; position: absolute; right: 75px; top: 1.3%;}
.header_lang {width: 23px; position: absolute; right: 145px; top: 1.1%;}
.header_siri {width: 20px; position: absolute; right: 183px; top:1.1%;}
.header_search {width: 20px; position: absolute; right: 220px; top:1.1%;}
.header_wifi {width: 23px; position: absolute; right: 256px; top: 1.2%;}
.header_battery {width: 30px; position: absolute; right: 296px; top: 1.4%;}

/* 컨텐츠 */

.table {width: 1200px; position: absolute; left: 50%; transform: translateX(-50%); height: 100px;
    background: url(../img/table3.svg) no-repeat center;}
.table .finder {width: 90px; position: absolute; left:0px; bottom: 2px; z-index: 2;}
.table .ai {width: 90px; position: absolute; left: 70px; bottom: 2px; z-index: 2;}
.table .ps {width: 90px; position: absolute; left: 140px; bottom: 2px; z-index: 2;}
.table .xd {width: 90px; position: absolute; left: 210px; bottom: 2px; z-index: 2;}
.table .coding {width: 90px; position: absolute; left: 280px; bottom: 2px; z-index: 2;}
.table .megabox {width: 90px; position: absolute; left: 350px; bottom: 2px; z-index: 2;}
.table .setting {width: 90px; position: absolute; left: 420px; bottom: 2px; z-index: 2;}
.table .card {width: 90px; position: absolute; left: 490px; bottom: 2px; z-index: 2;}
.table .insta {width: 90px; position: absolute; left: 560px; bottom: 2px; z-index: 2;}
.table .music {width: 90px; position: absolute; left: 630px; bottom: 2px; z-index: 2;}
.table .chrome {width: 90px; position: absolute; left: 700px; bottom: 2px; z-index: 2;}
.table .minimi {width: 90px; position: absolute; left: 770px; bottom: 2px; z-index: 2;}
.table .dog {width: 90px; position: absolute; left: 840px; bottom: 2px; z-index: 2;}
.table .rocket {width: 90px; position: absolute; left: 910px; bottom: 2px; z-index: 2;}
.table .behance {width: 90px; position: absolute; left: 980px; bottom: 2px; z-index: 2;}
.table .dirbble {width: 90px; position: absolute; left: 1045px; bottom: 2px; z-index: 2;}
.table .trash {width: 86px; position: absolute; left: 1115px; bottom: 2px; z-index: 2;}

.app_music {width: 100px; position: absolute; left: 30px; top: 63px;}



/* 오버 효과 */
.hoverBounce:hover {animation: bounce 1s;}
.hoverBounce2:hover {animation: bounce 1.4s ease-in-out;}
.hoverHeartBeat:hover {animation: heartBeat 1s;}
.hoverjello:hover {animation: jello 1s;}
.hoverbounceOutDown:hover {animation: bounceOutDown 1s;}
.hoverbounceOutUp:hover {animation: bounceOutUp 1s;}
.hoverZoomOutDown:hover {animation: zoomOutDown 1s;}
.hoverFlip:hover {animation: flip 1s ease;}
.hoverRotateIn:hover {animation: rotateIn 1s ease;}
.hoverTada:hover {animation: tada 1s ease;}
.hoverPulse:hover {animation: pulse 1s ease;}
.hoverShake:hover {animation: shake 1s ease;}
.hoverWobble:hover {animation: wobble 1s ease;}
.hoverFadeInUp:hover {animation: fadeInUp 1s ease;}

/* 메인 */
.mainImg {width: 750px; position: absolute; left: 20%; top: 10%; z-index: 1;}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.mainText { 
    position: absolute; left: 480px; top: 200px;
	font: bold 2em monospace;
  color: black;
  border-right: .1em solid black;
	width: calc(0.55em * 15); 
	width: 15ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 8s steps(15, end),
	           blink-caret .5s step-end infinite alternate;
}
.mainText2 { 
    position: absolute; left: 480px; top: 250px;
	font: bold 2em monospace;
  color: black;
	border-right: .1em solid black;
	width: calc(0.55em * 19); 
	width: 19ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 8s steps(15, end),
	           blink-caret .5s step-end infinite alternate;
}
/* 로딩 */

/*
body {
  font-family: 'NEXEN_TIRE_Bold';
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  width: 100%; height: 100%;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px #ccc,
    0 2px #ccc,
    0 3px #ccc,
    0 4px #ccc,
    0 5px #ccc,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0,0,0,.4);
    
}
*/
.box {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  height: 100vh; width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box span {
  position: relative;
  bottom: 60%; font-size: 4vw;
  color: #000;
  display: inline-block;
  animation: bounce 1s ease infinite alternate;
}
@keyframes bounce {
  100% {
    top: -20px;
 text-shadow: 0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 5px 0 #ccc,
    0 6px 0 #ccc,
    0 7px 0 #ccc,
    0 8px 0 #ccc,
    0 9px 0 #ccc,
    0 50px 25px rgba(0,0,0,.2);
   
  }
}








