@import url('https://fonts.googleapis.com/css?family=K2D:400,500,600,700,800');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@font-face { font-family: 'NIXGONL-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }


body {overflow-x: hidden}
    
/* container */
.container {width: 1400px; margin: 0 auto; position: relative;}

/* progress */
.progress {background: rgba(1, 0, 5,1); color: hsla(216,95%,85%,.6); height: 100vh; width: 100%; position: absolute; z-index: 5000;}
.progress-text {font-size: 70px; font-family: 'K2D'; transform: translateY(-50%); position: absolute; text-align: center; top: 50%; width: 100%;}
.progress-complete .progress-bar {border-top-color: rgb(246,246,238);}

/* scroll */

.info {position: fixed; left: 35px; top: 25px; z-index: 999; display: none;}
.info h3 {font-size: 12px; font-weight: 300; letter-spacing: 1px; padding-bottom: 10px; text-align: center; color: #fff;}
.info span {
    position: relative; background: rgba(0,0,0,0.6);
    border-radius: 50%; color: #fff;
    width: 50px; height: 50px; display:inline-block;
    text-align: center; line-height: 50px;
}
.info .scroll_top:before {content:''; position: absolute;left: 50%; top: -50px; transform: translateX(-50%);}

/* wheel scroll */
.mouseScroll span {
	position: fixed;
	bottom: -30px;
    z-index: 1000;
    left: 47.8%;
    display: none;
}



/* header */
.header {position: fixed; right: -30px; z-index: 100; }
.header .menu {width: 150px;float: right; margin-right: 8px;margin-top: -5px;}
.header .menu ul {overflow: hidden; width: 150px;}
.header .menu li {float: left;width: 50px;padding-top: 48px;font-size: 14px;font-weight: bold;}
.ham { position: absolute;top: 42px;width: 50px;height: 55px;cursor: pointer; padding-left: 10px;}
.ham span { display: block;background: #fff; width: 40px;height: 4px;border-radius: 5px; transition: margin 0.25s 0.25s, transform 0.25s;}
.ham .bar1 {margin-bottom: 6px; background: hsla(216,95%,85%,.6);}
.ham .bar2 {margin-bottom: 6px; background: hsla(216,95%,85%,.6);}
.ham .bar3 {margin-top: 6px; background: hsla(216,95%,85%,.6);}

.ham.active span {transition: margin 0.25s, transform 0.25s 0.25s;}
.ham.active .bar1 {margin-top: 5px; margin-bottom: -4px; transform: rotate(45deg); }
.ham.active .bar2 {transform: rotate(45deg);}
.ham.active .bar3 {margin-top: -10px; transform: rotate(135deg); background: hsla(216,95%,85%,1);}

/* nav*/
.nav {position: fixed; z-index: 98;}
.nav:before,
.nav:after {content: "";position: fixed;width: 100vw; height: 100vh; background: rgba(20, 21, 26, 0.6); border-bottom-left-radius: 200%; z-index: -1; transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s; transform: translateX(100%) translateY(-100%);}
.nav:after {background: rgba(9, 9, 12, 1);transition-delay: 0s;}
.nav:before {transition-delay: .2s;}
.nav__content { position: fixed;visibility: hidden;top: 50%; margin-top: 20px; transform: translate(0%, -50%); width: 100%;  text-align: center;}
.nav__list { position: relative;  padding: 0; margin: 0; z-index: 2;}
.list-item {
    position: relative;
    display: block;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    font-family: 'K2D', serif;
    font-size: 4vw;
    font-weight: 800;
    line-height: 1.15;
    letter-spacing: 3px;
    transform: translate(100px, 0%);
    transition: opacity .2s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    margin-top: 0;
    margin-bottom: 0;
}
.list-item a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    z-index: 2;
    display: inline-block;
    text-transform: uppercase;
    transition: all 200ms linear;
}
.list-item a:after { position: absolute; content: '';  top: 60%; margin-top: -2px; left: 50%; width: 0; height: 0; opacity: 0; background-color: #8167a9; z-index: 1; transition: all 200ms linear;}
.list-item a:hover:after { height: 4px;opacity: 1;left: 0;width: 100%;}
.list-item a:hover {color: rgba(255, 255, 255, 1);}
.list-item.active-nav a {color: rgba(255, 255, 255, 1);}
.list-item.active-nav a:after {height: 4px;opacity: 1;left: 0;width: 100%;}
.nav-active .nav__content {visibility: visible;}
.nav-active .menu-icon__line { background-color: #fff;transform: translate(0px, 0px) rotate(-45deg);}
.nav-active .menu-icon__line-left { width: 15px;transform: translate(2px, 4px) rotate(45deg);}
.nav-active .menu-icon__line-right { width: 15px; float: right; transform: translate(-3px, -3.5px) rotate(45deg);}
.nav-active .menu-icon:hover .menu-icon__line-left,
.nav-active .menu-icon:hover .menu-icon__line-right {width: 15px;}
.nav-active .nav {visibility: visible;}
.nav-active .nav:before,
.nav-active .nav:after {transform: translateX(0%) translateY(0%);border-radius: 0;}
.nav-active .nav:after {transition-delay: .1s;}
.nav-active .nav:before { transition-delay: 0s;}
.nav-active .list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
}
.nav-active .list-item:nth-child(0) {transition-delay: 0.7s;}
.nav-active .list-item:nth-child(1) {transition-delay: 0.8s;}
.nav-active .list-item:nth-child(2) {transition-delay: 0.9s;}
.nav-active .list-item:nth-child(3) {transition-delay: 1s;}
.nav-active .list-item:nth-child(4) {transition-delay: 1.1s;}
.nav-active .list-item:nth-child(5) {transition-delay: 1.2s;}
.nav-active .list-item:nth-child(6) {transition-delay: 1.3s;}
.nav-active .list-item:nth-child(7) {transition-delay: 1.4s;}
.nav-active .list-item:nth-child(8) {transition-delay: 1.5s;}
.nav-active .list-item:nth-child(9) {transition-delay: 1.6s;}
.nav-active .list-item:nth-child(10) {transition-delay: 1.7s;}

/* parallax */ 
.parallax-page {margin: 0; padding: 0; width: 100%;  z-index: 50;}
.parallax {overflow-x: hidden; overflow-y: auto; position: absolute; top: 0; right: 0; bottom: 0; left: 0%; height: 100vh; perspective: 100px;}
.parallax::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: transparent;}
.parallax::-webkit-scrollbar{width: 1px;background-color: transparent;}
.parallax::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: transparent;}
.parallax__layer {position: absolute;top: 0; right: 0; bottom: 0;left: 0;  }
.parallax__layer img {position: absolute; bottom: 0;display: block; }
.parallax__layer:nth-of-type(8) {transform: translateZ(0px) scale(1); }
.parallax__layer:nth-of-type(7) {transform: translateZ(-50px) scale(1.4); }
.parallax__layer:nth-of-type(6) {transform: translateZ(-100px) scale(2) ; }
.parallax__layer:nth-of-type(5) {transform: translateZ(-150px) scale(2.5);}
.parallax__layer:nth-of-type(4) {transform: translateZ(-200px) scale(3);}
.parallax__layer:nth-of-type(3) {transform: translateZ(-250px) scale(3.5);  }
.parallax__layer:nth-of-type(2) {transform: translateZ(-300px) scale(4.5) translateY(-100px);}
.parallax__layer:nth-of-type(1) {transform: translateZ(-400px) scale(5);animation: ani 5s infinite forwards; }
.parallax__content {position: absolute; top: 100%; left: 0; right: 0; height: 1300px; background: #08001a; transform: translateZ(0); color: #fff; text-align: center;}

.parallax__content h2 { 
    font-family: 'K2D', serif;
    display: table;
    position: relative;
    width: auto;
    color: #8cddeb;
    z-index: 1;
    margin: 0 auto;
    padding-top: 0.5em;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    opacity: 0; transition: all .5s 5.6s ease-in-out;
}

.parallax__content p {
    font-family: 'NIXGONL-Vb';
    margin: 1.5em 0;
    padding: 0px 21.5em;
    color: #fff;
    letter-spacing: 0.05rem;
    line-height: 1.9em;
    word-break: keep-all;
    font-size: 25px;
    opacity: 0; transition: all .5s 5.9s ease-in-out;
}

body.active .parallax__content h2 {opacity: 1;}
body.active .parallax__content p {opacity: 1;}

/* parallax__layer animation */
.parallax__layer:nth-of-type(1) {opacity: 0; transition: all .5s 1s ease-in-out;}
.parallax__layer:nth-of-type(2) {opacity: 0; transition: all .5s 1.5s ease-in-out;}
.parallax__layer:nth-of-type(3) {opacity: 0; transition: all .5s 1.9s ease-in-out;}
.parallax__layer:nth-of-type(4) {opacity: 0; transition: all .5s 2.1s ease-in-out;}
.parallax__layer:nth-of-type(5) {opacity: 0; transition: all .5s 2.3s ease-in-out;}
.parallax__layer:nth-of-type(6) {opacity: 0; transition: all .5s 2.5s ease-in-out;}
.parallax__layer:nth-of-type(7) {opacity: 0; transition: all .5s 2.7s ease-in-out;}
.parallax__layer:nth-of-type(8) {opacity: 0; transition: all .5s 2.9s ease-in-out;}

body.active .parallax__layer:nth-of-type(1) {opacity: 1;}
body.active .parallax__layer:nth-of-type(2) {opacity: 1;}
body.active .parallax__layer:nth-of-type(3) {opacity: 1;}
body.active .parallax__layer:nth-of-type(4) {opacity: 1;}
body.active .parallax__layer:nth-of-type(5) {opacity: 1;}
body.active .parallax__layer:nth-of-type(6) {opacity: 1;}
body.active .parallax__layer:nth-of-type(7) {opacity: 1;}
body.active .parallax__layer:nth-of-type(8) {opacity: 1;}


/* section */
#section1 {background: #08001a; height: 2000px;  position: relative; margin-top: -6px;}
#section1::before {content: ''; background:#fff; height: 1000px; position: absolute; left: 0; top: -100px;}
#section2 {background: #fff; height: 1000px;}
#section3 {background: #fff; }
#section4 {background: #fff; }
#section5 {background: #190040; height: 16000px;}
#section6 {background: #08001a; height: 8000px;}

/* sec1 */
.sec1 { height: 708px; position: relative;}
.sec1 .sec1_01 {width: 1000px; position: absolute; left: 15%; bottom: 0;}
.sec1 .skill {padding: 50px 60px; background:#101348; position: absolute; right: 10%; top: 30%; transform: translateY(-50%);}
.sec1 .skill h3 {color: #fff; font-size: 48px; line-height: 48px; font-family: 'K2D'; padding-bottom: 40px;  }
.sec1 .skill .skill_wrap {overflow: hidden;}
.sec1 .skill .skill_wrap > div {float: left;  margin-right: 30px; }
.sec1 .skill .skill_wrap > div:last-child {margin-right: 0;}
.sec1 .skill .skill_wrap > div .pie {width: 130px; height: 130px; position: relative;}
.sec1 .skill .skill_wrap > div .pie .count {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff; font-family: 'K2D'; font-size: 28px;}
.sec1 .skill .skill_wrap > div .pie .count:after {content: '%';}
.sec1 .skill .skill_wrap > div h4 {color: #fff; text-align: center; font-size: 20px; padding-top: 15px; font-family: 'K2D'; }

@keyframes ani {
  0% {transform: translateY(0px);}
  30% {transform: translateY(-5px);} 
  60% {transform: translateY(10px);} 
  100% {transform: translateY(0px);}
}

.sec1 .skill {opacity: 0; right: -25%;  transition: all 0.5s ease}
.sec1 .sec1_01 {opacity: 0; left: -25%; transition: opacity 0.5s 0.2s ease, left 0.5s 0.2s ease}
.sec1 .skill h3 {opacity: 0; transition: opacity 0.5s 0.2s ease}
.sec1 .skill .skill_wrap > div.skill1 {opacity: 0; transition: opacity 0.5s 0.3s ease}
.sec1 .skill .skill_wrap > div.skill2 {opacity: 0; transition: opacity 0.5s 0.4s ease}
.sec1 .skill .skill_wrap > div.skill3 {opacity: 0; transition: opacity 0.5s 0.5s ease}
.sec1 .skill .skill_wrap > div.skill4 {opacity: 0; transition: opacity 0.5s 0.6s ease}
.sec1 .skill .skill_wrap > div.skill5 {opacity: 0; transition: opacity 0.5s 0.7s ease}

.sec1.active .skill {opacity: 1; right: 10%;}
.sec1.active .sec1_01 {opacity: 1; left: 0%; bottom: -4px;}
.sec1.active .skill h3 {opacity: 1;}
.sec1.active .skill .skill_wrap > div.skill1 {opacity: 1;}
.sec1.active .skill .skill_wrap > div.skill2 {opacity: 1;}
.sec1.active .skill .skill_wrap > div.skill3 {opacity: 1;}
.sec1.active .skill .skill_wrap > div.skill4 {opacity: 1;}
.sec1.active .skill .skill_wrap > div.skill5 {opacity: 1;}





/* sec2 */
.sec2 {padding: 10% 0;}
.sec2 .sec2_title {border-bottom: 3px solid #ccc; padding-bottom: 5%; font-family: 'K2D'; }
.sec2 .sec2_title span {font-size: 16px; font-weight: bold; text-transform: uppercase; color: #999;}
.sec2 .sec2_title h2 {font-size: 60px; font-weight: bold; line-height: 1.09; letter-spacing: -.02em; text-align: left;color: #2f2f2f;margin-top: 20px;}
.sec2 .sec2_title h2 strong {opacity: 0;overflow: hidden; position: relative; display: inline-block; height: 50px; line-height: 45px;}
.sec2 .sec2_title h2 strong:before {transform: translateX(-100%); content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,1);}
.sec2 .sec2_title h2 em {opacity: 0;overflow: hidden; position: relative; display: inline-block; height: 50px; line-height: 45px;}
.sec2 .sec2_title h2 em:before {transform: translateX(-100%); content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,1);}

.sec2.active .sec2_title h2 strong        {animation: loading_img 0.5s   ease-in-out forwards;}
.sec2.active .sec2_title h2 em            {animation: loading_img 0.8s 0.4s ease-in-out forwards;}
.sec2.active .sec2_title h2 strong:before {animation: loading_img_before 0.5s ease-in-out forwards;}
.sec2.active .sec2_title h2 em:before     {animation: loading_img_before 0.8s 0.4s ease-in-out forwards;}

@keyframes loading_img {
  0% {opacity: 0;}
  50% {opacity: 0;}
  50.001% {opacity: 1;}
  100% {opacity: 1;}
}
@keyframes loading_img_before {
  0% {transform: translateX(-100%);}
  50% {transform: translateX(0);}
  50.001% {transform: translateX(0);}
  100% {transform: translateX(100%);}
}




#sec2 > div {transition: all 0.6s ease-in-out;}
.sec_site1 {opacity:0; transition: opacity 0.5s 0.2s ease}
.sec_site2 {opacity:0; transition: opacity 0.5s 0.2s ease}
.sec_site3 {opacity:0; transition: opacity 0.5s 0.2s ease} 
.sec_site4 {opacity:0; transition: opacity 0.5s 0.2s ease}

.sec_site1 .ss1_tit {opacity: 0; transition: opacity 0.9s 0.7s ease}
.sec_site1 .ss1_desc {opacity: 0; transition: opacity 0.5s 1.1s ease}
.sec_site1 .ss1_ul {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site1 .table_wrap {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site1 .ss1_btn {opacity: 0; transition: opacity 0.5s 1.5s ease}

.sec_site2 .ss1_tit {opacity: 0; transition: opacity 0.9s 0.7s ease}
.sec_site2 .ss1_desc {opacity: 0; transition: opacity 0.5s 1.1s ease}
.sec_site2 .ss1_ul {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site2 .table_wrap {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site2 .ss1_btn {opacity: 0; transition: opacity 0.5s 1.5s ease}

.sec_site3 .ss1_tit {opacity: 0; transition: opacity 0.9s 0.7s ease}
.sec_site3 .ss1_desc {opacity: 0; transition: opacity 0.5s 1.1s ease}
.sec_site3 .ss1_ul {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site3 .table_wrap {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site3 .ss1_btn {opacity: 0; transition: opacity 0.5s 1.5s ease}

.sec_site4 .ss1_tit {opacity: 0; transition: opacity 0.9s 0.7s ease}
.sec_site4 .ss1_desc {opacity: 0; transition: opacity 0.5s 1.1s ease}
.sec_site4 .ss1_ul {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site4 .table_wrap {opacity: 0; transition: opacity 0.5s 1.5s ease}
.sec_site4 .ss1_btn {opacity: 0; transition: opacity 0.5s 1.5s ease}

#sec2 > div.active {transform: none;}
.sec_site1.active {opacity:1; } 
.sec_site2.active {opacity:1; } 
.sec_site3.active {opacity:1; } 
.sec_site4.active {opacity:1; } 

.sec_site1.active .ss1_tit {opacity:1; }
.sec_site1.active .ss1_desc {opacity:1; }
.sec_site1.active .ss1_ul {opacity:1; }
.sec_site1.active .table_wrap {opacity:1; }
.sec_site1.active .ss1_btn {opacity:1; }

.sec_site2.active .ss1_tit {opacity:1; }
.sec_site2.active .ss1_desc {opacity:1; }
.sec_site2.active .ss1_ul {opacity:1; }
.sec_site2.active .table_wrap {opacity:1; }
.sec_site2.active .ss1_btn {opacity:1; }

.sec_site3.active .ss1_tit {opacity:1; }
.sec_site3.active .ss1_desc {opacity:1; }
.sec_site3.active .ss1_ul {opacity:1; }
.sec_site3.active .table_wrap {opacity:1; }
.sec_site3.active .ss1_btn {opacity:1; }

.sec_site4.active .ss1_tit {opacity:1; }
.sec_site4.active .ss1_desc {opacity:1; }
.sec_site4.active .ss1_ul {opacity:1; }
.sec_site4.active .table_wrap {opacity:1; }
.sec_site4.active .ss1_btn {opacity:1; }



.sec2 .sec_site1 {padding-top: 6%; height: 800px; background: url(../img/webstandard.png) no-repeat right top;}
.sec2 .sec_site2 {margin-top: 15%; height: 800px; background: url(../img/responsive.png) no-repeat right top;}
.sec2 .sec_site3 {margin-top: 15%; height: 800px; background: url(../img/megabox.png) no-repeat right top;}
.sec2 .sec_site4 {margin-top: 15%; height: 800px; background: url(../img/pickple.png) no-repeat right top;}


.sec2 .ss1_tit {position: relative; z-index: 1; font-size: 45px; font-weight: 800; font-family: 'K2D'; color: #4f4f4f; text-transform: uppercase; padding-left: 20px;}
.sec2 .ss1_tit:before {content: '01'; opacity: 0.21; z-index: -1; position: absolute; left: 0; top: -60px; font-size: 85px; font-weight: 700; color: #30b7e8;}
.sec2 .ss1_desc {padding-left: 20px; font-family: 'nanumsquare'; font-size: 19px; padding-top: 3%;}
.sec2 .ss1_desc strong {position: relative; z-index: 1; font-weight: normal; display: inline-block;}
.sec2 .ss1_desc strong:before {content: ''; width: 100%; height: 7px; position: absolute; z-index: -1; left: 0; bottom: 3px; border-radius: 10px; background: #30b7e8; opacity: 0.3; transition: all 0.3s ease; cursor: crosshair;}
.sec2 .ss1_desc strong:hover:before {opacity: 1;}
.sec2 .ss1_ul {padding: 3% 0 0 20px}
.sec2 .ss1_ul li {font-size: 14px; color: #716b7f; padding-bottom: 7px; text-transform: uppercase; font-family: 'Open Sans'; }
.sec2 .ss1_ul li span {display: inline-block; margin: 0 5px; width: 20px; height: 20px; vertical-align: -5px; border-radius: 50%; }
.sec2 .ss1_ul li .c1 {background: #25A6D9;}
.sec2 .ss1_ul li .c2 {background: #D9C14A;}
.sec2 .ss1_ul li .c3 {background: #F2C063;}
.sec2 .ss1_ul li .c4 {background: #F2F2F2;}
.sec2 .ss1_ul li .c5 {background: #f2295f;}
.sec2 .ss1_ul li .c6 {background: #312bd9;}
.sec2 .ss1_ul li .c7 {background: #25a6d9;}
.sec2 .ss1_ul li .c8 {background: #f2cb05;}
.sec2 .ss1_ul li .c9 {background: #063573;}
.sec2 .ss1_ul li .c10 {background: #f2cb05;}
.sec2 .ss1_ul li .c11 {background: #f2b705;}
.sec2 .ss1_ul li .c12 {background: #f28379;}
.sec2 .table_wrap {padding: 20px 20px 15px 20px; width: 550px; }
.sec2 .table_wrap table {width: 100%; text-align: left; border-spacing:0px; border-collapse:collapse;}
.sec2 .table_wrap table th {border-bottom: 2px solid #ccc; padding: 10px 10px 10px 0px;}
.sec2 .table_wrap table td {border-bottom: 1px solid #ccc; padding: 10px 10px 10px 0px;}
.sec2 .ss1_btn {padding: 0px 20px 20px 340px; margin-top: 4%; }
.sec2 .ss1_btn .cta {position: relative;margin: auto; padding: 19px 22px;transition: all 0.2s ease;}
.sec2 .ss1_btn .cta:before {content: "";position: absolute;top: -4px;left: 0;display: block;border-radius: 28px; background: rgba(84, 190, 232, .3); width: 56px;height: 56px;transition: all 0.3s ease;}
.sec2 .ss1_btn .cta span {position: relative;font-size: 26px;line-height: 26px;font-weight: 900;padding-top: 5px;text-transform: uppercase;font-family: 'K2D';}
.sec2 .ss1_btn .cta svg {position: relative;top: -5px;margin-left: 10px;fill: none;stroke-linecap: round;stroke-linejoin: round;stroke: #111;stroke-width: 2;transform: translateX(-5px);transition: all 0.3s ease;transform: scale(1.5);}
.sec2 .ss1_btn .cta:hover:before {width: 100%; background: #25a6d9;}
.sec2 .ss1_btn .cta:hover svg {transform: translateX(0);}
.sec2 .ss1_btn .cta:hover span {color: #fff;}
.sec2 .ss1_btn .cta:hover svg {stroke: #fff;}
.sec2 .underline {position: relative; z-index: 1;}
.sec2 .underline:before {content: ''; width: 100%; height: 5px; position: absolute; z-index: -1; left: 0; bottom: 0px; border-radius: 5px; background: #30b7e8; opacity: 0.3; transition: all 0.3s ease; cursor: crosshair;}
.sec2 .underline:hover:before {opacity: 1; color: #000;}

.sec2 .right {background-position: left top; }
.sec2 .right .textright {float: right; margin-top: 7%;}
.sec2 .right .ss1_btn svg {transform: scaleX(-1); filter: FlipH; -ms-filter:"FlipH"}
.sec2 .right .ss1_btn .cta:before {left:auto; right: 0;}
.sec2 .right .ss1_btn .cta:hover svg {transform: scaleX(-1); filter: FlipH; -ms-filter:"FlipH"}
.sec2 .right .ss1_btn {margin-top: 10%; padding: 0px 0px 20px 0px;}

.sec3 .sec_site3 .textleft {margin-top: 5%;}
.sec_site2 .ss1_tit:before {content: '02'}
.sec_site3 .ss1_tit:before {content: '03'}
.sec_site4 .ss1_tit:before {content: '04'}
.sec_site5 .ss1_tit:before {content: '05'}

/* section5 */

#section5 .person {width: 250px; position: fixed; bottom: 30px; left: 200px; z-index: 1000;}
#section5 .person img {width: 100%;}
#section5 .cbox1 {position: fixed; right: -1020px; bottom: 150px; z-index: 100; width: 1000px; height: 500px;}


/* cbox1 */
.ani-box {width: 500px;height: 500px; position: relative; float: left; border-radius: 50%;}
.ani-box h2 {opacity: 0.8; position: absolute; left: 50%; top: 11%; transform: translate(-50%, -10%); font-size: 26px;line-height: 60px;font-family: 'K2D'; color: #fff;}
.ani-box h2.bk {color: #2f1c4a;}
.ani-box h2:before {content: ""; position: absolute; top: 0px; left: -22px; display: block; border-radius: 28px; background: rgba(255,255,255,0.3); width: 56px; height: 56px; transition: all 0.3s ease;}
.cbox1:before { content: '';position: absolute; left: 0; top: 45%; transform: translateY(-45%); width: 2010px; height: 1px; border-top: 1px solid #666; z-index: -1;}
.cbox1:last-child:after {content: '';position: absolute; right: -300px; top: 45%; transform: translateY(-45%); width: 10px; height: 10px; border-radius: 50%; background-color: #666;}
.cbox1:last-child:before {width: 1300px;}


/* ani-box */
.ani-box .animation {opacity: 0; position: absolute; left: 2px; top: 2px; width: 100%; height: 100%; background: #1d1d1d; border-radius: 50%; transition: all 0.8s  ease;}
.ani-box img {border-radius: 50%; border: 2px solid #666;}
.ani-box:hover .animation {display: block; opacity: 1; transition: all 0.8s ease;}
.ani-box:hover + .ani-textbox {color: #fff;}
.ani-box:hover + .ani-textbox h2 {color: #fff;}
.ani-box:hover:before {opacity: 0;}
.ani-box:before {content: '';position: absolute; left: 12px;top: -12px; width: 100%;height: 100%;border: 2px solid #666;transition: opacity 0.3s ease; border-radius: 50%;}


/* code-view */
.code-view {position: absolute; right: 38%; bottom: 8%; display: inline-block; border: 1px solid #eee; padding: 10px 18px; font-size: 16px; overflow: hidden; z-index: 100; transition: all 0.3s 0.3s ease; color: #fff; border-radius: 50px;}
.code-view:before {opacity: 0; content:''; position: absolute; top: 50%; left: 50%; width: 0%; height: 300%;	border: 3px solid #fff; transform: translateY(-50%) translateX(-50%) rotate(-70deg); transition: all 400ms ease-in;}
.code-view:hover:before {width: 100%; opacity: 1;}
.code-view:hover {background: #000;}


.code-view2 {position: absolute; right: 38%; bottom: 8%; display: inline-block; border: 1px solid #796969; padding: 10px 18px; font-size: 16px; overflow: hidden; z-index: 100; transition: all 0.3s 0.3s ease; color: #796969; border-radius: 50px;}
.code-view2:before {opacity: 0; content:''; position: absolute; top: 50%; left: 50%; width: 0%; height: 300%;	border: 3px solid #fff; transform: translateY(-50%) translateX(-50%) rotate(-70deg); transition: all 400ms ease-in;}
.code-view2:hover:before {width: 100%; opacity: 1;}
.code-view2:hover {background: #000; color: #fff}

.code-view3 {position: absolute; right: 38%; bottom: 8%; display: inline-block; border: 1px solid #796969; padding: 10px 18px; font-size: 16px; overflow: hidden; z-index: 100; transition: all 0.3s 0.3s ease; color: #fff; border-radius: 50px; background: rgba(21, 50, 92, 0.71);}
.code-view3:before {opacity: 0; content:''; position: absolute; top: 50%; left: 50%; width: 0%; height: 300%;	border: 3px solid #fff; transform: translateY(-50%) translateX(-50%) rotate(-70deg); transition: all 400ms ease-in;}
.code-view3:hover:before {width: 100%; opacity: 1;}
.code-view3:hover {background: #000; color: #fff}


/* ani-textbox */
.ani-textbox {float: left; font-family: 'K2D'; width: 500px; height: 500px; color: #999; padding-left: 5%; box-sizing: border-box; position: relative; transition: color 0.5s ease;}
.ani-textbox h2 {color: #999; font-size: 60px; font-weight: 500; transition: color 0.5s ease;}
.ani-textbox h2 span {display: inline-block;}
.ani-textbox h2 .number {font-size:84px; font-weight: bold; vertical-align: 80px; padding-right: 3%; letter-spacing: -5px;}
.ani-textbox h2 .number  em {font-size: 60px;}
.ani-textbox p {padding-top: 25%; line-height: 24px; word-break: keep-all;}


/* rocket ani */
.animation:before, .animation:after {box-sizing:border-box;}
.animation {background: #272840; overflow:hidden;}
.roket-container {
	width: 220px; height: 380px;
	position: absolute;
	left: 0;top: 0;right: 0;bottom: 0;
	margin: auto;
	animation: vibration 0.2s infinite;
}
@keyframes vibration {
	0%   {transform : translate(0,0) rotate(45deg);}
	50%  {transform : translate(1px,-1px) rotate(45deg);}
	100% {transform : translate(0,0) rotate(45deg);}
}

.capsule {
	width: 111px; height: 154px;
	overflow: hidden;
	position: absolute;left: 46px; top: 5px;
	z-index: 100;
}

.capsule .top {
	position: absolute; left: 0;
	width: 0; height: 0; padding: 0;
	border-bottom: 62px solid #f3f3f3;
	border-left: 56px solid transparent;
	border-right: 56px solid transparent;
}
.capsule .top:after {
	content: '';
	position: absolute; left: 25px; top: -14px;
	width: 0; height: 0;
	border-bottom: 84px solid #1d1d1d;
	border-left: 0px solid transparent;
	border-right: 156px solid transparent;
	transform: skew(42deg);
}

.capsule .top .shadow {
	position: absolute;
	width: 0; height: 0;
	border-bottom: 90px solid #e0e0e0;
	border-left: 20px solid transparent;
	border-right: 80px solid transparent;
	transform: skew(25deg)
			
}
.capsule .base {
	position: absolute; top: 0; top: 62px;
	width: 112px; height: 99px;
	background: linear-gradient(to right, #f3f3f3 63%, #e0e0e0 63%);
}

.window-big {
	width: 70px; height: 70px;
	background-color: #2E2680;
	border-radius: 50%;
	position: absolute; top: 57px; left: 66px;
	z-index: 110;
}
.window-small {
	width: 44px;; height: 44px;
	background:url(http://jeongah2651.dothome.co.kr/assets/ico/icon.png);
	background-size: cover;
	border-radius: 50%;
	position: absolute; top: 70px; left: 79px;
	z-index: 120;
}
.wing-left {
	position: absolute;
	left: 16px; top: 82px; 
	height: 103px; width: 0; padding: 0;
	border-right: 38px solid #2E2680;
	border-bottom: 19px solid transparent;
	border-top: 21px solid transparent;
}
.wing-left:after {
	content: '';
	position: absolute; bottom: -50px;
	width: 0; height: 0;
	border-top: 20px solid transparent;
	border-right: 50px solid #1d1d1d;
	border-bottom: 50px solid transparent;
}

.wing-right {
	position: absolute;
	height: 97px; width: 0; padding: 0;
	top: 67px; right: 30px;
	border-right: 40px solid #2E2680;
	border-bottom: 15px solid transparent;
	border-top: 0px solid transparent;
	transform: rotate(-10deg) skew(-5deg);
}
.wing-right:after {
	content: '';
	position: absolute; top: -33px; left: -58px;
	width: 101px; height: 0;
	border-top: 23px solid transparent;
	border-right: 68px solid #1d1d1d;
	border-bottom: 45px solid transparent;
    box-sizing: border-box;
}
.tail {
	position: absolute;
	width: 101px; height: 0;
	top: 153px; left: 51px; 
	border-top: 23px solid #2E2680;
	border-left: 9px solid transparent;
	border-right: 8px solid transparent;
	z-index: 100;
}
.fire-1 {
	position: absolute; z-index:90;
	left: 64px; top: 169px; 
	width: 70px; height: 70px; 
	background: linear-gradient(135deg, #ef8832 50%, #e82134 50%);
	transform: rotate(-40deg) skew(1deg, -11deg);
	animation: main_fire 0.1s ease-in infinite;
}
@keyframes main_fire {
	0% {transform : translate(0, 5px) scale(1.1, 1) rotate(-33deg) skew(0deg, -30deg);}
	100% {transform : translate(0, 0) scale(1.1, 2) rotate(-33deg) skew(0deg, -30deg);}
}

.fire-2 {
	position: absolute; z-index:90;
	left: 63px; top: 230px; 
	width: 33px; height: 33px; 
	background: linear-gradient(135deg, #ef8832 50%, #e82134 50%);
	transform: rotate(-33deg) skew(1deg, -30deg);
	animation: fire-2 0.3s ease-in infinite;
}
@keyframes fire-2 {
	0% {transform : translate(0, -10px) scale(1) rotate(-33deg) skew(0deg, -30deg);opacity:1; }
	100% {transform :translate(0, 50px) scale(0.7) rotate(-33deg) skew(0deg, -30deg); opacity:0; }
}
.fire-3 {
	position: absolute; z-index:90;
	left: 50px; top: 196px; 
	width: 22px; height: 22px; 
	background: linear-gradient(135deg, #ef8832 50%, #e82134 50%);
	transform: rotate(-33deg) skew(1deg, -30deg);
	animation: fire-2 0.2s ease-in infinite;
}
.fire-4 {
	position: absolute; z-index:90;
	left: 126px; top: 200px; 
	width: 22px; height: 22px; 
	background: linear-gradient(135deg, #ef8832 50%, #e82134 50%);
	transform: rotate(-33deg) skew(1deg, -30deg);
	animation: fire-2 0.1s ease-in infinite;
}
.spark-1 {
	position: absolute; 
	left: 40px; bottom: 77px;
	width: 12px; height: 12px;
	background-color: #e82134;
	animation: spark-fire 0.24s infinite;
}
@keyframes spark-fire {
	0% {transform : translate(0, -10px);opacity:1; }
	100% {transform :translate(0, 50px); opacity:0; }
}
.spark-2 {
	position: absolute; 
	left: 132px; bottom: 68px;
	width: 10px; height: 10px;
	background-color: #ef8b32;
	animation: spark-fire 0.24s 0.12s infinite;
}
.spark-3 {
	position: absolute; 
	left: 109px; bottom: 80px;
	width: 10px; height: 10px;
	background-color: #e82134;
	animation: spark-fire 0.24s infinite;
}
.spark-4 {
	position: absolute; 
	left: 83px; bottom: 20px;
	width: 10px; height: 10px;
	background-color: #ef8b32;
	animation: spark-fire 0.24s infinite;
}
.star {
	position: absolute;
	width: 4px; height: 20px; 
	border-radius: 50%;
	background: linear-gradient(135deg, #fc97e9 20%, #fafc9f 80%, #bdf4f9 100%) fixed;
	animation: space 0.4s infinite;
}
.star-1 {left: -110px; top: -10px; animation-delay: 0.5s}
.star-2 {left: 60px; top: -80px; animation-delay: 0.4s}
.star-3 {left: 80px; top: -70px; animation-delay: 0.5s}
.star-4 {left: 130px; top: -60px; animation-delay: 0.5s}
.star-5 {left: 140px; top: -40px; animation-delay: 0.3s}
.star-6 {left: 150px; top: -50px; animation-delay: 0.2s}
.star-7 {left: 5px; top: -30px; animation-delay: 0.1s}
.star-8 {left: 30px; top: -90px; animation-delay: 0.2s}
.star-9 {left: 170px; top: -100px; animation-delay: 0.3s}
.star-10 {left: -20px; top: -110px; animation-delay: 0.4s}
.star-11 {left: 280px; top: -120px; animation-delay: 0.5s}
.star-12 {left: 180px; top: -25px; animation-delay: 0.1s}
.star-13 {left: 330px; top: -200px; animation-delay: 0.5s}
.star-14 {left: -80px; top: -10px; animation-delay: 0.3s}
.star-15 {left: -50px; top: -300px; animation-delay: 0.1s}
.star-16 {left: -125px; top: -400px; animation-delay: 0.5s}
.star-17 {left: -200px; top: -10px; animation-delay: 0.2s}
.star-18 {left: 111px; top: -30px; animation-delay: 0.1s}
.star-19 {left: 350px; top: -20px; animation-delay: 0.3s}
.star-20 {left: 400px; top: -80px; animation-delay: 0.4s}

@keyframes space {
	0% {transform : translate(0, -100px) scale(1,0);opacity:1; }
	100% {transform :translate(0, 400px) scale(1,1); opacity:0; }
}

/* snowTown ani */

.animation #canvas2 {border: 1px solid #000; background: url("http://jeongah2651.dothome.co.kr/animation-canvas/img/bg.jpg") no-repeat;background-size:cover; width: 100%; height: 100%;}


/* svg ani */
.animation svg { 
    font-family: 'Righteous', cursive;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: #000;
}
#usetag {stroke-width:2; stroke:#fff; font-size: 200px; text-transform: uppercase; animation: stroke 3s infinite;}

@keyframes stroke {
	0%   {stroke-width:3;}
	50%  {stroke-width:0;}
	100% {stroke-width:3;}
}

/* jet ani */
.animation .jetani {width: 100%; height: 100%; }

/* hover ani */
.animation .hoverani {width: 100%; height: 100%; }

/* pal1 ani */
.animation .pal1 {width: 100%; height: 100%; }
 
/* pal2 ani */
.animation .pal2 {width: 168%; height: 100%; left: -36%; position: absolute; }





/* section6 */

#section6 {position: relative; width: 100%; height: 1500px; }

.sec6 {overflow: hidden;}
.sec6 .sec6_title { position: fixed;  z-index: 3; color: #01395B; font-family: 'K2D'; font-weight: bold;}
.sec6 .sec6_title h2 {font-size: 30px; font-weight: bold; }
.sec6 .sec6_title span {font-size: 20px; opacity:0.8;}
.sec6 .con_bg {position: fixed; bottom: -5px; left: 0; width: 100%; z-index: 2;}
.sec6 .con_bg img {}
.sec6 .con_bg:nth-child(5) {z-index: 1; } 


.sec6 .cloude1 {width: 20%; height: 50px; position: fixed;  left: 5%;  z-index: -2; animation: cloud 40s infinite alternate ease; }
.sec6 .cloude2 {width: 10%; height: 50px; position: fixed; right: 5%; z-index: -2; animation: cloud 60s infinite alternate ease;  } 
.sec6 .cloude3 {width: 15%; height: 50px; position: fixed; right: 5%; z-index: -2; animation: cloud 50s infinite alternate ease;  } 


@keyframes cloud {
  100% {transform: translateX(2000px);}
}


.sec6 .svg1 {animation: ani_1 5s infinite forwards;}
.sec6 .svg2 {animation: ani_2 5s infinite forwards;}
.sec6 .svg3 {animation: ani_3 5s infinite forwards;}
.sec6 .svg4 {animation: ani_4 10s infinite forwards; width: 220px;}
.sec6 .svg4 a {position: absolute; width: 155px; height: 74px; line-height: 74px; left: 2px; border-radius: 8px; text-align: center;font-size: 25px; font-family: 'K2D'; font-weight: bold; color: #00BD7F}
.sec6 .svg5 {animation: ani_4 10s infinite forwards;  width:220px; height: 74px; line-height: 74px; }
.sec6 .svg6 {animation: ani_4 10s infinite forwards;  width:700px; z-index: 10; }



/* contact Me popup */
.bubble {position: relative; width: 250px; height: 150px; padding: 0px; background: #FFFFFF; border-radius: 10px; box-shadow: 11px 5px 17px #474d52;}
.bubble:after {content: '';position: absolute;border-style: solid;border-width: 15px 0px 15px 15px;border-color: transparent #FFFFFF; display: block; width: 0; z-index: 1; right: -15px; top: 23px; transition: all 1s 0.2s ease;}
.bubble h1 {position: absolute; width: 155px; height: 74px; line-height: 74px; left: 2px; border-radius: 8px; text-align: center;font-size: 25px; font-family: 'K2D'; font-weight: bold; color: #00BD7F;}
.btn { margin: auto; position: absolute;top: 0;bottom: 0;right: 15px; background: #1abc9c url("../img/mailbox.svg") center center no-repeat;background-size: 30px;width: 50px;height: 50px;border-radius: 50%; box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); cursor: pointer; }
.btn:hover {background-color: rgba(26,188,156,0.5)}

.contactMe {display: none; z-index: 100; width: 700px; height: 540px; background-color: #fff;  position: absolute; left: 50%; top: 50%; margin-left: -250px; margin-top: -250px; padding: 30px; border-radius: 5px;  border:1.5px solid rgba(26,188,156,0.3);}
.contactMe h2 {font-size: 25px; font-family: 'K2D'; font-weight: bold; color: #00BD7F;}
.contactMe p {font-size: 13px; margin:15px 0 0 0; line-height: 20px;}
.contactMe .close2 {position: absolute; width: 40px; height: 40px; right: 20px; top: 40px;}
.contactMe .close2:hover {content: ''; width: 40px; height: 40px; border-radius: 50%; opacity: 0.5;}
.contactMe .border {width: 100%; height: 1px; background-color: rgba(204, 196, 196, 0.5); margin:36px 0; }
.contactMe input,
.contactMe textarea {font-size: 14px; padding: 10px 15px; border-radius: 2px; font-weight: 400; border: 1px solid rgba(204, 196, 196, 0.5); }
.contactMe form {line-height: 62px;}
.contactMe button {position: absolute; left: 42%; background-color: rgba(26,188,156,0.5); color: #fff; width: 100px; height: 40px; font-family: 'K2D'; font-weight: bold; font-size: 15px; border-radius: 50px; margin:0 auto; cursor: pointer;}
.contactMe button:hover {background-color:rgba(26,188,156,0.3)}

/* about Me popup*/
.bubble2 {width: 250px; height: 75px; padding: 0px;background: #FFFFFF;border-radius: 10px;box-shadow: 11px 5px 17px #474d52;}

.bubble2 h1 {position: absolute; width: 155px; height: 74px; line-height: 74px; left: 2px; border-radius: 8px; text-align: center;font-size: 25px; font-family: 'K2D'; font-weight: bold; color: #00BD7F;}
.bubble2 .btn { margin: auto; position: absolute;top: 0;bottom: 0;right: 15px; background: #1abc9c url("../img/profile.svg") center center no-repeat;background-size: 30px;width: 50px;height: 50px;border-radius: 50%; box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); cursor: pointer; }
.btn:hover {background-color: rgba(26,188,156,0.5)}

.aboutme {display: none; position: absolute; transform: translate(-50%,-50%); width: 600px; font-family: 'K2D';  }

.aboutme a {display: inline-block; transition: all ease 0.3s;text-decoration: none;color: #888;}
.aboutme .profile-box {background: #fff;border-radius: 5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);position: relative;overflow: hidden;}
.aboutme .profile-box .profile-picture {position: absolute;top: 240px; left: 30%; margin-left: -55px;}
.aboutme .profile-box .profile-picture img { border: 5px solid #fff; border-radius: 100%;box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); width: 100px; height: 100px;}

.aboutme .profile {width: 55%; float: left;}
.aboutme .profile .profile-cover-image { height: 300px; overflow: hidden;}
.aboutme .profile .profile-cover-image img { width: 100%;}
.aboutme .profile-content { padding: 40px 20px; text-align: center; margin-top: 30px;}
.aboutme .profile-content h1 { font-weight: normal; margin-bottom: 0.3em; font-size: 2em;}
.aboutme .profile-content ul li { text-align:left; list-style: none; color: #777; margin-bottom: 10px; line-height: 30px; padding: 5px;}
.aboutme .profile-content ul li:hover { background: rgba(0, 0, 0, 0.1); border-radius: 50px; padding: 5px;}
.aboutme .profile-content .socials {margin-top:30px;}
.aboutme .profile-content .socials a { color: #d2d2d2; margin: 0 15px;font-size: 1.6em; transform: translateY(4px);}
.aboutme .profile-content .socials a:hover {color: #aaa; transform: translateY(0);}
.aboutme .profile-box iframe { width: 45%; float: left;}

.aboutme .close2 {display: block;position: absolute; width: 40px; height: 40px; bottom: 20px; left:20px;}
.aboutme .close2:hover {content: ''; width: 40px; height: 40px; border-radius: 50%; opacity: 0.5;}




@keyframes ani_1 {
  0% {transform: translateY(0px);}
  30% {transform: translateY(15px);} 
  60% {transform: translateY(-15px);} 
  100% {transform: translateY(0px);}
}

@keyframes ani_2 {
  0% {transform: translateY(0px);}
  30% {transform: translateY(-15px);} 
  60% {transform: translateY(15px);} 
  100% {transform: translateY(0px);}
}

@keyframes ani_3 {
  0% {transform: translateY(0px);}
  30% {transform: translateY(30px);} 
  60% {transform: translateY(15px);} 
  100% {transform: translateY(0px);}
}

@keyframes ani_4 {
  0% {transform: translateY(0px);}
  30% {transform: translateY(40px);} 
  60% {transform: translateY(-10px);} 
  100% {transform: translateY(0px);}
}


/* mediaquery */
@media (max-width: 1420px){
    .container {width: 100%;}
}








